.social {
	&__title {
        margin-bottom: 19px;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        & + & {
            margin-left: 9px;
        }
    }

    &__link {
        display: block;
    }
}
