.social {
	&__title {
        margin-bottom: 19px;

        @media (max-width: $lg) {
            margin-bottom: 13px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        & + & {
            margin-left: 9px;
        }
    }

    &__link {
        display: flex;
    }
}
