.header {
    margin-bottom: 12px;
    position: relative;
    z-index: 100;
    background: $color-white;
    font-weight: 500;

    @media (max-width: $md) {
        margin-bottom: 6px;
    }

    &__top {
        background:$color-base;
    }

    &__inner {
        display: flex;
        align-items: center;

        @media (max-width: $md) {
            flex-wrap: wrap;
        }
    }

    &__authorization {
        margin-left: auto;
        padding-right: 3px;
    }

    &__link {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 14px 0;
        letter-spacing: 0;

        @media (max-width: $lg) {
            font-weight: 400;
        }

        & + & {
            margin-left: 14px;

            &:before {
                background: $color-white;
                content: '';
                height: 23px;
                width: 1px;
                position: absolute;
                left: -10px;
                top: 50%;
                margin-top: -12px;
            }
        }

        & .icon {
            margin-left: 8px;
            stroke: $color-white;
        }
    }

    &__middle {
        padding: 22px 0 9px;

        @media (max-width: $lg) {
            padding: 16px 0 0;
        }

        @media (max-width: $md) {
            padding-top: 11px;
        }
    }

    &__search {
        margin-left: 37px;
        padding-bottom: 6px;
        width: 37%;

        @media (max-width: $lg) {
            margin-left: 29px;
            margin-right: 29px;
            width: 46%;
        }

        @media (max-width: $md) {
            order: 1;
            width: 100%;
            margin: 3px 0 0;
        }

        & .elem-item {
            margin-bottom: 0;
        }
    }

    &__contacts {
        margin-left: auto;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 7px;
        letter-spacing: 0;

        @media (max-width: $md) {
            padding-bottom: 4px;
        }

        &-title {
            color: $color-red;
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;

            @media (max-width: $md) {
                font-size: 10px;
                line-height: 16px;
                font-weight: 800;
                color: $color-base;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 5px;
            }

            &-desc {
                @media (max-width: $md) {
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.1px;
                    color: $color-gray;
                    font-weight: 400;
                }
            }
        }

        &-icon {
            margin-right: 12px;
            flex-shrink: 0;
            position: relative;
            top: 3px;

            @media (max-width: $md) {
                margin-right: 3px;
                top: 0;
            }
        }

        &-phone {
            font-size: 22.6px;
            line-height: 26px;
            display: flex;
            align-items: center;
            margin-top: -5px;

            @media (max-width: $lg) {
                font-size: 31px;
                line-height: 36px;
                margin-top: 0;
            }

            @media (max-width: $md) {
                font-size: 22.6px;
                line-height: 26px;
                font-weight: 400;
                margin-bottom: 2px;
            }

            & .icon {
                margin-right: 9px;
                top: 3px;
                position: relative;
            }
        }

        &-desc {
            font-size: 11px;
            line-height: 15px;
            font-weight: 500;
            text-transform: uppercase;

            @media (max-width: $lg) {
                font-size: 13.7px;
                line-height: 16px;
                color: $color-gray;
                font-weight: 400;
            }

            @media (max-width: $md) {
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.1px;
                font-weight: 400;
                color: $color-base;
            }
        }
    }

    &__menu {
        display: flex;
        padding-bottom: 7px;
        margin-left: 62px;

        @media (max-width: $lg) {
            margin-left: auto;
        }

        @media (max-width: $md) {
            margin-left: 22px;
            width: calc(100% - 98px);
            padding-top: 2px;
        }
    }
}
