.order-icon {
    position: relative;

    &__list {
        margin-left: -19px;
        margin-right: -19px;

        @media (max-width: $lg) {
            margin-left: -10px;
            margin-right: -10px;
        }

        &--payment {
            margin-left: -10px;
            margin-right: -10px;

            & .order-icon__item {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    &__item {
        padding-left: 19px;
        padding-right: 19px;

        @media (max-width: $lg) {
            padding-left: 10px;
            padding-right: 10px;
        }

        @media (max-width: $md) {
            margin-bottom: 17px;
        }

        &:last-child {
            @media (max-width: $md) {
                margin-bottom: 0;
            }
        }

        &:hover {
            color: $color-base;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color-gray-light;
        border-radius: 12px;
        padding: 21px 20px 14px;
        height: 100%;
        transition: all .3s ease-in-out;

        @media (max-width: $md) {
            flex-direction: row;
            padding: 13px 11px 10px;
        }

        .active & {
            border-color: $color-red;
        }

        &:hover {
            border-color: $color-red;
            transition: all .3s ease-in-out;
        }

        &--direction-row {
            flex-direction: row;

            @media (max-width: $md) {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            
            .order-icon__info {
                max-width: 150px;

                @media (min-width: $md + 1) {
                    max-width: none;
                    margin-left: 10px;
                }

                @media (min-width: $lg + 1) {
                    max-width: 150px;
                }

                .elem-radio:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__info {
        font-size: 12px;
        line-height: 15px;

        & .elem-radio {
            font-weight: 800;
            margin-bottom: 0;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &__span {
                padding-left: 30px;

                @media (max-width: $md) {
                    font-size: 10px;
                    line-height: 14px;
                    padding-left: 33px;
                }
            }
        }
    }

    &__icon {
        margin-bottom: 14px;
        display: flex;
        height: 92px;
        align-items: center;
        justify-content: center;

        @media (max-width: $md) {
            height: 48px;
            width: 48px;
            margin-bottom: 0;
            margin-right: 20px;
        }
    }

    &__detail {
        display: none;
        border: 1px solid $color-gray-light;
        border-radius: 8px;
        padding: 24px;
        margin-top: 40px;
        font-size: 12px;
        line-height: 14px;

        @media (max-width: $lg) {
            margin-top: 27px;
            font-size: 13px;
            line-height: 19px;
            padding: 23px 19px 20px;
        }

        @media (max-width: $md) {
            margin-top: 24px;
            font-size: 12px;
            line-height: 17px;
            padding: 16px 15px 15px;
        }

        &-title {
            font-size: 12px;
            line-height: 24px;
            font-weight: 800;
            margin-bottom: 8px;

            @media (max-width: $lg) {
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 10px;
            }

            @media (max-width: $md) {
                font-size: 10px;
                line-height: 14px;
                margin-bottom: 9px;
            }
        }

        &-btn {
            margin-top: 18px;

            @media (max-width: $lg) {
                margin-top: 26px;
            }

            @media (max-width: $md) {
                margin-top: 23px;
            }

            & .elem-btn {
                padding: 0 55px;

                @media (max-width: $lg) {
                    padding: 0 35px;
                    height: 44px;
                    font-size: 13px;
                    line-height: 16px;
                }

                @media (max-width: $md) {
                    font-size: 12px;
                    letter-spacing: 0.2px;
                    padding: 0 33px;
                }
            }
        }
    }

    &__pay {
        margin-top: 40px;
        display: none;
        position: relative;

        @media (max-width: $lg) {
            margin-top: 27px;
        }

        &-title {
            font-size: 12px;
            line-height: 15px;
            font-weight: 800;
            color: $color-gray;
            margin-top: -3px;
            margin-bottom: 8px;

            @media (max-width: $lg) {
                margin-bottom: 13px;
                font-size: 13px;
                line-height: 16px;
            }
        }

        &-info {
            @media (max-width: $lg) {
                position: absolute;
                // left: calc(100% - 15px);
                left: calc(100% - 190px);
                top: 42px;
                width: 28%;
            }

            @media (max-width: $md) {
                position: relative;
                left: auto;
                top: auto;
                width: 100%;
                margin-bottom: 8px;
            }
        }

        &-card {
            @media (max-width: $lg) {
                margin-top: -17px;
            }
        }
    }
}
