.collections {
    display: block;
    padding: 0 50px 40px;

    @media (max-width: 1439px) {
        padding: 0 36px 32px;
    }

    @media (max-width: 1170px) {
        padding: 12px 0px 29px;
    }

    .order-xl-1 + & {
        margin-top: 12px;
        margin-bottom: -10px;
    }

    &__row {
        display: flex;
        align-items: flex-start;

        @media (max-width: $md) {
            display: block;
        }

        &--stretch {
            align-items: stretch;

            @media (max-width: $md) {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &.swiper-slide {
            @media (max-width: $md) {
                display: flex;
            }
        }
    }

    &__col {
        width: calc(50% - 15px);
        display: flex;

        @media (max-width: 1439px) {
            width: calc(50% - 10px);
        }

        @media (max-width: 1170px) {
            width: calc(50% - 8px);
        }

        @media (max-width: $md) {
            width: 100%;
        }

        & + & {
            margin-left: 29px;

            @media (max-width: 1439px) {
                margin-left: 20px;
            }

            @media (max-width: 1170px) {
                margin-left: 16px;
            }

            @media (max-width: $md) {
                margin-left: 0;
                margin-top: 16px;
            }

            @media (max-width: $sm) {
                margin-top: 10px;
            }
        }

        & .swiper-container {
            margin: 0;
            width: 100%;
            position: relative;
            padding: 0;

            @media (max-width: 1170px) {
                padding-bottom: 19px;
            }
        }

        & .swiper-buttons {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 71px;
            background-color: $color-white;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 262px;

            @media (max-width: 1170px) {
                display: none;
            }
        }

        & .swiper-button-next,
        & .swiper-button-prev {
            left: auto;
            right: auto;
            top: auto;
            z-index: 1;
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50005 24C4.50005 34.7695 13.2305 43.5 24 43.5C34.7696 43.5 43.5 34.7695 43.5 24C43.5 13.2304 34.7696 4.49996 24 4.49996C13.2305 4.49995 4.50005 13.2304 4.50005 24ZM24 44.5C12.6782 44.5 3.50005 35.3218 3.50005 24C3.50005 12.6781 12.6782 3.49995 24 3.49996C35.3219 3.49996 44.5 12.6781 44.5 24C44.5 35.3218 35.3219 44.5 24 44.5Z' fill='%23101010'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.6567 33.3635C19.4559 33.1739 19.4469 32.8574 19.6365 32.6567L27.8123 24L19.6365 15.3433C19.4469 15.1426 19.4559 14.8261 19.6567 14.6365C19.8574 14.4469 20.1739 14.4559 20.3635 14.6567L28.8635 23.6567C29.0455 23.8494 29.0455 24.1506 28.8635 24.3433L20.3635 33.3433C20.1739 33.5441 19.8574 33.5531 19.6567 33.3635Z' fill='%23101010'/%3E%3C/svg%3E%0A");
            height: 48px;
            width: 48px;
            margin: 0;
            position: relative;
        }

        & .swiper-button-next {
            margin-left: 20px;
        }

        & .swiper-pagination {
            display: none;

            @media (max-width: 1170px) {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding-left: 158px;
                z-index: 1;
            }

            @media (max-width: $md) {
                padding-left: 0;
            }
        }

        & .swiper-pagination-bullet {
            background: #FFFFFF;
            border: 0.8px solid #101010;
            margin: 0 5px;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            cursor: pointer;

            &-active {
                background: #F61D2A;
                border-color: #F61D2A;
            }
        }
    }

    &__banner {
        width: 262px;
        flex-shrink: 0;
        margin-right: 15px;
        position: relative;
        // padding: 70px 0 69px;

        @media (max-width: 1170px) {
            width: 152px;
            margin-right: 8px;
            padding: 0;
        }

        @media (max-width: $md) {
            width: 40%;
        }

        &--slider {
            margin-bottom: 71px;
            // padding-bottom: 70px;
            height: calc(100% - 71px);

            @media (max-width: 1170px) {
                height: 100%;
                margin-bottom: 0;
                padding: 0;
            }
        }

        &--right {
            width: 217px;
            margin-left: 16px;
            flex-shrink: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;

            @media (max-width: 1170px) {
                width: 182px;
                margin-left: 28px;
            }

            @media (max-width: $md) {
                width: 33%;
                margin-left: 0;
                order: -1;
            }

            @media (max-width: $sm) {
                width: 42%;
            }

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-title {
            position: absolute;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            color: $color-base;
            background: no-repeat 0 0;
            // background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 262 137' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H262V113L0 137V0Z' fill='%23FEE600'/%3E%3C/svg%3E%0A");
            background-size: 100% auto;
            left: 0;
            top: 0;
            width: 100%;
            padding: 24px;
            height: 137px;

            @media (max-width: 1170px) {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.2px;
                height: auto;
                background: none;
                padding: 28px;
            }

            @media (max-width: $sm) {
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0;
                padding: 7px 8px;
            }
        }

        &:hover &-title {
            color: $color-red;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:after {
            // content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 99px;
            background: no-repeat 0 0;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 262 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M262 99H0V17.3431L262 0V99Z' fill='%23FEE600'/%3E%3C/svg%3E%0A");
            background-size: 100% auto;

            @media (max-width: 1439px) {
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 262 137' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M262 137H0V24L262 0V137Z' fill='%23FEE600'/%3E%3C/svg%3E%0A");
                height: 137px;
            }

            @media (max-width: 1170px) {
                display: none;
            }
        }

        &--slider:after {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 262 137' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M262 137H0V24L262 0V137Z' fill='%23FEE600'/%3E%3C/svg%3E%0A");
            height: 137px;
        }

        &--right:after {
            display: none;
            padding-top: 0;
            padding-bottom: 0;
        }

        & .elem-btn {
            display: none;

            @media (max-width: 1170px) {
                display: flex;
                position: absolute;
                left: 20px;
                right: 20px;
                bottom: 28px;
                min-width: 0;
                width: auto;
            }

            @media (max-width: $md) {
                left: 8px;
                right: 8px;
                bottom: 12px;
            }

            @media (max-width: $sm) {
                bottom: 12px;
                width: calc(100% - 16px);
                max-width: 112px;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }

    &__card {
        width: 324px;
        margin-right: 16px;
        flex-shrink: 0;

        @media (max-width: 1439px) {
            margin-right: 11px;
        }

        @media (max-width: 1170px) {
            width: 239px;
            margin-right: 28px;
        }

        @media (max-width: $md) {
            width: calc(67% - 10px);
            margin-right: 10px;
            order: -2;
        }

        @media (max-width: $sm) {
            width: calc(58% - 10px);
        }

        & .card {
            height: auto;

            @media (max-width: 1439px) {
                height: calc(100% - 90px);
            }

            @media (max-width: 1279px) {
                height: calc(100% - 63px);
            }

            @media (max-width: 1170px) {
                height: calc(100% - 71px);
            }

            @media (max-width: $md) {
                height: calc(100% - 47px);
            }
        }
    }

    &__title {
        padding-top: 0;

        @media (max-width: 1170px) {
            margin-bottom: 28px;
        }

        @media (max-width: $md) {
            margin-bottom: 18px;
        }
    }

    &__list {
        width: calc(100% + 16px);
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;

        @media (max-width: 1439px) {
            margin: 0 -3px;
            width: calc(100% + 6px);
        }

        @media (max-width: 1170px) {
            margin: 0 -5px;
            width: calc(100% + 10px);
        }

        @media (max-width: $md) {
            margin: 0 -8px;
            width: calc(100% + 16px);
        }

        @media (max-width: $sm) {
            margin: 0 -4px;
            width: calc(100% + 8px);
        }
    }

    &__card + &__list {
        @media (max-width: $md) {
            margin-top: 16px;
        }

        @media (max-width: $sm) {
            margin-top: 11px;
        }
    }

    &__item {
        width: calc(50% - 16px);
        margin: 0 8px 16px;

        @media (max-width: 1439px) {
            width: calc(50% - 6px);
            margin: 0 3px 15px;
        }

        @media (max-width: 1170px) {
            width: calc(50% - 10px);
            margin: 0 5px 10px;
        }

        @media (max-width: $md) {
            width: calc(50% - 16px);
            margin: 0 8px 16px;
        }

        @media (max-width: $sm) {
            width: calc(50% - 8px);
            margin: 0 4px 7px;
        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
            margin-bottom: 0;
        }

        &--min {
            width: calc(25% - 16px);

            @media (max-width: 1439px) {
                width: calc(25% - 6px);
            }

            @media (max-width: 1170px) {
                width: calc(33% - 12px);
                margin-left: 6px;
                margin-right: 6px;
            }

            @media (max-width: 1024px) {
                width: calc(50% - 12px);
            }

            @media (max-width: $md) {
                width: calc(100% / 3 - 12px);
            }

            @media (max-width: $sm) {
                width: calc(50% - 12px);
            }

            &:nth-last-child(3),
            &:nth-last-child(4) {
                margin-bottom: 0;
            }

            &:nth-child(n + 3) {
                @media (max-width: 1170px) {
                    margin-bottom: 0;
                }
            }

            &:nth-child(n + 5) {
                @media (max-width: 1024px) {
                    display: none;
                }

                @media (max-width: $md) {
                    display: block;
                }
            }

            &:nth-child(n + 7) {
                @media (max-width: 1170px) {
                    display: none;
                }

                @media (max-width: $md) {
                    display: none;
                }
            }

            &:nth-child(n + 5) {
                @media (max-width: $sm) {
                    display: none;
                }
            }

            & .card__info {
                display: block;
            }

            & .card__img {
                @media (max-width: 1170px) {
                    height: 118px;
                }

                @media (max-width: $md) {
                    height: auto;
                    max-height: 150px;
                    overflow: hidden;
                }

                & a {
                    & img {
                        @media (max-width: $md) {
                            top: 0;
                            transform: none;
                        }
                    }
                }
            }

            & .card__price {
                @media (max-width: $md) {
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                & .elem-price {
                    @media (max-width: $md) {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                & .elem-price-old {
                    @media (max-width: $md) {
                        font-size: 12px;
                        line-height: 14px;
                        order: 1;
                        margin-left: 4px;
                        margin-bottom: -3px;
                        top: 0;
                    }
                }
            }
        }
    }
}
