.tabs {
    display: block;
    margin-bottom: 27px;

    @media (max-width: $lg) {
        margin-bottom: -12px;
    }

    @media (max-width: $md) {
        margin-bottom: -7px;
    }

    &--inner {

        @media (max-width: $lg) {
            margin-top: -7px;
        }

        @media (max-width: $md) {
            margin-top: -4px;
        }
    }

    .step__title {
        display: none;
        @media (max-width: $lg) {
            display: block;
        }
    }

    &__head {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 20px;

        @media (max-width: $lg) {
            margin-bottom: 20px;
        }

        @media (max-width: $md) {
            margin-bottom: 16px;
        }

        &-item {
            & + & {
                margin-left: 64px;

                @media (max-width: $lg) {
                    margin-left: 20px;
                }

                @media (max-width: $md) {
                    margin-left: 6px;
                }
            }
        }

        &-in {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            @media (max-width: $lg) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                   -moz-box-orient: vertical;
                   -moz-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }

            & .icon {
                margin-right: 8px;

                @media (max-width: $lg) {
                    margin-right: 0;
                    margin-left: 0;
                    margin-bottom: 12px;
                }

                @media (max-width: $md) {
                    height: 52px;
                    width: 52px;
                }
            }

            &:hover {
                color: inherit;
            }
        }

        &-link {
            border: 1px solid $color-base;
            -webkit-border-radius: 24px;
               -moz-border-radius: 24px;
                    border-radius: 24px;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            height: 48px;
            min-width: 152px;
            padding: 3px 16px;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -moz-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            @media (max-width: $lg) {
                font-size: 12px;
                line-height: 15px;
                height: 44px;
                min-width: 128px;
            }

            @media (max-width: $md) {
                font-size: 10px;
                line-height: 16px;
                height: 32px;
                min-width: 62px;
                padding: 3px 6px;
            }

            &:hover {
                // background: $color-base;
                // color: $color-white;
                color: $color-base;
            }

            &.active,
            .active & {
                background: $color-base;
                color: $color-white;
                font-weight: 700;
            }
        }
    }

    &--inner &__head {
        @media (max-width: $lg) {
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
               -moz-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        &-link {
            min-width: 200px;

            @media (max-width: $md) {
                min-width: 84px;
            }
        }
    }

    &__body {
        &-item {
            display: none;

            .card__wrap {
                padding: 0 0 10px;
            }

            &.open {
                display: block;
            }
        }
    }

    &--inner &__body {
        & ul,
        & ol {
            margin-bottom: 27px;

            @media (max-width: $lg) {
                margin-bottom: 18px;
            }
        }
    }

    &-product {
        width: 100%;
        &__head {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 25px;

            @media (max-width: $lg) {
                margin-bottom: 29px;
            }

            @media (max-width: $md) {
                margin-bottom: 16px;
            }

            &-item {
                & + & {
                    margin-left: 53px;

                    @media (max-width: $lg) {
                        margin-left: 77px;
                    }

                    @media (max-width: $md) {
                        margin-left: 35px;
                    }
                }
            }

            &-in {
                font-size: 14px;
                line-height: 20px;
                color: $color-gray;
                font-weight: 800;
                display: block;
                border-bottom: 1px solid transparent;

                @media (max-width: $lg) {
                    font-size: 13px;
                    line-height: 16px;
                }

                @media (max-width: $md) {
                    font-size: 10px;
                    line-height: 14px;
                }

                &.active {
                    color: $color-base;
                    border-bottom-color: $color-base;
                }

                &:not(.active) {
                    &:hover {
                        color: $color-gray;
                    }
                }
            }
        }

        &__body {
            &-item {
                display: none;

                &.open {
                    display: block;
                }

                & p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &--profile {
        .tabs {
            &__head {
                &-link {
                    @media (max-width: $md) {
                        min-width: 92px;
                    }
                }
            }

            &-product {
                &__head {

                    @media (min-width: $md) {
                        margin-bottom: 20px;
                    }

                    @media (min-width: $lg) {
                        margin-bottom: 29px;
                    }
                }
            }
        }
    }
}

