.footer {
    margin-top: 40px;
    background: $color-smoke;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: $lg) {
        margin-top: 28px;
    }

    @media (max-width: $md) {
        flex-direction: column-reverse;
    }

    &__bottom {
        background: $color-base;

        @media (max-width: $lg) {
            background: $color-smoke;
            color: $color-base;
            padding-top: 28px;
        }

        @media (max-width: $md) {
            padding-top: 19px;
        }
    }

    &__inner {
        display: flex;
        border-top: 1px solid $color-gray-light;
        padding-top: 23px;

        @media (max-width: $lg) {
            flex-wrap: wrap;
            border-top: 0;
            padding-top: 11px;
        }
    }

    &__bottom &__inner {
        padding: 0 35px 0 50px;
        align-items: center;

        @media (max-width: $lg) {
            padding: 0;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        height: 48px;

        @media (max-width: $md) {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.1px;
            height: 24px;
            padding: 0 5px;
        }

        & + & {
            margin-left: 101px;

            @media (max-width: $md) {
                margin-left: 10px;
            }
        }

        & .icon {
            margin-right: 8px;
            flex-shrink: 0;

            @media (max-width: $md) {
                margin-right: 4px;
            }
        }
    }

    &__subscribe {
        width: 100%;
        display: flex;
        max-width: 710px;
        margin: 0 auto 17px;

        @media (max-width: $lg) {
            max-width: 100%;
        }

        @media (max-width: $md) {
            padding-left: 0;
            padding-right: 0;
        }

        &-item {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-bottom: 0;
            width: calc(100% - 98px);
            padding-top: 8px;

            @media (max-width: $lg) {
                padding-top: 3px;
            }

            @media (max-width: $md) {
                padding-top: 0;
            }

            & .elem-input-icon {
                right: auto;
                left: calc(100% - 253px);
                top: 40px;

                @media (max-width: $lg) {
                    top: 56px;
                    left: calc(100% - 264px);
                }

                @media (max-width: $md) {
                    top: 110px;
                    left: auto;
                    right: 16px;
                    bottom: 90px;
                }
            }
        }

        &-icon {
            flex-shrink: 0;
            margin-right: 16px;

            @media (max-width: $lg) {
                margin-right: 27px;
                margin-top: 22px;
            }

            @media (max-width: $md) {
                margin-bottom: 16px;
                margin-left: 4px;
                margin-right: 20px;
                margin-top: 0;
            }
        }
    }

    &__label {
        font-size: 14px;
        line-height: 17px;
        font-weight: 800;
        margin-bottom: 7px;
        margin-right: 0;
        flex-shrink: 0;
        margin-right: 12px;
        width: 100%;

        @media (max-width: $lg) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 21px;
        }

        @media (max-width: $md) {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.2px;
            text-align: right;
            margin-right: 0;
            margin-bottom: 16px;
            height: 84px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 5px;
        }
    }

    &__input {
        width: calc(100% - 212px);
        height: 40px;
        border-radius: 12px;

        @media (max-width: $lg) {
            width: calc(100% - 224px);
            height: 44px;
            border-radius: 10px;
            border: 0;
        }

        @media (max-width: $md) {
            width: calc(100% + 114px);
            margin-left: -114px;
            border: 0;
        }
    }

    &__btn {
        flex-shrink: 0;
        margin-left: 12px;
        height: 40px;
        width: 200px;
        min-width: 200px;

        @media (max-width: $lg) {
            margin-left: 16px;
            font-size: 13px;
            line-height: 16px;
            height: 44px;
            width: 208px;
        }

        @media (max-width: $md) {
            width: calc(100% + 114px);
            margin-left: -114px;
            border: 0;
            margin-top: 12px;
            letter-spacing: 0;
        }
    }

    &__top {
        padding: 25px 0 32px;

        @media (max-width: $lg) {
            padding-top: 28px;
            padding-bottom: 22px;
        }

        @media (max-width: $md) {
            padding-top: 23px;
        }
    }

    &__col {
        width: 17%;
        flex-shrink: 0;

        @media (max-width: $lg) {
            width: auto;
        }

        &--social {
            width: 13%;
            padding-top: 8px;

            @media (max-width: $lg) {
                width: 22%;
                padding-top: 30px;
            }

            @media (max-width: $lg) {
                padding-top: 32px;
            }

            @media (max-width: $md) {
                width: 50%;
            }
        }

        &--pay {
            width: 28%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 8px;

            @media (max-width: $lg) {
                width: 78%;
                padding-top: 30px;
                flex-direction: row;
                align-items: flex-start;
                // width: calc(100% - 130px);
                padding-left: 45px;
                justify-content: space-between;
            }

            @media (max-width: $lg) {
                padding-top: 32px;
                padding-left: 23px;
            }

            @media (max-width: $md) {
                width: 50%;
            }
        }
    }

    &__row {
        &-mobile {
            @media (max-width: $md) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
    }

    &__adress {
        font-size: 11px;
        line-height: 15px;
        font-weight: 400;
        color: $color-gray;
        text-align: right;
        // margin-top: 16px;
        margin-top: auto;

        @media (max-width: $lg) {
            font-size: 10px;
            line-height: 12px;
            // margin-top: -9px;
            margin-top: auto;
            letter-spacing: 0.1px;
            max-width: 50%;
        }

        @media (max-width: $md) {
            max-width: 100%;
            width: 100%;
            margin-top: 19px;
            font-size: 10px;
            line-height: 12px;
            text-align: left;
            margin-bottom: -16px;
        }

        & p {
            margin: 0 0 1px;

            @media (max-width: $lg) {
                margin-bottom: 8px;
            }

            @media (max-width: $md) {
                margin-bottom: 16px;
            }
        }
    }

    &__menu {
        padding-top: 8px;
        width: 42%;

        @media (max-width: $lg) {
            width: calc(100% - 86px);
            padding-left: 42px;
            padding-top: 0;
            margin-top: -5px;
        }

        @media (max-width: $md) {
            padding-left: 0;
            width: 100%;
            padding-top: 22px;
        }
    }

    &__consult  {
        background: $color-base;
        padding: 12px 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
