.footer {
    margin-top: 40px;
    background: $color-smoke;
    display: flex;
    flex-direction: column;

    @media (max-width: $lg) {
        margin-top: 28px;
    }

    @media (max-width: $md) {
        flex-direction: column-reverse;
    }

    &__bottom {
        background: $color-base;

        @media (max-width: $lg) {
            background: $color-smoke;
            color: $color-base;
            padding-top: 28px;
        }

        @media (max-width: $md) {
            padding-top: 19px;
        }
    }

    &__inner {
        display: flex;

        @media (max-width: $lg) {
            flex-wrap: wrap;
        }
    }

    &__bottom &__inner {
        padding: 0 35px 0 50px;
        align-items: center;

        @media (max-width: $lg) {
            padding: 0;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        height: 48px;

        @media (max-width: $md) {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.1px;
            height: 24px;
            padding: 0 5px;
        }

        & + & {
            margin-left: 101px;

            @media (max-width: $md) {
                margin-left: 10px;
            }
        }

        & .icon {
            margin-right: 8px;
            flex-shrink: 0;

            @media (max-width: $md) {
                margin-right: 4px;
            }
        }
    }

    &__subscribe {
        margin-left: auto;
        width: 54.3%;

        @media (max-width: $lg) {
            width: 100%;
            display: flex;
        }

        @media (max-width: $md) {
            padding-left: 0;
            padding-right: 0;
        }

        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 0;

            @media (max-width: $lg) {
                flex-wrap: wrap;
                align-items: flex-start;
            }

            @media (max-width: $md) {
                width: calc(100% - 106px);
            }
        }

        &-icon {
            flex-shrink: 0;
            margin-right: 28px;

            @media (max-width: $md) {
                margin-right: 16px;
                margin-bottom: 16px;
                margin-left: 4px;
            }
        }
    }

    &__label {
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        margin-bottom: 0;
        margin-right: 12px;
        flex-shrink: 0;
        margin-right: 12px;

        @media (max-width: $lg) {
            font-size: 18px;
            line-height: 22px;
            font-weight: 800;
            width: 100%;
            margin-bottom: 21px;
        }

        @media (max-width: $md) {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.2px;
            text-align: right;
            margin-right: 0;
            margin-bottom: 16px;
            height: 84px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &__input {
        width: 100%;

        @media (max-width: $lg) {
            width: calc(100% - 224px);
        }

        @media (max-width: $md) {
            width: calc(100% + 110px);
            margin-left: -110px;
            border: 0;
        }
    }

    &__btn {
        flex-shrink: 0;
        margin-left: 12px;

        @media (max-width: $lg) {
            margin-left: 16px;
            font-size: 13px;
            line-height: 16px;
            height: 44px;
            width: 208px;
        }

        @media (max-width: $md) {
            width: calc(100% + 110px);
            margin-left: -110px;
            border: 0;
            margin-top: 12px;
            letter-spacing: 0;
        }
    }

    &__top {
        padding: 33px 0 32px;

        @media (max-width: $lg) {
            padding-top: 28px;
            padding-bottom: 22px;
        }

        @media (max-width: $md) {
            padding-top: 26px;
        }
    }

    &__col {
        width: 17%;
        flex-shrink: 0;

        @media (max-width: $lg) {
            width: auto;
        }

        &--social {
            width: 11%;
            padding-top: 8px;

            @media (max-width: $lg) {
                width: auto;
                padding-top: 30px;
            }

            @media (max-width: $lg) {
                padding-top: 22px;
            }
        }

        &--pay {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 8px;

            @media (max-width: $lg) {
                width: auto;
                padding-top: 30px;
                flex-direction: row;
                align-items: flex-start;
                width: calc(100% - 130px);
                padding-left: 45px;
                justify-content: space-between;
            }

            @media (max-width: $lg) {
                padding-top: 22px;
                padding-left: 23px;
            }
        }
    }

    &__row {
        &-mobile {
            @media (max-width: $md) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
    }

    &__adress {
        font-size: 11px;
        line-height: 15px;
        font-weight: 300;
        color: $color-gray;
        text-align: right;
        margin-top: 16px;

        @media (max-width: $lg) {
            font-size: 10px;
            line-height: 12px;
            margin-top: -9px;
            letter-spacing: 0.1px;
            max-width: 50%;
        }

        @media (max-width: $md) {
            max-width: 100%;
            width: 100%;
            margin-top: 19px;
            font-size: 10px;
            line-height: 12px;
            text-align: left;
            margin-bottom: -16px;
        }

        & p {
            margin: 0 0 1px;

            @media (max-width: $lg) {
                margin-bottom: 8px;
            }

            @media (max-width: $md) {
                margin-bottom: 16px;
            }
        }
    }

    &__menu {
        padding-top: 8px;

        @media (max-width: $lg) {
            width: calc(100% - 86px);
            padding-left: 42px;
            padding-top: 0;
            margin-top: -5px;
        }

        @media (max-width: $md) {
            padding-left: 0;
            width: 100%;
            padding-top: 22px;
        }
    }

    &__consult  {
        background: $color-base;
        padding: 12px 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
