{% macro filter(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}

	<div class="filter">
        <div class="filter__title open" data-filter>Фильтр {{ svg.icon('arrow-filter') }}</div>
        <div class="filter__list open">
            {% for item in data.list %}
                <div class="filter__item">
                    <div class="filter__name">
                        {{ item.name }}
                    </div>

                    <div class="filter__list-inner">
                        {% for item2 in item.list %}
                            <div class="filter__item-inner">
                                <label class="elem-checkbox">
                                    <input type="checkbox" {% if item2.active %}checked{% endif %} class="elem-checkbox__input">
                                    <span class="elem-checkbox__text">
                                        {{ item2.name }}
                                        {% if item2.count %}
                                            <span class="filter__count">{{ item2.count }}</span>
                                        {% endif %}
                                    </span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
