.sms {
	&__title {
        display: flex;
        justify-content: space-between;
        font-size: 11px;
        line-height: 15px;

        @media (max-width: $sm) {
            font-size: 10px;
            line-height: 16px;
        }
    }

    &__link {
        font-weight: 400;
        color: $color-red;
        letter-spacing: 0;

        @media (max-width: $lg) {
            margin-left: 3px;
        }
    }

    &__desc {
        display: none;

        @media (max-width: $lg) {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: -0.2px;
            margin-top: 24px;
            margin-bottom: 31px;
        }

        @media (max-width: $sm) {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.1px;
            margin-top: 26px;
            margin-bottom: 26px;
        }

        .popup & {
            @media (max-width: $sm) {
                margin-top: 5px;
            }
        }
    }

    &:last-child &__desc {
        margin-bottom: 0;
    }

    &__row {
        display: flex;
        margin-bottom: -21px;

        .popup & {
            @media (max-width: $sm) {
                margin-bottom: 5px;
            }
        }
    }

    &__input {
        width: calc(25% - 12px);

        @media (max-width: $sm) {
            width: calc(25% - 6px);
        }

        & + & {
            margin-left: 16px;

            @media (max-width: $sm) {
                margin-left: 10px;
            }
        }

        & .elem-input {
            font-size: 24px;
            font-weight: 400;
            text-align: center;

            @media (max-width: $lg) {
                font-size: 15px;
                line-height: 16px;
            }

            @media (max-width: $sm) {
                font-size: 15px;
                line-height: 16px;
            }
        }
    }
}
