.recommend {
    margin-bottom: 40px;

    @media (max-width: $lg) {
        margin-bottom: 30px;
    }

    @media (max-width: $md) {
        margin-bottom: 24px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
