.slick {
    &-arrow {
        @extend %btn-arrow;
        position: absolute;
        top: 50%;
        margin-top: -40px;
        z-index: 1;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease-in-out;

        @media (max-width: $lg) {
            margin-top: -25px;
        }

        @media (max-width: $md) {
            margin-top: -32px;
        }

        &:focus {
            outline: none;
        }
    }

    &-prev {
        transform: rotate(180deg);
        left: 32px;

        @media (max-width: $lg) {
            left: 18px;
        }

        @media (max-width: $md) {
            // left: 21px;
            left: 5px;
        }
    }

    &-next {
        right: 32px;

        @media (max-width: $lg) {
            right: 18px;
        }

        @media (max-width: $md) {
            // right: 21px;
            right: 5px;
        }
    }

    &-disabled {
        opacity: .2;
        // visibility: hidden;

        &:hover:after {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='32' viewBox='0 0 16 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.616806 31.9992C0.536156 32.0002 0.456193 31.9836 0.382058 31.9506C0.307923 31.9175 0.241257 31.8687 0.186349 31.8072C0.127522 31.7497 0.0806373 31.6803 0.0485863 31.6032C0.0165354 31.5262 0 31.4431 0 31.3591C0 31.2752 0.0165354 31.1921 0.0485863 31.115C0.0806373 31.038 0.127522 30.9686 0.186349 30.9111L14.5021 15.9982L0.186349 1.08537C0.127522 1.02791 0.0806373 0.958509 0.0485863 0.881451C0.0165354 0.804394 0 0.721316 0 0.637348C0 0.553379 0.0165354 0.470302 0.0485863 0.393244C0.0806373 0.316187 0.127522 0.246785 0.186349 0.189322C0.243515 0.129332 0.311529 0.081717 0.386465 0.0492231C0.461401 0.0167293 0.541777 0 0.622956 0C0.704135 0 0.784511 0.0167293 0.859447 0.0492231C0.934383 0.081717 1.0024 0.129332 1.05956 0.189322L15.8181 15.5502C15.8757 15.6097 15.9215 15.6805 15.9527 15.7585C15.9839 15.8365 16 15.9201 16 16.0046C16 16.0891 15.9839 16.1728 15.9527 16.2508C15.9215 16.3288 15.8757 16.3996 15.8181 16.4591L1.05956 31.82C1.00217 31.8808 0.93302 31.9282 0.85669 31.9591C0.780359 31.99 0.698593 32.0036 0.616806 31.9992Z' fill='%23101010'/%3E%3C/svg%3E");
        }
    }

    &-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: 35px;
        width: 100%;

        @media (max-width: $lg) {
            bottom: 36px;
        }

        @media (max-width: $md) {
            bottom: 0;
        }

        & li {
            & + li {
                margin-left: 28px;

                @media (max-width: $lg) {
                    margin-left: 20px;
                }

                @media (max-width: $md) {
                    margin-left: 28px;
                }
            }
        }

        & button {
            height: 10px;
            width: 10px;
            background: $color-white;
            border: 1px solid $color-base;
            border-radius: 50%;
            font-size: 0;
            line-height: 0;
            padding: 0;
            cursor: pointer;

            @media (max-width: $lg) {
                height: 8px;
                width: 8px;
            }

            @media (max-width: $md) {
                height: 10px;
                width: 10px;
            }
        }

        .slick-active button {
            background: $color-red;
            border-color: $color-red;
        }
    }
}

.slider {
    &__item {
        position: relative;
        vertical-align: top;

        & .elem-btn {
            position: absolute;
            bottom: 90px;
            left: 50%;
            transform: translate(-50%, 0);

            @media (max-width: $lg) {
                bottom: 75px;
            }

            @media (max-width: $md) {
                bottom: 20px;
            }
        }

        & img {
            width: 100%;
            vertical-align: top;
        }

        & h3 {
            width: 80%;
            position: absolute;
            top: 0;
            color: $color-base;
            padding: 32px 30px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            @media (max-width: $lg) {
                padding: 19px 20px;
            }
        }
    }

    &__wrap {
        margin-bottom: 20px;

        @media (max-width: $md) {
            margin-bottom: 16px;
        }
    }

    &-category {
        padding: 0 30px;

        @media (max-width: $md) {
            margin-left: -15px;
            margin-right: -15px;
            padding: 0 52px;
        }

        & .slick-list {
            @media (max-width: $md) {
                overflow: inherit;
            }
        }

        & .slick-slide {
            margin-right: 8px;
            margin-left: 8px;

            @media (max-width: $lg) {
                margin-left: 9px;
            }

            @media (max-width: $md) {
                margin-left: 4px;
                margin-right: 4px;
            }

            & img {
                width: 100%;
            }
        }

        & .slick-arrow {
            margin-top: -17px;
        }

        & .slick-prev {
            left: 0;

            @media (max-width: $lg) {
                left: -5px;
            }
        }

        & .slick-next {
            right: 0;

            @media (max-width: $lg) {
                right: -5px;
            }
        }

        &__item {
            position: relative;

            @media (max-width: $lg) {
                height: 152px;
                width: 152px !important;
            }

            @media (max-width: $md) {
                height: 104px;
                width: 104px !important;
            }

            & img {
                width: 100%;

                @media (max-width: $md) {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        &__name {
            font-size: 13px;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            padding: 16px;
            text-align: center;

            @media (max-width: $md) {
                font-size: 10px;
                line-height: 16px;
                padding: 8px;
            }
        }
    }

    &-product {
        margin-bottom: 16px;

        @media (max-width: $md) {
            margin-bottom: 9px;
        }

        &__item {
            vertical-align: top;
            border-radius: 8px;
            overflow: hidden;
            position: relative;

            @media (max-width: $md) {
                border-radius: 4px;
            }

            &:not(:first-child) {
                display: none;
            }
        }

        .slick-list &__item {
            display: block;
        }

        & .slick-prev {
            left: -43px;
            margin-top: -15px;
        }

        & .slick-next {
            right: -43px;
            margin-top: -15px;
        }

        &__bg {
            background: linear-gradient(0deg, rgba(16, 16, 16, 0.3), rgba(16, 16, 16, 0.3));
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-product-carousel {
        &__item {
            vertical-align: top;
            position: relative;
            overflow: hidden;
            border-radius: 4px;
            width: 91px;

            & img {
                width: 100%;
            }

            &:not(:first-child) {
                display: none;
            }

            @media (max-width: $lg) {
                width: 88px;
            }

            @media (max-width: $md) {
                width: 72px;
            }
        }

        & .slick-slide {
            width: 91px;
            margin-right: 27px;

            @media (max-width: $lg) {
                width: 88px;
                margin-right: 22px;
            }

            @media (max-width: $md) {
                width: 72px;
                margin-right: 10px;
            }
        }

        & .slick-active {
            & .slider-product-carousel__bg {
                background: none;
            }

            & .elem-play {
                display: none;
            }

        }

        &__bg {
            //background: linear-gradient(0deg, rgba(16, 16, 16, 0.3), rgba(16, 16, 16, 0.3));
            background: #f6f6f6;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            & .elem-play {
                height: 49px;
                width: 49px;

                @media (max-width: $md) {
                    height: 38px;
                    width: 38px;
                }

                &:after {
                    border-width: 10px 0 10px 18px;

                    @media (max-width: $md) {
                        border-width: 8px 0 8px 15px;
                    }
                }
            }
        }

        @media (max-width: $md) {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 100%;
                background: linear-gradient(to left, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255,0) 100%);
            }
        }
    }
}
