{% extends "template/layout.twig" %}

{% import '../components/menu/menu.twig' as menu %}
{% import '../components/hamburger/hamburger.twig' as hamburger %}
{% import '../components/social/social.twig' as social %}
{% import '../components/pay/pay.twig' as pay %}
{% import '../components/breadcrumbs/breadcrumbs.twig' as breadcrumbs %}

{% block title %}{{ page_title }}{% endblock %}

{% block bodyClass %}page-cart{% endblock %}

{% block content %}

	<div class="container">
        <div class="container__inner">
            {# хлебные крошки #}
            {{ breadcrumbs.breadcrumbs(breadcrumbsList) }}

            {# заголовок #}
            <h1 class="h2 elem-title">Корзина</h1>

            <div class="page-cart__row">
                <span>Ваша корзина пуста. Добавьте понравившиеся товары из каталога в корзину.</span>

                <a href="#" class="elem-btn elem-btn--light bold elem-btn--light-hover-red">
                    <span>Перейти в каталог</span>
                    {{ svg.icon('arrow') }}
                </a>
            </div>
        </div>
	</div>

    <a href="#" class="online-support">
        {{ svg.icon('ask') }}
    </a>

{% endblock %}
