{% extends "template/layout.twig" %}

{% import '../components/menu/menu.twig' as menu %}
{% import '../components/hamburger/hamburger.twig' as hamburger %}
{% import '../components/social/social.twig' as social %}
{% import '../components/pay/pay.twig' as pay %}

{% block title %}{{ page_title }}{% endblock %}

{% block bodyClass %}page-index{% endblock %}

{% block content %}

    <div class="container">
        <ul>
            {% for item in menuList %}
                <li><a href="{{ item.href }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
