<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body topmargin="0" rightmargin="0" bottommargin="0" leftmargin="0" marginwidth="0" marginheight="0" width="100%" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%; height: 100%; -webkit-font-smoothing: antialiased; text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; line-height: 100%;
	background-color: #e5e5e5;
	color: #000000; font-family: 'Montserrat', 'Arial', sans-serif;" bgcolor="#e5e5e5" text="#000000">
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
       style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;">
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" align="center"
                   style="border-collapse: collapse; border-spacing: 0; padding: 0;
	                   max-width: 600px;text-align:center;">
                <tr>
                    <td style="padding-top: 50px;padding-bottom: 26px;text-align:center;">
                        <img src="assets/images/required/logo.png" alt="Логотип">
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" style="padding-top: 53px;
                                    padding-left: 45px;
                                    padding-right: 45px;
                                    padding-bottom: 54px;
                                    background-color:#fff;width: 100%;">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="assets/images/required/post.png" alt="">
                                            </td>
                                            <td style="font-size: 20px;line-height: 26px;font-weight:bold;color: #101010;padding-left: 20px;text-align: left">
                                                Ваш заказ номер <span>#ORDER_ID#</span> от <span>#ORDER_DATE#</span> принят.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 40px;color: #101010;font-size: 14px;line-height: 20px;font-weight: 500;text-align: left">
                                    <span style="font-weight: 800;">Стоимость заказа:</span><br>
                                    #PRICE#
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 20px;color: #101010;font-size: 14px;line-height: 20px;font-weight: 500;text-align: left">
                                    <span style="display:inline-block;font-weight: 800;margin-bottom: 20px;">Состав заказа:</span>
                                    <table>
                                        <tr>
                                            <td style="padding-bottom: 20px;">
                                                <img src="assets/images/example/item-1.png" alt="">
                                            </td>
                                            <td style="padding-left: 24px;padding-bottom: 20px;">
                                                <table>
                                                    <tr>
                                                        <td style="font-weight: 500;font-size: 16px;padding-bottom: 12px;">
                                                            Набор ножей на подставке
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: 500;line-height: 20px;padding-bottom: 19px;">
                                                            <span style="font-size: 20px;color: #f61d2a;">399 ₽</span>&nbsp;&nbsp;
                                                            <span style="font-size: 16px;color: #c4c4c4;text-decoration:line-through;">1990 ₽</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 14px;font-weight: 800;">
                                                            <a href="#" style="color: #a0a0a0;text-decoration:underline;">Посмотреть на сайте</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-bottom: 20px;">
                                                <img src="assets/images/example/item-2.png" alt="">
                                            </td>
                                            <td style="padding-left: 24px;padding-bottom: 20px;">
                                                <table>
                                                    <tr>
                                                        <td style="font-weight: 500;font-size: 16px;padding-bottom: 12px;">
                                                            Колонка порт. Digma S-34 черный 25W 1.0 BT/USB 3000mAh (SP3425B)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: 500;line-height: 20px;padding-bottom: 19px;">
                                                            <span style="font-size: 20px;color: #f61d2a;">2 990 ₽</span>
                                                            <span style="font-size: 16px;color: #c4c4c4;text-decoration:line-through;"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 14px;font-weight: 800;">
                                                            <a href="#" style="color: #a0a0a0;text-decoration:underline;">Посмотреть на сайте</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-bottom: 20px;">
                                                <img src="assets/images/example/item-3.png" alt="">
                                            </td>
                                            <td style="padding-left: 24px;padding-bottom: 20px;">
                                                <table>
                                                    <tr>
                                                        <td style="font-weight: 500;font-size: 16px;padding-bottom: 12px;">
                                                            Электрическая простыня Beurer UB190 CosyNight Connect
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: 500;line-height: 20px;padding-bottom: 19px;">
                                                            <span style="font-size: 20px;color: #f61d2a;">8 090 ₽</span>
                                                            <span style="font-size: 16px;color: #c4c4c4;text-decoration:line-through;"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 14px;font-weight: 800;">
                                                            <a href="#" style="color: #a0a0a0;text-decoration:underline;">Посмотреть на сайте</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 20px;color: #101010;font-size: 14px;line-height: 20px;font-weight: 500;text-align: left">
                                    <span style="font-weight: 800;">Ваш заказ будет доставлен по адресу:</span><br>
                                    #DELIVERY_PARAMS#
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 20px;color: #101010;font-size: 14px;line-height: 20px;font-weight: 500;text-align: left">
                                    В ближайшее время наш специалист свяжется с Вами для подтверждения заказа.
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 20px;color: #101010;font-size: 14px;line-height: 20px;font-weight: 500;text-align: left">
                                    Вы можете следить за статусом Вашего заказа
                                    (на какой стадии выполнения он находится), войдя в
                                    Ваш личный кабинет на сайте
                                    <a href="https://hsr24.ru" style="color: #f61d2a;text-decoration:none;">https://hsr24.ru</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 20px;color: #101010;font-size: 14px;line-height: 20px;font-weight: 500;text-align: left">
                                    Обратите внимание, что для авторизации Вам нужно ввести номер
                                    телефона, указанный при оформлении заказа, на него будет
                                    отправлен проверочный код.
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="text-align: left;padding-top: 26px;">
                                    <a href="https://hsr24.ru" style="height: 52px;line-height: 52px;text-align: center;
                                            background-color: #f61d2a;border-radius: 26px;
                                            font-size: 14px;font-weight: 800;color:#fff;
                                            display:inline-block;text-decoration:none;width: 300px;
                                            ">Перейти на hsr24.ru</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 27px;color: #101010;font-size: 14px;line-height: 20px;font-weight: 500;text-align: left">
                                    Если у Вас остались вопросы или Вы хотите отменить заказ,
                                    пожалуйста, свяжитесь с нами по номеру телефона: <br>
                                    <span style="font-weight: 800;">8 (800) 707-50-25</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 27px;color: #101010;font-size: 20px;line-height: 150%;font-weight: 800;text-align: center">
                                    Спасибо за покупку!
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" style="padding-top: 27px;padding-bottom: 47px;width: 100%;">
                            <tr>
                                <td>
                                    <table align="center" width="156" style="width: 156px;padding-bottom: 15px;">
                                        <tr>
                                            <td>
                                                <a href="#"><img src="assets/images/required/instagram_icon.svg" alt="Инстаграм"></a>
                                            </td>
                                            <td>
                                                <a href="#"><img src="assets/images/required/vk_icon.svg" alt="Вконтакте"></a>
                                            </td>
                                            <td>
                                                <a href="#"><img src="assets/images/required/youtube_icon.svg" alt="Youtube"></a>
                                            </td>
                                            <td>
                                                <a href="#"><img src="assets/images/required/ok_icon.svg" alt="Одноклассники"></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 10px;font-weight: 500;line-height: 150%;color: #c0c0c0;padding-bottom: 15px;">
                                    Вы получили эту рассылку, так как являетесь клиентом или подписчиком Home Shopping Russia ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «Хом Шоппинг Раша»
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 10px;font-weight: 500;line-height: 150%;color: #c0c0c0;padding-bottom: 15px;">
                                    Вы можете отписаться от рассылки в любое время здесь.
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 10px;font-weight: 500;line-height: 150%;color: #c0c0c0;">
                                    © Copyright 2019 Home Shopping Russia ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «Хом Шоппинг
                                    Раша» Наш адрес: 109052, г. Москва, ул. Смирновская, д. 4, стр. 2. Тел.: 8 800 707-20-76
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
