{% extends "template/layout.twig" %}

{% import '../components/menu/menu.twig' as menu %}
{% import '../components/hamburger/hamburger.twig' as hamburger %}
{% import '../components/social/social.twig' as social %}
{% import '../components/pay/pay.twig' as pay %}

{% block title %}{{ page_title }}{% endblock %}

{% block bodyClass %}page-thank{% endblock %}

{% block content %}

	<div class="container">
        <div class="container__inner">
            {# заголовок #}
            <h1 class="h2 elem-title">Спасибо за покупку!</h1>

            <div class="page-thank__row">
                <div class="page-thank__img">
                    <img src="assets/images/example/img1.jpg" alt="">

                    <div class="page-thank__btn hidden-md hidden-lg hidden-xl">
                        <a href="#" class="elem-btn elem-btn--auto">Вернуться на главную страницу</a>
                    </div>
                </div>
                <div class="page-thank__info">
                    <div class="page-thank__text">
                        Ваш заказ обрабатывается. В ближайшее время наш оператор свяжется с вами.<br class="hidden-xs hidden-sm hidden-md">
                        Статус заказа можно отследить на почте kateika8@mail.ru или в <a href="#">Личном кабинете</a>.
                    </div>
                    <div class="page-thank__btn hidden-xs hidden-sm">
                        <a href="#" class="elem-btn elem-btn--auto">Вернуться на главную страницу</a>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <a href="#" class="online-support">
        {{ svg.icon('ask') }}
    </a>

{% endblock %}
