.page-cart {
    position: relative;

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        & > * + * {
            margin-top: 32px;

            @media (max-width: $lg) {
                margin-top: 28px;
            }

            @media (max-width: $md) {
                margin-top: 24px;
            }
        }

        & .elem-btn {
            width: 200px;
            letter-spacing: 0;

            @media (max-width: $lg) {
                // width: 290px;
                height: 44px;
                font-size: 13px;
            }

            @media (max-width: $md) {
                font-size: 12px;
            }

            &:hover {
                & .icon {
                    fill: $color-red;
                }
            }
        }
    }
}
