.content-container {
    display: flex;
}

.menu-aside {
    max-width   : 313px;
    width       : 100%;
    margin-right: 25px;

    @media (max-width: $lg) {
        display: none;
    }

    &__inner {

        &>* {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.menu-aside-list {
    border       : 1px solid #F6F6F6;
    border-radius: 12px;

    padding: 20px 0 20px 24px;


    &>li {
        margin-bottom: 12px;

        ul {
            margin-top: 5px;

            li {
                padding-left: 28px;

                &::before {
                    display: none;
                }

                a {
                    font-style : normal;
                    font-weight: normal;
                    font-size  : 14px;
                    line-height: 16px;
                }
            }
        }
    }

    &>li>a {
        font-weight: 800;
        font-size  : 14px;
        line-height: 20px;
        color      : #101010;
    }
}

.half-box {
    width: calc(100% - 313px);

    @media (max-width: $lg) {
        width: 100%;
    }
}

.u-filter-product {
    &__inner {
        display  : flex;
        flex-wrap: wrap;
    }

    &__img-wrap {
        min-height             : 149px;
        display                : flex;
        align-items            : center;
        justify-content        : center;
        background             : linear-gradient(0deg, #F6F6F6, #F6F6F6);
        overflow               : hidden;
        border-top-left-radius : 12px;
        border-top-right-radius: 12px;
    }

    &__item {
        border       : 1px solid #F6F6F6;
        border-radius: 12px;

        width        : 23.64%;
        margin-right : 15px;
        margin-bottom: 15px;

        &:nth-child(4n) {
            margin-right: 0;
        }

        @media (max-width: $lg) {
            width: calc(25% - 11.3px);
        }

        @media (max-width: $md) {
            width       : calc(50% - 5px);
            margin-right: 10px;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(4n) {
                margin-right: auto;
            }
        }
    }

    &__name-product {
        text-align : center;
        font-size  : 14px;
        font-weight: 800;
        line-height: 20px;
        color      : #101010;
        padding    : 30px 0;
    }
}

.aside-banner {
    width     : 100%;
    min-height: 286px;

    background   : #F6F6F6;
    border-radius: 12px;
}

.recommendations-elem-title {
    margin-top: -10px;
}

.recommendations-block {
    margin-bottom: 20px;

    @media (max-width: $md) {
        margin-bottom: 10px;
    }

    &__inner {
        display  : flex;
        flex-wrap: wrap;
    }
}

.recommendations-item {
    width       : calc(25% - 11.3px);
    margin-right: 15px;

    &:nth-child(4n) {
        margin-right: 0;
    }

    @media (max-width: $md) {
        width        : calc(50% - 5px);
        margin-right : 10px;
        margin-bottom: 10px;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(4n) {
            margin-right: inherit;
        }
    }

    &__img-wrap {
        min-height: 196px;

        background   : #F6F6F6;
        border-radius: 4px;
        overflow     : hidden;

        margin-bottom: 15px;
    }

    &__text {
        font-style : normal;
        font-weight: normal;
        font-size  : 18px;
        line-height: 27px;
        text-align : center;

        @media (max-width: $md) {
            font-size: 14px;
        }
    }
}

.assortment-product {

    &__row-top {
        display: flex;
    }

    &__row-bottom {
        margin-top: 30px;

        &--mobile {
            margin-top: 20px;

            @media (max-width: $md) {
                margin-top   : 10px;
                margin-bottom: 10px;
            }
        }
    }

    &__banner-left {
        width: 267px;

        background   : #F6F6F6;
        border-radius: 12px;
        overflow     : hidden;
        margin-right : 20px;
        margin-bottom: 20px;

        @media (max-width: 1023px) {
            width       : 30%;
            margin-right: 3px;
        }
    }

    &__banner-bottom {
        width        : 100%;
        background   : #F6F6F6;
        border-radius: 12px;

        min-height: 120px;
    }

    &__content {
        width: calc(100% - 267px);

        display  : flex;
        flex-wrap: wrap;

        @media (max-width: 1023px) {
            width: 100%;
        }

        &>* {
            width: 31.2%;

            @media (max-width: $lg) {
                width: calc(33% - 10px);
            }
        }
    }
}

.assortment-product-item {
    margin: 0 7px 20px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &__img {
        height: 163px;

        a {
            display: block;
        }
    }

    &__info {
        padding: 20px 8px 11px;
    }

    &__name {
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 24px;
    }

    &__bottom {
        text-align: center;
    }

    &__price {
        width: 100%;
    }
}

.u-paddin-left {
    @media (min-width: 1280px) {
        padding-left: 40px;
    }
}

.u-left {
    @media (min-width: 1280px) {
        left: -7px !important;
    }
}

.u-margin {
    margin-bottom: 25px;
}

.u-margin-auto {
    @media (max-width: $md) {
        margin-right: auto;
    }
}

.u-hidden-all {
    display: none;
}

.u-margin-auto {
    margin: auto;
}