.page-contact {
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 11px;

        @media (max-width: $lg) {
            margin-top: -5px;
            margin-bottom: -4px;
        }

        @media (max-width: $md) {
            flex-wrap: wrap;
            margin-top: 0;
            margin-bottom: 13px;
        }
    }

    &__logo {
        flex-shrink: 0;

        @media (max-width: $md) {
            order: 2;
        }

        & .icon {
            height: 80px;
            width: 143px;

            @media (max-width: $lg) {
                height: 49px;
                width: 86px;
            }

            @media (max-width: $md) {
                height: 44px;
                width: 71px;
            }
        }
    }

    &__col {
        margin-left: 52px;
        font-size: 18px;
        line-height: 27px;
        padding-top: 10px;
        min-width: 25%;

        @media (max-width: $lg) {
            margin-left: 32px;
            font-size: 13px;
            line-height: 19px;
            padding-top: 0;
            min-width: 26%;
        }

        @media (max-width: $md) {
            width: 48%;
            margin-left: 0;
            order: 3;
            font-size: 12px;
            line-height: 17px;
        }

        &:nth-child(2) {
            @media (max-width: $md) {
                order: 1;
                width: 60%;
            }
        }

        &:last-child {
            @media (max-width: $md) {
                width: auto;
            }
        }

        & p {
            margin-bottom: 18px;

            @media (max-width: $md) {
                margin-bottom: 13px;
            }

            & + .elem-icon {
                margin-top: -2px;

                @media (max-width: $lg) {
                    margin-top: -5px;
                }
            }

            & + .social {
                @media (max-width: $lg) {
                    margin-top: -5px;
                }
            }
        }
    }

    &__text {
        font-size: 18px;
        line-height: 27px;

        @media (max-width: $lg) {
            font-size: 13px;
            line-height: 19px;
        }

        @media (max-width: $md) {
            font-size: 12px;
            line-height: 17px;
        }
    }

    &__map {
        margin-top: 16px;

        @media (max-width: $lg) {
            margin-top: 24px;
        }

        @media (max-width: $md) {
            margin-top: 16px;
        }
    }
}
