.filter-big-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 767px) {
        margin-left: 10px;
        margin-right: 10px;
    }

    &__row {
        display: flex;
        width: 100%;

        &--mobile-show {
            display: none;
            @media (max-width: 479px) {
                display: flex;
            }
        }

        &--mobile-hide {
            display: flex;
            @media (max-width: 479px) {
                display: none;
            }
        }
    }

    .filter-big-item {
        display: block;
        position: relative;
        max-height: 367px;
        margin-bottom: 30px;
        flex: 1 auto;
        border-radius: 16px;
        margin-right: 3.5%;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        height: auto;
        overflow: hidden;
        max-width: calc(50% - 20px);


        @media (max-width: 479px) {
            &--mr-0 {
                margin-right: 0;
            }

            max-width: inherit;
            max-height: 190px;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .2);
            opacity: 0;
            transition: all 0.3s ease-in-out;
            z-index: 1;
        }

        &:hover::before {
            opacity: 1;
        }

        img {
            transition: all 0.3s ease-in-out;
            border-radius: 16px;
            min-height: 367px;
            object-fit: cover;

            @media (max-width: 479px) {
                min-height: 190px;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover img {
            transform: scale(1.1);
        }

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }

        &--mobile-hide {
            display: block;
            @media (max-width: 479px) {
                display: none;
            }
        }

        &--mobile-show {
            display: none;
            @media (max-width: 479px) {
                display: block;
            }
        }

        // @media (max-width: 599px) {
        //     &.item-medium {
        //         width: 50%;
        //     }
        // }

        // @media (max-width: 599px) {
        //     &.item-big {
        //         width: 100%;
        //     }
        // }

        &__text {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            padding-left: 15px;
            padding-right: 15px;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            text-align: center;
            height: 100px;
            background: rgba(255, 255, 255, 0.85);
            width: 100%;

            @media (max-width: 767px) {
                height: 60px;
                font-size: 14px;
                line-height: 18px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .item-big {
        width: 100%;
    }

    .item-medium {
        width: 50%;
    }

    .item-small {
        width: 33.3333%;
    }
}

.slider-block-sale {
    .card__list {
        .card {
            &__price {
                .elem-price-old {
                    color: #F61D2A;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;

                    @media (max-width: 479px) {
                        font-size: 10px;
                    }
                }

                .elem-price {
                    color: #101010;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 27px;
                    line-height: 32px;

                    @media (max-width: 479px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.brand-item {
    height: 100%;
}

.brand__slider {
    position: relative;

    @media (min-width: 1280px) {
        margin-bottom: 20px;
    }

    /*&:after {
        position: absolute;
        right: 0;
        top: 0;
        content: '';
        display: block;
        width: 96px;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 67.5%);
        outline: none;
    }*/

    .swiper-container {
        margin-left: 0;
        margin-right: 0;
    }

    .swiper-button-next {
        right: -36px;

        @media (max-width: 767px) {
            right: -10px;
            display: block;
            height: 20px;
        }
    }

    .swiper-button-prev {
        left: -36px;

        @media (max-width: 767px) {
            left: -10px;
            display: none;
            height: 20px;
        }
    }

    .swiper-scrollbar {
        display: none;
    }
}
