.page-order {
    &__btn {
        margin-top: 40px;

        @media (max-width: $lg) {
            margin-top: 28px;
        }

        @media (max-width: $md) {
            margin-top: 24px;
            margin-left: -5px;
            margin-right: -5px;
        }

        & > * {
            @media (max-width: $md) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        & .elem-btn {
            height: 52px;
            width: 276px;
            text-align: center;

            @media (max-width: $lg) {
                height: 44px;
                width: 208px;
                font-size: 13px;
                line-height: 16px;
            }

            @media (max-width: $md) {
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
                justify-content: center;
            }
        }
    }

    &__content {

        @media (max-width: $md) {
            padding-top: 8px;
        }

        & .elem-item__row {
            margin-bottom: 30px;

            @media (max-width: $md) {
                margin-bottom: 20px;
            }

            &--mob-mb-10 {
                @media (max-width: $md) {
                    margin-bottom: 10px;
                }
            }
        }

        & .elem-radio {
            margin-bottom: 0;

            @media (min-width: $md) {
                width: max-content;
            }

        }

        .position-sticky {
            top: 20px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;

    }

    &__col {
        max-width: 100%;

        @media (min-width: $md + 1) {
            max-width: 33.33333%;
        }

        @media (min-width: $lg) {
            max-width: 32%;
        }

        &--4 {
            max-width: 100%;

            @media (min-width: $md + 1) {
                max-width: 33.33333%;
            }

            @media (min-width: $lg) {
                max-width: 23.5%;
            }
        }

    }

}
