.menu {
	position: relative;

	&-top {
		&__list {
			display: flex;
			align-items: center;
			font-size: 12px;
			font-weight: 300;
			line-height: 14px;
		}

		&__item {
			& + & {
			margin-left: 68px;
			}
		}

		&__link {
			display: block;
			padding: 17px 0px;
		}
	}

	&-icons {
		&__list {
			display: flex;
		}

		&__item {
			& + & {
				margin-left: 28px;
			}
		}

		&__link {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 12px;
			line-height: 14px;
			min-width: 65px;
		}

		&__icon {
			position: relative;
			margin-bottom: 1px;
		}

		&__count {
			background: $color-red-opacity;
			font-size: 8px;
			line-height: 12px;
			font-family: $fons-lato;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 14px;
			width: 14px;
			border-radius: 50%;
			position: absolute;
			bottom: 2px;
			right: 0;
		}
	}

	&-bottom {
		&__list {
			display: flex;
			align-items: center;
		}

		&__item {
			& + & {
				margin-left: 26px;
			}
		}

		&__link {
			display: flex;
			align-items: center;
			font-size: 12px;
			line-height: 14px;
		padding: 6px 0;
		}

		&__icon {
			display: flex;
			margin-right: 11px;
			flex-shrink: 0;
		}

		&__detail {
			background: $color-base;
			border-radius: 2px;
			font-size: 9px;
			font-family: $fons-lato;
			line-height: 12px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0px 7px;
			text-transform: uppercase;
		}

		&__all {
			border-radius: 4px;
			background: $color-smoke;
			font-size: 12px;
			line-height: 14px;
			padding: 6px 8px;
			display: flex;
			align-items: center;
			flex-shrink: 0;
			max-width: 102px;
			margin-left: auto;

			& .icon {
				margin-right: 8px;
				flex-shrink: 0;
			}
		}
	}

	&-advantages {
        padding: 25px 0 33px;

		&__list {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__link {
            display: flex;
            align-items: center;
			font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            letter-spacing: 0;
		}

		&__icon {
			flex-shrink: 0;
			margin-right: 15px;
		}
    }

    &-footer {
        position: relative;

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: -42px;
        }

        &__item {
            margin-bottom: 42px;
            width: 42%;

            &.md {
                flex-shrink: 0;
                width: 58%;
            }

            &:first-child {
                position: absolute;
                left: calc(-40% - 2px);
                bottom: 0;
            }

            &:nth-child(6) {
                position: absolute;
                left: 100%;
                bottom: 0;
            }
        }

        &__link {
            font-size: 12px;
            line-height: 14px;
            font-weight: 300;
        }
    }
}
