.specifications {
    margin-bottom: 20px;

    h3 {
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        color: #101010;
        margin-top: 0;
        margin-bottom: 16px;
    }

    &__list {
        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .category {
        width: 100%;
        color: #c6c6c6;
        position: relative;
        & > span {
            display: inline-block;
            max-width: 60%;
            position: relative;
        }

        .white {
            background-color: #fff;
            padding-right: 5px;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            bottom: 7px;
            border-bottom: 1px dotted #000;
        }
    }

    .value {
        width: 100%;
        color: #101010;
        text-align: right;
        margin-top: -24px;
        position: relative;
        & > span {
            display: inline-block;
            max-width: 60%;
        }

        .white {
            background-color: #fff;
            padding-left: 5px;
        }
    }
}
