.ui {
    &-autocomplete {
        position: absolute;
        top: 0px ;
        left: 0px ;
        width: calc(100% - 1px);
        max-height: 200px;
        overflow-y: auto;
        z-index: 9;
    }

    &-widget-content {
        background: $color-white;
        border-top: 1px solid #F4F4F4 !important;
        border: none;
        padding: 8px 0 15px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        z-index: 9;
    }

    &-menu {
        &-item {
            background: $color-white;
            border: 0px;
            color: $color-base;
            font-size: 16px;
            line-height: 24px;
            list-style-image: none;
            padding: 0px 20px;
            margin-right: 0px;
            text-align: left;

            & a {
                color: $color-base;
                cursor: pointer;
                display: block;
                padding-right: 0px;
                text-decoration: none;
            }

            &:hover {
                background: $color-white;
                border: 0px;
                color: $color-blue;
                padding: 0px 20px;
                margin: 0px;

                & a {
                    color: $color-blue;
                }
            }

            & + & {
                margin-top: 8px;
            }
        }

        &-divider {
            margin: 0;
            border-width: 0px 0 0 0;
        }

        &-state-focus,
        &-state-active {
            margin: 0px;
            background: $color-white;
            border: 0px;
        }
    }

    &-helper-hidden-accessible {
        display: none;
    }

    &-autocomplete-input {
        text-align: left;

        &:focus {
            border-radius: 4px 4px 0 0;
        }
    }
}
