.ui {
    &-autocomplete {
        position: relative;
        max-height: 200px;
        overflow-y: auto;
        z-index: 9;

        @media (max-width: $md) {
            max-height: 268px;
        }

        &__wrap {
            display: none;
            position: absolute;
            top: 0px ;
            left: 0px ;
            width: calc(100% - 1px);
            background: $color-white;
            border: 1px solid #F6F6F6;
            padding: 56px 0 24px;
            border-radius: 10px;
            z-index: 9;

            @media (max-width: $lg) {
                padding-top: 52px;
                padding-bottom: 20px;
            }

            @media (max-width: $md) {
                padding-top: 47px;
            }

            & .ui-menu-item:last-child {
                & .ui-autocomplete__text {
                    &:after {
                        display: none;
                    }
                }
            }

            & h6 {
                border-top: 1px solid #E6E6E6;
                padding-top: 16px;
                margin: 8px 20px 0;

                @media (max-width: $lg) {
                    margin-top: 8px;
                    padding-top: 20px;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        &-term {
            font-weight: 800;
        }

        &-input {
            position: relative;
            z-index: 10;
        }

        &__item {
            display: flex;
            align-items: center;
            position: relative;

            &:after {
                content: '';
                background: #E6E6E6;
                height: 1px;
                width: auto;
                position: absolute;
                bottom: -8px;
                left: 68px;
                right: 0;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        &__img {
            box-sizing: border-box;
            flex-shrink: 0;
            height: 52px;
            width: 52px;
            margin-right: 16px;

            @media (max-width: $md) {
                height: 40px;
                width: 40px;
                margin-right: 15px;
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid #E6E6E6;
                border-radius: 4px;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
            position: relative;
            width: 100%;

            @media (max-width: $lg) {
                font-size: 13px;
                line-height: 19px;
            }

            @media (max-width: $md) {
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.1px;
            }
        }
    }

    &-state-highlight {
        font-weight: 800;
    }

    &-widget-content {
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
    }

    &-menu {
        &-item {
            background: $color-white;
            border: 0px;
            color: $color-base;
            font-size: 16px;
            line-height: 24px;
            list-style-image: none;
            padding: 0px 20px;
            margin-right: 0px;
            text-align: left;

            @media (max-width: $md) {
                padding: 0 15px;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.1px;
            }

            & a {
                color: $color-base;
                cursor: pointer;
                display: block;
                padding-right: 0px;
                text-decoration: none;
            }

            &:hover {
                background: $color-white;
                border: 0px;
                color: $color-blue;
                padding: 0px 20px;
                margin: 0px;

                @media (max-width: $md) {
                    padding: 0 15px;
                }

                & a {
                    color: $color-blue;
                }
            }

            & + & {
                margin-top: 16px;
            }
        }

        &-divider {
            margin: 0;
            border-width: 0px 0 0 0;
        }

        &-state-focus,
        &-state-active {
            margin: 0px;
            background: $color-white;
            border: 0px;
        }
    }

    &-helper-hidden-accessible {
        display: none;
    }

    &-autocomplete-input {
        text-align: left;

        &:focus {
            //border-radius: 4px 4px 0 0;
        }
    }
}
