.price-list {
    padding-right: 5px;
    margin-bottom: 40px;

    @media (max-width: $lg) {
        padding-right: 0;
        margin-bottom: 28px;
    }

    @media (max-width: $md) {
        margin-bottom: 24px;
    }

    * + & {
        margin-top: 41px;

        @media (max-width: $lg) {
            margin-top: 33px;
        }

        @media (max-width: $md) {
            margin-top: 25px;
        }
    }

	&__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & + & {
            margin-top: 14px;

            @media (max-width: $lg) {
                margin-top: 13px;
            }

            @media (max-width: $md) {
                margin-top: 6px;
            }
        }

        &.total {
            border-top: 1px solid $color-gray-light;
            padding-top: 16px;
            margin-top: 11px;

            @media (max-width: $lg) {
                margin-top: 19px;
            }

            @media (max-width: $md) {
                margin-top: 12px;
                padding-top: 13px;
                flex-wrap: wrap;
            }
        }
    }

    &__title {
        font-size: 14px;
        line-height: 20px;
        font-weight: 800;

        @media (max-width: $lg) {
            font-size: 13px;
            line-height: 16px;
        }

        @media (max-width: $md) {
            font-size: 10px;
            line-height: 14px;
        }

        .total & {
            font-size: 24px;
            line-height: 29px;

            @media (max-width: $md) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    &__price {
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        font-family: $fons-lato;

        @media (max-width: $lg) {
            font-size: 13px;
            line-height: 16px;
            font-family: $font-base;
            font-weight: 800;
        }

        @media (max-width: $md) {
            font-size: 11px;
            line-height: 16px;
        }

        .total & {
            font-size: 22px;
            line-height: 26px;
            margin-left: auto;

            @media (max-width: $lg) {
                font-size: 24px;
            }

            @media (max-width: $md) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    &__sale {
        border-radius: 8px;
        background: $color-red;
        margin-left: 26px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 800;
        display: flex;
        align-items: center;
        padding: 6px 14px;

        @media (max-width: $lg) {
            font-size: 13px;
            padding: 6px 20px;
            letter-spacing: 0;
        }

        @media (max-width: $md) {
            margin-left: 0;
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            margin-top: 12px;
            justify-content: center;
        }

        &-price {
            font-size: 17px;
            line-height: 20px;
            margin-left: 8px;

            @media (max-width: $lg) {
                font-size: 15px;
                letter-spacing: -0.2px;
                margin-left: 2px;
            }

            @media (max-width: $md) {
                font-size: 16px;
                margin-left: 10px;
            }
        }
    }
}
