.bootstrap-select {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 204px;

    &.show-tick {
        &.select-custom {
            & > .dropdown-menu li.selected:first-child span.check-mark {
                top: calc(50% + 17px);

                @media (max-width: $lg) {
                    top: calc(50% + 7px);
                }
            }
        }
    }

    &.select-custom {

        & > .dropdown-toggle {
            
            height: 52px;
            border: 1px solid #E6E6E6;
            border-radius: 8px;
            font-weight: normal;

            @media (max-width: $lg) {
                height: 44px;
            }
        }

        & > .dropdown-menu li:first-child a {
            padding-top: 34px;
            height: 70px;

            @media (max-width: $lg) {
                padding-top: 24px;
                height: 60px;
            }
        }

        
        &--w-100 {
            max-width: 100%;
            width: 100% !important;
        }
    }


    @media (max-width: $lg) {
        max-width: 100%;
        width: 100% !important;
    }

    &.select--full {
        max-width: none;
        width: 100% !important;
    }

    & > .dropdown-toggle {
        padding: 10px 45px 10px 20px;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0px;
        border: 1px solid $color-base;
        border-radius: 20px;
        background: $color-white;
        height: 40px;
        position: relative;
        z-index: 1;

        &--custom {
            background-color: #000;
        }

        @media (max-width: $lg) {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.1px;
            height: 32px;
            padding: 10px 45px 10px 17px;
        }

        @media (max-width: $md) {
            font-size: 12px;
            line-height: 15px;
            font-weight: 800;
            height: 32px;
            border-radius: 20px;
            padding-top: 8px;
        }

        &.bs-placeholder {
            color: $color-base;

            &:hover {
                color: $color-base;
            }
        }

        & .bs-caret {
            position: absolute;
            top: 0;
            right: 21px;
            width: 17px;
            height: 100%;

            @media (max-width: $lg) {

            }

            & .caret {
                position: absolute;
                top: 50%;
                right: 0;
                width: 11px;
                height: 11px;
                border-top: 1px solid $color-base;
                border-right: 1px solid $color-base;
                transform: rotate(135deg);
                margin-top: -8px;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    &.bs3 .dropdown-toggle {
        outline: none;

        &:focus {
            outline: none !important;
        }

        & .filter-option {
            padding-right: 0;
        }
    }

    & .dropdown-menu {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0px 0 0;
        background: $color-white;
        border-radius: 0;
        //border-top: 1px solid#F4F4F4;
        border: 1px solid $color-smoke;
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 20px;
        width: 100%;
        display: none;

        @media (max-width: $md) {
            max-height: none !important;
            min-width: 290px !important;
        }

        & .inner {
            width: 100%;

            @media (max-width: $md) {
                max-height: none !important;
            }
        }

        & li {
            width: 100%;

            & a {
                background: $color-white;
                border: 0px;
                color: $color-base;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: -0.2px;
                font-weight: 400;
                list-style-image: none;
                padding: 3px 16px;
                height: 37px;
                margin-right: 0px;
                text-align: left;
                list-style: none;
                display: flex;
                align-items: center;
                outline: none;
                position: relative;

                @media (max-width: $lg) {
                    font-size: 10px;
                    line-height: 12px;
                    padding-left: 17px;
                    padding-right: 17px;
                }

                @media (max-width: $md) {
                    font-size: 12px;
                    line-height: 17px;
                    height: 44px;
                    font-weight: 400;
                }

                &:hover {
                    background: $color-smoke;
                }
            }

            &:first-child a {
                padding-top: 20px;
                height: 57px;
            }
        }
    }

    &.open {
        z-index: 100;

        & .dropdown-menu {
            display: flex;
            flex-wrap: wrap;
        }

        & > .dropdown-toggle {
            & .bs-caret {
                & .caret {
                    transform: rotate(-45deg);
                    margin-top: -2px;
                }
            }
        }
    }

    &.show-tick {
        & .dropdown-menu {
            & li {
                & a {
                    & span.text {
                        display: block;
                        margin: 0;
                    }
                }

                & span.check-mark {
                    background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3439 1.04346C10.5443 1.23337 10.5529 1.54984 10.363 1.75031L4.67877 7.75031C4.58673 7.84746 4.45959 7.90366 4.32579 7.90633C4.19199 7.90901 4.06271 7.85794 3.96686 7.76455L0.651068 4.53378C0.453287 4.34107 0.449175 4.02451 0.641885 3.82673C0.834596 3.62895 1.15115 3.62484 1.34893 3.81755L4.30155 6.69446L9.63702 1.06256C9.82694 0.862096 10.1434 0.853542 10.3439 1.04346Z' fill='%23F61D2A'/%3E%3C/svg%3E%0A");
                    background-size: 11px 8px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    height: 8px;
                    width: 11px;
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    margin-top: -5px;
                    opacity: 0;

                    @media (max-width: $lg) {
                        height: 14px;
                        width: 20px;
                        background-size: 20px 14px;
                        margin-top: -7px;
                        right: 20px;
                    }
                }

                &.selected {
                    & span.check-mark {
                        opacity: 1;
                        right: 16px;
                        top: 50%;

                        @media (max-width: $lg) {
                            right: 18px;
                        }
                    }

                    &:first-child {
                        & span.check-mark {
                            top: calc(50% + 7px);
                        }
                    }
                }
            }
        }

        & select[multiple] {
            & ~ .dropdown-menu {
                & li {

                    & span.check-mark {
                        border: 1px solid $color-base;
                        background: $color-white;
                        background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3439 1.04346C10.5443 1.23337 10.5529 1.54984 10.363 1.75031L4.67877 7.75031C4.58673 7.84746 4.45959 7.90366 4.32579 7.90633C4.19199 7.90901 4.06271 7.85794 3.96686 7.76455L0.651068 4.53378C0.453287 4.34107 0.449175 4.02451 0.641885 3.82673C0.834596 3.62895 1.15115 3.62484 1.34893 3.81755L4.30155 6.69446L9.63702 1.06256C9.82694 0.862096 10.1434 0.853542 10.3439 1.04346Z' fill='white'/%3E%3C/svg%3E%0A");
                        background-size: 10px 7px;
                        background-position: center 45%;
                        background-repeat: no-repeat;
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        position: absolute;
                        right: 13px;
                        top: 50%;
                        margin-top: -8px;
                        opacity: 1;
                        display: block;

                        @media (max-width: $lg) {
                            height: 20px;
                            width: 20px;
                            right: auto;
                            left: 17px;
                            margin-top: -10px;
                        }
                    }

                    &:first-child {
                        & span.check-mark {
                            top: calc(50% + 8px);
                        }
                    }

                    & a {
                        @media (max-width: $lg) {
                            padding-left: 49px;
                        }
                    }

                    &.selected {
                        & span.check-mark {
                            background-color: $color-red;
                            border-color: $color-red;
                            opacity: 1;
                            right: 13px;
                            top: 50%;
                        }

                        &:first-child {
                            & span.check-mark {
                                top: calc(50% + 8px);
                            }
                        }
                    }
                }
            }
        }

        & select[data-color] {
            & ~ .dropdown-menu {

                & li {

                    & a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding-left: 44px;
                        position: relative;

                        & .select-color {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            position: absolute;
                            left: 16px;
                            top: 50%;
                            margin-top: -10px;
                        }

                        &.light {

                            & .select-color {
                                border: 1px solid $color-base !important;
                            }
                        }
                    }

                    &:first-child {

                        & a .select-color {
                            top: calc(50% + 7px);
                        }
                    }

                    & span.check-mark {
                        background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3439 1.04346C10.5443 1.23337 10.5529 1.54984 10.363 1.75031L4.67877 7.75031C4.58673 7.84746 4.45959 7.90366 4.32579 7.90633C4.19199 7.90901 4.06271 7.85794 3.96686 7.76455L0.651068 4.53378C0.453287 4.34107 0.449175 4.02451 0.641885 3.82673C0.834596 3.62895 1.15115 3.62484 1.34893 3.81755L4.30155 6.69446L9.63702 1.06256C9.82694 0.862096 10.1434 0.853542 10.3439 1.04346Z' fill='%23F61D2A'/%3E%3C/svg%3E%0A");
                        background-size: 18px 12px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        height: 12px;
                        width: 18px;
                        position: absolute;
                        right: 16px;
                        top: 50%;
                        margin-top: -6px;
                        opacity: 0;
                        background-color: transparent;
                        border-color: transparent;
                        left: auto;

                        @media (max-width: $lg) {
                            height: 14px;
                            width: 20px;
                            background-size: 20px 14px;
                            margin-top: -7px;
                            right: 20px;
                            left: auto;
                        }
                    }

                    &.selected {
                        & span.check-mark {
                            left: auto;
                            opacity: 1;
                            right: 16px;
                            top: 50%;
                            background-color: transparent;
                            border-color: transparent;

                            @media (max-width: $lg) {
                                right: 18px;
                                left: auto;
                            }
                        }

                        &:first-child {
                            & span.check-mark {
                                top: calc(50% + 7px);
                            }

                            & a .select-color {
                                top: calc(50% + 7px);
                            }
                        }
                    }
                }
            }
        }
    }

    &.select--sm {
        & > .dropdown-toggle {
            height: 52px;
            border-radius: 26px;
            font-weight: 800;
            padding-left: 31px;
            padding-right: 70px;

            @media (max-width: $lg) {
                height: 44px;
                border-radius: 22px;
                font-size: 13px;
                line-height: 16px;
                padding-left: 22px;
                padding-right: 45px;
            }

            & .bs-caret {
                position: absolute;
                top: 0;
                right: 40px;
                width: 25px;
                height: 100%;

                @media (max-width: $lg) {
                    right: 25px;
                }

                & .caret {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 17px;
                    height: 17px;
                    border-top: 1px solid $color-base;
                    border-right: 1px solid $color-base;
                    transform: rotate(135deg);
                    margin-top: -13px;
                    transition: all 0.3s ease-in-out;

                    @media (max-width: $lg) {
                        height: 11px;
                        width: 11px;
                        margin-top: -10px;
                    }
                }
            }
        }

        & .dropdown-menu {
            top: 26px;

            @media (max-width: $lg) {
                text-outline: 20px;
            }

            & li {
                & a {
                    height: 40px;

                    @media (max-width: $lg) {
                        height: 36px;
                    }
                }

                &:first-child a {
                    padding-top: 26px;
                    height: 66px;

                    @media (max-width: $lg) {
                        padding-top: 20px;
                        height: 56px;
                    }
                }
            }
        }
    }
}
