.level {

    &__title {
        margin-bottom: 5px;
    }

    * + & {
        margin-top: 24px;

        @media (max-width: $lg) {
            margin-top: 8px;
        }

        @media (max-width: $md) {
            margin-top: 15px;
        }
    }

    &__list {
        padding: 0 50px;

        @media (max-width: $lg) {
            padding: 0;
            margin-top: 29px;
        }

        @media (max-width: $md) {
            margin-top: 0;
            padding-bottom: 22px;
            margin-right: -10px;
            margin-left: -10px;
        }
    }

    &__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-image: url("./assets/images/example/badge-right.png");
        background-repeat: no-repeat;
        background-position: left 60px center;
        -webkit-background-size: 95% 75%;
           -moz-background-size: 95% 75%;
                background-size: 95% 75%;

        @media (max-width: $lgx) {
            background-position: left 70px center;
            -webkit-background-size: 90% 75%;
               -moz-background-size: 90% 75%;
                    background-size: 90% 75%;
        }

        @media (max-width: $lg) {
            -webkit-background-size: 90% 85%;
               -moz-background-size: 90% 85%;
                    background-size: 90% 85%;
        }

        @media (max-width: $md) {
            background-image: none;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
               -moz-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            display: block;
            padding: 0 10px;
        }

        & + & {
            margin-top: 0;

            @media (max-width: $lg) {
                margin-top: 0;
            }
        }

        &:nth-child(odd) {
            @media (max-width: $lgx) {
                .level__info {
                    padding-right: 70px;
                }
            }
        }

        &:nth-child(even) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: row-reverse;
               -moz-box-orient: horizontal;
               -moz-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
            background-image: url("./assets/images/example/badge-left.png");
            background-position: right 60px center;

            @media (max-width: $lgx) {
                background-position: right 70px center;

                .level__info {
                    padding-left: 70px;
                }
            }
        }
    }

    &__card {
        -webkit-border-radius: 20px;
           -moz-border-radius: 20px;
                border-radius: 20px;
        height: 225px;
        margin-right: 52px;
        position: relative;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;

        @media (max-width: $lgx) {
            margin-right: 0;

            .level__info {
                padding-right: 50px;
            }
        }

        @media (max-width: $lg) {
            height: 181px;
            width: 190px;
        }

        &.dark {

        }

        &.red {

        }
    }

    &__item:nth-child(even) &__card {
        margin-right: 0;
        margin-left: 52px;

        @media (max-width: $lgx) {
            margin-left: 0;
        }
    }

    &__image {
        height: 100%;

        img {
            max-height: 100%;
            width: auto;
        }
    }

    &__head {
        font-size: 24px;
        line-height: 29px;
        font-weight: 800;
        color: $color-white;
        position: absolute;
        left: 28px;
        top: 24px;
        right: 28px;
        display: none;

        @media (max-width: $lg) {
            left: 20px;
            top: 14px;
            right: 20px;
        }
    }

    &__sale {
        font-size: 52px;
        line-height: 1;
        font-weight: 800;
        color: $color-white;
        position: absolute;
        right: 28px;
        bottom: 17px;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
           -moz-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        display: none;

        @media (max-width: $lg) {
            font-size: 48px;
            right: 22px;
            bottom: 8px;
        }

        &:after {
            content: '%';
            font-size: 24px;
            line-height: 28px;
            font-weight: 400;
            position: relative;
            bottom: 1px;
        }
    }

    &__info {
        @media (max-width: $lg) {
            font-size: 12px;
            line-height: 17px;
        }

        @media (max-width: $md) {
            margin-top: 13px;
        }
    }
}
