.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-smoke;
    background: $color-white;
    border-radius: 5px;
    margin: 0 13px 26px;
    width: calc(25% - 26px);

    @media (max-width: $lg) {
        width: calc(100% / 3 - 26px);
        margin-bottom: 18px;
    }

    @media (max-width: $md) {
        width: calc(50% - 10px);
        margin: 0 5px 8px;
    }

    .mobile-list & {
        @media (max-width: $md) {
            width: 100%;
            margin-bottom: 8px;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 8px;
            padding-left: 118px;
            min-height: 120px;
        }
    }

    &__wrap {
        padding: 0 0 40px;
    }

    &__list {
        margin: 0 0 -26px;
        padding: 0 23px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $lg) {
            padding-left: 34px;
            padding-right: 34px;
            margin-bottom: -18px;
        }

        @media (max-width: $md) {
            padding-left: 0;
            padding-right: 0;
            margin: 0 -4px -8px;
        }
    }

    &__slider & {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    &__slider &__list {
        margin-bottom: 0;

        @media (max-width: $lg) {
            margin-bottom: 0;
        }

        @media (max-width: $lg) {
            margin-bottom: 0;
        }
    }

    &__slider {
        & .slick-track {
            display: flex;
        }

        & .slick-slide {
            margin: 0 13px;
            float: none;
            height: auto;

            @media (max-width: $md) {
                margin: 0 5px;
            }

            & > div {
                height: 100%;
            }
        }

        & .slick-prev {
            left: -36px;
            margin-top: -24px;

            @media (max-width: $lg) {
                left: 0;
            }
        }

        & .slick-next {
            right: -36px;
            margin-top: -24px;

            @media (max-width: $lg) {
                right: 0;
            }
        }
    }

    &__img {
        position: relative;
        width: 100%;
        border-bottom: 1px solid $color-smoke;

        & img {
            width: 100%;
            vertical-align: top;
        }

        .mobile-list & {
            @media (max-width: $md) {
                width: 104px;
                margin-right: 8px;
                border: 0;
                position: absolute;
                left: 8px;
                top: 8px;
            }
        }
    }

    &__status {
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        color: $color-white;
        border-radius: 5px;
        background: $color-red;
        position: absolute;
        top: 8px;
        left: 8px;
        font-family: $fons-lato;
        padding: 3px 9px;
        min-width: 92px;

        @media (max-width: $lg) {
            font-size: 10px;
            line-height: 12px;
            left: 7px;
            top: 7px;
            min-width: 86px;
            padding: 2px 7px;
        }

        @media (max-width: $md) {
            font-size: 7.5px;
            line-height: 9px;
            letter-spacing: -0.2px;
            border-radius: 4px;
            min-width: 64px;
            left: 5px;
            top: 5px;
        }

        .mobile-list & {
            @media (max-width: $md) {
                left: 4px;
                top: 4px;
            }
        }
    }

    &__info {
        padding: 20px 16px 11px;
        width: 100%;

        @media (max-width: $lg) {
            padding: 9px 13px 4px;
        }

        @media (max-width: $md) {
            padding: 8px 10px 2px;
        }

        .mobile-list & {
            @media (max-width: $md) {
                width: 100%;
                padding: 0;
                margin-top: -2px;
                padding-right: 10px;
            }
        }
    }

    &__name {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        display: block;

        @media (max-width: $lg) {
            font-size: 13px;
            line-height: 19px;
        }

        @media (max-width: $md) {
            font-size: 12px;
            line-height: 17px;
            letter-spacing: -0.2px;
        }

        .mobile-list & {
            @media (max-width: $md) {
                text-align: left;
            }
        }
    }

    &__bottom {
        width: 100%;
        margin-top: auto;
        padding: 0px 16px 9px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media (max-width: $lg) {
            display: block;
            padding-left: 13px;
            padding-right: 13px;
            padding-bottom: 13px;
        }

        @media (max-width: $md) {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        & .elem-btn {
            margin-bottom: 6px;

            @media (max-width: $lg) {
                margin-bottom: 0;
            }
        }

        .mobile-list & {
            @media (max-width: $md) {
                width: 100%;
                padding: 0;
                margin-top: 3px;
                align-items: inherit;
            }
        }
    }

    &__price {
        @media (max-width: $lg) {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: center;
            margin-bottom: 7px;
        }

        @media (max-width: $md) {
            justify-content: space-between;
            margin-bottom: 6px;
        }

        .mobile-list & {
            @media (max-width: $md) {
                justify-content: flex-end;
                margin-bottom: 10px;
            }
        }
    }

    &__like {
        position: absolute;
        border: 1px solid $color-base;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1px;
        cursor: pointer;
        right: 8px;
        top: 8px;

        @media (max-width: $lg) {
            right: 12px;
            bottom: 14px;
            top: auto;
        }

        @media (max-width: $md) {
            height: 26px;
            width: 26px;
            right: 8px;
            bottom: 10px;
        }

        .mobile-list & {
            @media (max-width: $md) {
                height: 32px;
                width: 32px;
                right: 6px;
                bottom: 8px;
            }
        }

        & .icon {
            max-width: 80%;
            max-height: 80%;
            fill: $color-base;
        }



        &.active {
            border-color: $color-red;

            & .icon {
                fill: $color-red;
            }
        }
    }
}
