.card {
    position: relative;
    display: flex !important;
    flex-direction: column;
    border: 1px solid $color-smoke;
    background: $color-white;
    border-radius: 5px;
    margin: 0 13px 26px;
    width: calc(20% - 26px);

    &:hover {
        .card__like {
            display: flex;
        }
    }

    @media (max-width: $lgx) {
        width: calc(100% / 4 - 26px);
    }

    @media (max-width: $lg) {
        width: calc(100% / 3 - 26px);
        margin-bottom: 18px;
    }

    @media (max-width: $md) {
        width: calc(50% - 10px);
        margin: 0 5px 8px;
    }

    &--inline {
        border: 0;
        display: inline-flex !important;

        & .elem-btn--auto {
            padding: 0 13px;
            font-size: 12px;
        }

        & .card__info {

            @media (min-width: $lg) {
                min-height: 49px;
            }

        }
    }

    &--full {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .mobile-list & {
        @media (max-width: $md) {
            width: 100%;
            margin-bottom: 8px;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 8px;
            padding-left: 118px;
            min-height: 120px;
        }
    }

    .list & {
        width: 100%;
        margin-bottom: 23px;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 8px;
        padding-left: 152px;
        min-height: 152px;
        margin-left: 0;
        margin-right: 0;

        @media (max-width: $lg) {
            min-height: 140px;
            padding-left: 143px;
            margin-bottom: 16px;
        }

        @media (max-width: $md) {
            min-height: 120px;
            padding-left: 119px;
            margin-bottom: 12px;
        }

        &--inline {
            width: 392px;
            margin-bottom: 0;

            @media (max-width: $lg) {
                width: 320px;
                padding: 8px;
                padding-left: 120px;
                min-height: 120px;
            }

            @media (max-width: $md) {
                // width: 234px;
                width: 100%;
                padding: 0;
                padding-left: 110px;
                min-height: 106px;
            }
        }

    }

    &__wrap {
        padding: 0 0 40px;

        @media (max-width: $md) {
            margin-bottom: 25px;
        }
    }

    &__list {
        position: relative;
        margin: 0;
        padding: 0 23px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $lg) {
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: -18px;
        }

        @media (max-width: $md) {
            padding-left: 0;
            padding-right: 0;
            margin: 0 -5px -8px;
        }

        &.mobile-list {
            & .card__like {
                @media (max-width: $md) {
                    right: auto;
                    left: 245px;
                }

            }

            & .elem-price {
                &-old {
                    @media (max-width: $md) {
                        margin-left: 4px;
                    }
                }
            }
        }

        &--inner {
            @media (max-width: $lg) {
                padding-left: 5px;
                padding-right: 5px;
            }

            @media (max-width: $md) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &.list {
            padding: 0;

            @media (max-width: $md) {
                margin-left: 0;
                margin-right: 0;
            }

            & .card {
                &__info {
                    display: block;
                }

                &__like {
                    display: flex;
                }

                &__name {
                    max-width: 160px;
                }
            }
        }

        &--name-full {
            &.list {
                & .card {
                    &__name {
                        max-width: none;
                    }
                }
            }
        }
    }

    &__slider & {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    &__slider &__list {
        margin-bottom: 0;

        @media (max-width: $lg) {
            margin-bottom: 0;
        }

        @media (max-width: $lg) {
            margin-bottom: 0;
        }
    }

    &__slider {
        & .slick-track {
            display: flex;
        }

        & .slick-slide {
            margin: 0 13px;
            float: none;
            height: auto;

            @media (max-width: $md) {
                margin: 0 5px;
            }

            & > div {
                height: 100%;
            }
        }

        & .slick-prev {
            left: -36px;
            margin-top: -24px;

            @media (max-width: $lg) {
                left: 0;
            }
        }

        & .slick-next {
            right: -36px;
            margin-top: -24px;

            @media (max-width: $lg) {
                right: 0;
            }
        }

        .swiper-container {
            position: static;
        }

        .popup & {
            & .slick-prev {
                left: -26px;
                margin-top: -10px;

                @media (max-width: $lg) {
                    left: -24px;
                }
            }

            & .slick-next {
                right: -26px;
                margin-top: -10px;

                @media (max-width: $lg) {
                    right: -24px;
                }
            }
        }

        @media (min-width: $md + 1) {
            padding-left: 25px;
            padding-right: 25px;
        }

        @media (max-width: $lg) {
            & .card--inline {
                border: 1px solid $color-smoke;
                border-radius: 8px;
                padding: 8px 8px 8px 120px;
            }
        }

        @media (max-width: $md) {
            & .card--inline {
                // border: 1px solid $color-smoke;
                // border-radius: 8px;
                padding: 8px 8px 8px 105px;

                & .card__img {
                    width: 90px;
                    height: 90px;
                    left: 8px;
                    top: 8px;
                }

                & .card__price {
                    flex-direction: column;
                    align-items: baseline;

                    & .elem-price-old {
                        margin-left: 0;
                    }

                    & .elem-price {
                        line-height: 22px;
                    }
                }
            }
        }

    }

    &--inline &__img {
        & img {
            border-radius: 5px;

            @media (max-width: $md) {
                border-radius: 3px;
            }
        }
    }

    &__img {
        position: relative;
        width: 100%;
        border-bottom: 1px solid $color-smoke;
        height: 248px;
        text-align: center;
        display: flex;

        @media (max-width: $lg) {
            height: 194px;
        }

        @media (max-width: $sm) {
            height: 138px;
        }

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        & img {
            // width: 100%;
            vertical-align: top;
            border-radius: 5px 5px 0 0;
            max-height: 100%;
            object-fit: contain;
            font-family: 'object-fit: contain';

            @media (max-width: $md) {
                border-radius: 3px;
            }
        }

        .mobile-list & {
            @media (max-width: $md) {
                width: 104px;
                margin-right: 8px;
                border: 0;
                position: absolute;
                left: 8px;
                top: 8px;
            }
        }

        .list & {
            width: 128px;
            height: 128px;
            margin-right: 12px;
            border: 0;
            position: absolute;
            left: 12px;
            top: 12px;

            @media (max-width: $lg) {
                width: 124px;
                height: 124px;
                left: 8px;
                top: 8px;
            }

            @media (max-width: $md) {
                width: 104px;
                height: 104px;
                margin-right: 8px;
                border: 0;
                position: absolute;
                left: 8px;
                top: 8px;
            }

            & img {
                max-height: 100%;
            }
        }

        .card--inline & {
            @media (max-width: $lg) {
                width: 104px;
                height: 104px;
                margin-right: 8px;
            }

            @media (max-width: $md) {
                width: 100px;
                height: 100px;
                top: 0;
                left: 0;
            }
        }
    }

    &--full &__img {
        height: 323px;
    }

    &--collections &__img {
        height: 163px;
    }

    &__status {
        font-size: 11px;
        line-height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        color: $color-white;
        border-radius: 5px;
        background: $color-red;
        position: absolute;
        top: 8px;
        left: 8px;
        font-family: $fons-lato;
        padding: 3px 5px;
        min-width: 92px;
        white-space: nowrap;

        &--null {
            background: $color-gray;
        }

        &--light {
            background: $color-white;
            border: 1px solid $color-gray-light;
            color: $color-red;
        }

        @media (max-width: $lg) {
            font-size: 10px;
            line-height: 12px;
            left: 7px;
            top: 7px;
            min-width: 86px;
            padding: 2px 7px;
        }

        @media (max-width: $md) {
            font-size: 7.5px;
            line-height: 9px;
            letter-spacing: -0.2px;
            border-radius: 4px;
            min-width: 64px;
            left: 5px;
            top: 5px;
        }

        .mobile-list & {
            @media (max-width: $md) {
                left: 4px;
                top: 4px;
            }
        }

        .list & {
            left: calc(100% + 11px);
            top: 12px;

            @media (max-width: $lg) {
                top: -2px;
            }

            @media (max-width: $md) {
                left: 4px;
                top: 4px;
            }
        }

        .card--inline & {
            position: relative;
            left: auto;
            top: auto;
            display: inline-flex;
            margin-bottom: 6px;

            @media (max-width: $lg) {
                // margin-bottom: 11px;
            }
        }
    }

    &__info {
        padding: 20px 16px 11px;
        width: 100%;

        min-height: 62px;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        @media (max-width: $lg) {
            padding: 9px 13px 4px;
            min-height: 39px;
            // display: flex;
            // align-items: flex-end;
            // justify-content: center;
        }

        @media (max-width: $md) {
            padding: 8px 10px 2px;
            min-height: auto;
        }

        .mobile-list & {
            @media (max-width: $md) {
                width: 100%;
                padding: 0;
                margin-top: -2px;
                padding-right: 10px;
                margin-bottom: 3px;
                display: flex;
                align-items: flex-end;
            }
        }

        .list & {
            width: 100%;
            padding: 0;
            margin-top: 0;
            padding-right: 10px;
            padding-top: 47px;

            @media (max-width: $lg) {
                padding-top: 22px;
            }

            @media (max-width: $md) {
                width: 100%;
                padding: 0;
                margin-top: -2px;
                padding-right: 10px;
                margin-bottom: 6px;
            }
        }

        .card--inline & {
            padding-top: 0;
        }
    }

    &__name {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        display: block;

        &:hover {
            color: unset;
        }

        &--sm {
            font-size: 16px;
            line-height: 24px;
        }

        @media (max-width: $lg) {
            font-size: 13px;
            line-height: 19px;
        }

        @media (max-width: $md) {
            font-size: 12px;
            line-height: 17px;
            letter-spacing: -0.2px;
        }

        .mobile-list & {
            @media (max-width: $md) {
                text-align: left;
            }
        }

        .list & {
            text-align: left;

            @media (max-width: $md) {
                text-align: left;
                padding-right: 0;
            }
        }
    }

    &__count {
        font-size: 12px;
        line-height: 15px;
        color: $color-gray;
        font-weight: 800;
        margin: 5px 0 9px;

        @media (max-width: $lg) {
            font-size: 10px;
            line-height: 12px;
            // font-weight: 400;
            margin-bottom: 0;
        }

        @media (max-width: $md) {
            font-weight: 800;
        }
    }

    &__articul {
        display: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $color-gray;
        position: absolute;
        right: 28px;
        top: 18px;

        @media (max-width: $lg) {
            position: relative;
            right: auto;
            top: auto;
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 7px;
        }

        .list & {
            display: block;

            @media (max-width: $md) {
                display: none;
            }
        }
    }

    &__bottom {
        width: 100%;
        margin-top: auto;
        padding: 0px 16px 9px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media (max-width: $lg) {
            display: block;
            padding-left: 13px;
            padding-right: 13px;
            padding-bottom: 13px;
        }

        @media (max-width: $md) {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            text-align: center;
        }

        & .elem-btn {
            margin-left: 10px;

            @media (max-width: $lg) {
                margin-bottom: 0;
                margin-left: 0;
            }

            &--disabled {
                margin-left: auto;
            }
        }

        .mobile-list & {
            @media (max-width: $md) {
                width: 100%;
                padding: 0;
                margin-top: auto;
                align-items: inherit;
                text-align: left;
            }
        }

        .list & {
            width: 100%;
            padding: 0;
            padding-bottom: 8px;
            padding-right: 71px;
            margin-top: auto;
            align-items: inherit;

            @media (max-width: $lg) {
                padding-right: 48px;
                display: flex;
                align-items: center;
                padding-bottom: 0;
            }

            @media (max-width: $md) {
                width: 100%;
                padding: 0;
                margin-top: auto;
                align-items: inherit;
                display: block;
            }

            .elem-btn {
                height: 40px;
                margin-bottom: 0;
                border-radius: 24px;
                min-width: 168px;
                font-size: 12px;

                @media (max-width: $lg) {
                    height: 32px;
                    min-width: 128px;
                    font-size: 11px;
                }

                @media (max-width: $md) {
                    font-size: 10px;
                    line-height: 12px;
                }

                &[data-add] {
                    // text-transform: lowercase;
                    font-size: 14px;

                    @media (max-width: $lg) {
                        // text-transform: none;
                        font-size: 13px;
                    }

                    @media (max-width: $md) {
                        font-size: 12px;
                    }

                    &:before {
                        content: attr(data-add);
                        text-transform: none;
                        margin-right: 3px;

                        @media (max-width: $lg) {
                            display: none;
                        }
                    }
                }

                &[data-add="Перейти"] {
                    text-transform: lowercase;
                }
            }
        }
    }

    &__price {
        @media (max-width: $lg) {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: center;
            margin-bottom: 7px;
        }

        @media (max-width: $md) {
            margin-bottom: 6px;
        }

        .mobile-list & {
            @media (max-width: $md) {
                justify-content: flex-end;
                margin-bottom: 10px;
            }
        }

        .list & {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;

            @media (max-width: $lg) {
                margin-bottom: 0;
            }

            @media (max-width: $md) {
                justify-content: flex-end;
                margin-bottom: 2px;
            }

            & .elem-price-old {
                margin-left: 13px;
                margin-bottom: 4px;

                @media (max-width: $lg) {
                    margin-bottom: 0;
                    margin-left: 8px;
                }

                @media (max-width: $md) {
                    margin-left: 5px;
                }
            }
        }
    }

    &__like {
        position: absolute;
        //border: 1px solid $color-base;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        // display: flex;
        display: none;
        align-items: center;
        justify-content: center;
        padding-top: 1px;
        cursor: pointer;
        right: 8px;
        top: 8px;

        @media (min-width: $lg + 1) {
            &:hover {
                animation: scale 0.5s infinite ease;
            }
        }

        @keyframes scale {
            0% {
              transform: scale(1, 1);
            }

            50% {
                transform: scale(0.8, 0.8);
            }

            100% {
                transform: scale(1, 1);
            }
        }

        @media (max-width: $lg) {
            right: 12px;
            bottom: 14px;
            top: auto;
            display: flex;
        }

        @media (max-width: $md) {
            height: 26px;
            width: 26px;
            right: 8px;
            bottom: 10px;
        }

        .mobile-list & {
            @media (max-width: $md) {
                height: 32px;
                width: 32px;
                right: 6px;
                bottom: 8px;
            }
        }

        .list & {
            height: 40px;
            width: 40px;
            right: 27px;
            bottom: 16px;
            top: auto;

            @media (max-width: $lg) {
                height: 32px;
                width: 32px;
                bottom: 8px;
                right: 16px;
            }

            @media (max-width: $md) {
                height: 32px;
                width: 32px;
                right: 6px;
                bottom: 8px;
            }

            &--top {
                bottom: auto;
                top: -5px;
                right: 13px;
            }
        }

        .card--inline & {
            right: 46px;
            bottom: 6px;

            @media (max-width: $lg) {
                right: 8px;
                bottom: 9px;
            }

            @media (max-width: $md) {
                right: 9px;
                bottom: 6px;
            }

            & .icon {
                @media (max-width: $md) {
                    height: 26px;
                    width: 26px;
                }
            }
        }

        & .icon {
            //max-width: 80%;
            //max-height: 80%;
            fill: $color-base;
            transition: 0s;

            & .bg {
                fill: $color-white;
            }
        }

        &.active {
            display: flex;
        }

        &.active {
            // border-color: $color-red;

            & .icon {
                fill: $color-red;
                transition: 0s;

                & .bg {
                    fill: $color-red;
                }
            }
        }
    }

    &__btn {
        .card--inline & {
            margin-top: 8px;
        }
    }

    &-link {
        justify-content: center;
        padding: 10px;

        @media (min-width: $md) {
            padding: 30px;
        }

        &__icon {
            margin-bottom: 20px;

            & .icon-go-to-catalog {
                height: 100px;

                @media (min-width: $md) {
                    height: 150px;
                }
            }
        }

        &__btn {
            display: flex;
            justify-content: center;

            & .elem-btn {
                width: 100%;
                max-width: 130px;

                @media (min-width: $md) {
                    max-width: 100%;
                }

            }
        }
    }

    &__list {
        &.mobile-list {

            & .card {
                @media (max-width: $md) {
                    border-radius: 8px;
                }
            }

            & .card--not-available {

                @media (max-width: $md) {
                    & .card__price {
                        display: none;
                    }

                    & .card__info {
                        align-items: flex-start;
                    }
                }
            }
        }
        &--baseline {
            align-content: baseline;
        }
    }

    &__inner {
        display: flex;
    }

    &-list {
        font-size: 12px;
        line-height: 14px;

        &--only-list {
            display: none;
        }

        &__item {
            line-height: 18px;
        }

        &__key {
            color: $color-gray;
            margin-right: 4px;
        }
    }

    &__list {
        &.list {
            .card-list {
                &--only-list {
                    display: block;
                }
            }
        }
    }

    // Редизайн карточек
    &--redesign {
        transition: border 0.3s ease-in-out;

        &:hover {
            border-color: $color-gray-light;
            transition: border 0.3s ease-in-out;

            .card {
                &__img {
                    border-color: $color-gray-light;
                    transition: border 0.3s ease-in-out;
                }

                &__like {
                    @media (max-width: $lg) {
                        display: none!important;

                        .list & {
                            display: block;
                        }
                    }
                }
            }
        }

        .card {
            &__img {
                transition: border 0.3s ease-in-out;
            }

            &__status {
                .list & {
                    top: 0px;
                }
            }

            &__info {
                padding: 0 16px 11px;

                min-height: unset;
                align-items: unset;

                .list & {
                    padding: 0;
                    padding-top: 30px;
                }
            }

            &__name {
                font-size: 14px;
                line-height: 16px;
            }

            &__articul {
                font-size: 12px;
                line-height: 14px;

                position: unset;
                right: unset;
                top: unset;
            }

            &__bottom {
                padding: 0px 16px 16px;

                & .elem-btn {
                    margin-left: unset;
                }

                .list & {
                    padding-bottom: 8px;
                    padding-right: 60px;

                    position: absolute;
                    bottom: 0;
                    right: 0;
                    max-width: 300px;

                    .elem-btn {
                        font-size: unset;
                    }
                }
            }

            &__price {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding: 10px 16px;

                @media (max-width: $lg) {
                    flex-direction: row;
                }

                @media (max-width: $md) {
                    flex-direction: column-reverse;
                    align-items: center;
                }

                .elem-price--new {
                    color: $color-red;
                }

                .elem-price-old {
                    margin-left: 4px;
                    margin-bottom: 3px;

                    @media (max-width: $md) {
                        margin-left: 0px;
                        margin-bottom: 0px;
                    }
                }

                .list & {
                    flex-direction: row;

                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            &__like {
                .list & {
                    bottom: 8px;
                    right: 8px;
                }

                @media (max-width: $lg) {
                    display: none!important;
                }
            }
        }
    }

    &--full &__price {
        padding-top: 14px;
        padding-bottom: 13px;
    }

    &--collections &__price {
        flex-direction: column;
        align-items: center;
        padding: 8px 10px 5px;
        justify-content: flex-end;
        height: 64px;

        @media (max-width: 1439px) {
            padding-bottom: 7px;
        }

        & .elem-price-old {
            order: -1;
            margin: 0 0 -3px;
        }
    }

    &--collections &__bottom {
        display: none;
    }

    &--full &__bottom {
        padding-top: 33px;
        justify-content: center;

        & .elem-btn {
            width: auto;
            min-width: 196px;
        }
    }

    &--collections &__name {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
    }

    // Редизайн списка карточек
    &__list {
        &--redesign {
            width: 100%;

            .filter {
                &--full {
                    padding: 0 13px;
                }
            }

            &.list {
                padding: 0 36px;

                @media (max-width: $lg) {
                    padding: 0 18px;
                }

                @media (max-width: $md) {
                    padding: 0;
                }

                .card {
                    &--redesign {
                        @media (max-width: $md) {
                            padding-bottom: 50px;
                        }
                    }

                    &__name {
                        max-width: none;

                        margin: 4px 0;
                    }
                }

                .filter {
                    &--full {
                        padding: 0;
                    }
                }
            }

            .elem-more__row {
                width: 100%;
            }
        }

        &--items-size-4 {
            &:not(.list) {
                .card {
                    @media (min-width: $lg) {
                        width: calc(100% / 3 - 26px);
                    }

                    @media (min-width: $lg + 1) and (max-width: $lgx) {
                        width: calc(100% / 4 - 26px);
                    }

                    @media(min-width: $lgx + 1) {
                        width: calc(100% / 4 - 26px);
                    }
                }
            }
        }
    }
}
