.mobile-menu {
    width: 100%;
    max-width: 466px;
    background: $color-white;
    position: fixed;
    left: -100%;
    top: 71px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 4px 17px;
    overflow-y: auto;

    @media (max-width: $md) {
        max-width: 265px;
        top: 106px;
        padding: 0 15px;
    }

    &.open {
        left: 0;
    }

    &__title {
        margin-left: 1px;
        margin-right: 1px;

        @media (max-width: $md) {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0;
            padding-top: 8px;
            margin-bottom: 12px;
        }
    }

    &__menu {
        margin-bottom: 20px;

        @media (max-width: $md) {
            margin-bottom: 12px;
        }
    }

    &__bottom {
        margin-top: auto;
        margin-left: -17px;
        margin-right: -17px;
        padding-left: 17px;
        padding-right: 17px;
        background: $color-smoke;
        padding-bottom: 7px;
    }

    &__contacts {
        margin-left: 0;
        align-items: center;
        margin-top: 13px;

        @media (max-width: $md) {
            padding-bottom: 1px;
            margin-top: 8px;
        }

        & .header__contacts-phone {
            @media (max-width: $md) {
                justify-content: flex-start;
                width: 100%;
            }
        }
    }
}
