*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: $bg-base;
	font-family: $font-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
	line-height: $line-height-base;
    color: $color-base;
    letter-spacing: -0.2px;
    width: 100%;
    margin: 0;
    padding: 0;

    @media (max-width: $lg) {
        font-size: 13px;
        line-height: 19px;
    }

    @media (max-width: $md) {
        font-size: 12px;
        line-height: 17px;
    }

    &.scroll {
        overflow: hidden;
        height: 100vh;
    }
}

.page {
    min-width: 320px;
    overflow: hidden;
    width: 100%;
    position: relative;

    &:after {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba($color-base, 0.5);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        visibility: hidden;
    }

    &.overflow {
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.container {
    @media (max-width: $lg) {
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (max-width: $md) {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__inner {
        padding: 0 36px;

        @media (max-width: $lg) {
            padding-left: 30px;
            padding-right: 30px;
        }

        @media (max-width: $md) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

a {
	color: inherit;
    transition: all .3s ease-in-out;

	&:hover {
        text-decoration: none;
        color: inherit;
	}
}

p {
    .content & {
        margin-bottom: 22px;

        @media (max-width: $md) {
            margin-bottom: 16px;
        }
    }
}

ul, ol {
	list-style: none;
	padding: 0;
    margin: 0;
    position: relative;

	& li {
		position: relative;
		padding: 0;
		margin: 0;
	}
}

ul:not([class]) {
    margin-bottom: $margin-bottom-list-base;

    &:last-child {
		margin-bottom: 0;
    }

    & li {
        padding-left: $padding-left-list-base;

        & + li {
            margin-top: $margin-top-list-item;
        }

        &:before {
            background: $bg-point-base;
            content: '';
            border-radius: 50%;
            left: 0;
			height: $size-point;
			position: absolute;
			top: 0;
			width: $size-point;
        }
    }
}

ol:not([class]) {
    counter-reset: item;
    margin-bottom: $margin-bottom-list-base;

    &:last-child {
		margin-bottom: 0;
    }

    & li {
        padding-left: $padding-left-list-base;

        & + li {
            margin-top: $margin-top-list-item;
        }

        &:before {
            content: counter(item)'.';
            counter-increment: item;
            left: 0;
            position: absolute;
            top: 0;
            width: $padding-left-list-base;
        }
    }
}

.list-mark {
    & li {
        .content & {
            margin-bottom: 25px;

            @media (max-width: $lg) {
                margin-bottom: 22px;
            }

            @media (max-width: $md) {
                margin-bottom: 17px;
            }
        }

        &:before {
            content: '✔';
            margin-right: 12px;

            @media (max-width: $lg) {
                margin-right: 7px;
            }
        }
    }
}

img,
svg {
    max-width: 100%;
}

svg {
    max-height: 100%;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
    width: 100%;
}

%arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='32' viewBox='0 0 16 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.616806 31.9992C0.536156 32.0002 0.456193 31.9836 0.382058 31.9506C0.307923 31.9175 0.241257 31.8687 0.186349 31.8072C0.127522 31.7497 0.0806373 31.6803 0.0485863 31.6032C0.0165354 31.5262 0 31.4431 0 31.3591C0 31.2752 0.0165354 31.1921 0.0485863 31.115C0.0806373 31.038 0.127522 30.9686 0.186349 30.9111L14.5021 15.9982L0.186349 1.08537C0.127522 1.02791 0.0806373 0.958509 0.0485863 0.881451C0.0165354 0.804394 0 0.721316 0 0.637348C0 0.553379 0.0165354 0.470302 0.0485863 0.393244C0.0806373 0.316187 0.127522 0.246785 0.186349 0.189322C0.243515 0.129332 0.311529 0.081717 0.386465 0.0492231C0.461401 0.0167293 0.541777 0 0.622956 0C0.704135 0 0.784511 0.0167293 0.859447 0.0492231C0.934383 0.081717 1.0024 0.129332 1.05956 0.189322L15.8181 15.5502C15.8757 15.6097 15.9215 15.6805 15.9527 15.7585C15.9839 15.8365 16 15.9201 16 16.0046C16 16.0891 15.9839 16.1728 15.9527 16.2508C15.9215 16.3288 15.8757 16.3996 15.8181 16.4591L1.05956 31.82C1.00217 31.8808 0.93302 31.9282 0.85669 31.9591C0.780359 31.99 0.698593 32.0036 0.616806 31.9992Z' fill='%23101010'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    width: 16px;

    @media (max-width: $lg) {
        height: 26px;
        width: 13px;
    }

    @media (max-width: $md) {
        height: 22px;
        width: 11px;
    }

    &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='32' viewBox='0 0 16 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.616806 31.9992C0.536156 32.0002 0.456193 31.9836 0.382058 31.9506C0.307923 31.9175 0.241257 31.8687 0.186349 31.8072C0.127522 31.7497 0.0806373 31.6803 0.0485863 31.6032C0.0165354 31.5262 0 31.4431 0 31.3591C0 31.2752 0.0165354 31.1921 0.0485863 31.115C0.0806373 31.038 0.127522 30.9686 0.186349 30.9111L14.5021 15.9982L0.186349 1.08537C0.127522 1.02791 0.0806373 0.958509 0.0485863 0.881451C0.0165354 0.804394 0 0.721316 0 0.637348C0 0.553379 0.0165354 0.470302 0.0485863 0.393244C0.0806373 0.316187 0.127522 0.246785 0.186349 0.189322C0.243515 0.129332 0.311529 0.081717 0.386465 0.0492231C0.461401 0.0167293 0.541777 0 0.622956 0C0.704135 0 0.784511 0.0167293 0.859447 0.0492231C0.934383 0.081717 1.0024 0.129332 1.05956 0.189322L15.8181 15.5502C15.8757 15.6097 15.9215 15.6805 15.9527 15.7585C15.9839 15.8365 16 15.9201 16 16.0046C16 16.0891 15.9839 16.1728 15.9527 16.2508C15.9215 16.3288 15.8757 16.3996 15.8181 16.4591L1.05956 31.82C1.00217 31.8808 0.93302 31.9282 0.85669 31.9591C0.780359 31.99 0.698593 32.0036 0.616806 31.9992Z' fill='%23F61D2A'/%3E%3C/svg%3E%0A");
    }
}

%btn-arrow {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    @media (max-width: $lg) {
        height: 26px;
        width: 26px;
    }

    @media (max-width: $md) {
        height: 22px;
        width: 22px;
    }

    &:after {
        content: '';
        @extend %arrow;
    }

    &:hover {
        &:after {
            border-color: $color-red;
        }
    }
}

%input-hide {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 16px;
    opacity: 0;
}

@media (min-width: $xl + 1) {
    .hidden-xl {
        display: none !important;
    }

    .text-xl-left {
        text-align: left !important;
    }

    .text-xl-right {
        text-align: right !important;
    }
}

@media (min-width: $lg + 1) and (max-width: $xl) {
    .hidden-lg {
        display: none !important;
    }

    .text-lg-left {
        text-align: left !important;
    }

    .text-lg-right {
        text-align: right !important;
    }
}

@media (min-width: $md + 1) and (max-width: $lg) {
    .hidden-md {
        display: none !important;
    }

    .text-md-left {
        text-align: left !important;
    }

    .text-md-right {
        text-align: right !important;
    }
}

@media (min-width: $sm + 1) and (max-width: $md) {
    .hidden-sm {
        display: none !important;
    }

    .text-sm-left {
        text-align: left !important;
    }

    .text-sm-right {
        text-align: right !important;
    }
}

@media (max-width: $sm) {
    .hidden-xs {
        display: none !important;
    }

    .text-xs-left {
        text-align: left !important;
    }

    .text-xs-right {
        text-align: right !important;
    }
}
