.icon {
    &-user {
        width: 16px;
        height: 20px;
    }

    &-logo {
        width: 104px;
        height: 58px;

        @media (max-width: $xl) {
            height: 48px;
            width: 86px;
        }
    }

    &-search,
    &-consultant,
    &-ask {
        height: 24px;
        width: 24px;
    }

    &-24h,
    &-loyalty,
    &-favs,
    &-cart,
    &-adv-product,
    &-home,
    &-dacha,
    &-beauty,
    &-electronics,
    &-talisma,
    &-prevoslav,
    &-hobby,
    &-all,
    &-show-more,
    &-vk,
    &-ok,
    &-youtube,
    &-user2,
    &-kidsб
    &-cloth-shoes {
        height: 32px;
        width: 32px;

        @media (max-width: $lg) {
            height: 44px;
            width: 44px;
        }
    }

    &-show-more,
    &-vk,
    &-ok,
    &-youtube,
    &-kids,
    &-adv-product,
    &-home,
    &-dacha,
    &-beauty,
    &-electronics,
    &-talisma,
    &-prevoslav,
    &-hobby,
    &-kids,
    &-cloth-shoes {
        @media (max-width: $lg) {
            height: 32px;
            width: 32px;
        }
    }

    &-delivery-free,
    &-delivery-rf,
    &-delivery-point,
    &-delivery-loyality {
        height: 76px;
        width: 76px;
    }

    &-mastercard {
        height: 20px;
        width: 34px;
    }

    &-visa {
        height: 17px;
        width: 49px;
    }

    &-mir {
        height: 15px;
        width: 55px;
    }

    &-halva {
        height: 16px;
        width: 55px;

        @media (max-width: $lg) {
            width: 65px;
        }
    }

    &-favs {
        fill: $color-base;
    }

    &-mail_illustration {
        height: 95px;
        width: 100px;
    }
}
