.map {
    position: relative;

    &--popup {
        height: 478px;
        border-radius: 8px;
        overflow: hidden;

        @media (max-width: $md) {
            height: 439px;
        }
    }

    &--contact {
        height: 259px;

        @media (max-width: $md) {
            height: 332px;
        }
    }

    &--popup-sm {
        height: 456px;
        border-radius: 8px;
        overflow: hidden;

        @media (max-width: $md) {
            height: 252px;
            margin-bottom: 12px;
        }
    }

    &__marker {
        min-height: 29px;
        min-width: 21px;
        display: flex;
        align-items: flex-start;

        & img {
            flex-shrink: 0;
            margin-right: 10px;
        }
    }

    & .ymaps-image-with-content-content {
        height: 100% !important;
        width: 100% !important;
    }

    &__title {
        font-size: 12px;
        line-height: 15px;
        font-weight: 800;
        margin-bottom: 8px;

        @media (max-width: $md) {
            font-size: 10px;
            line-height: 14px;
            margin-bottom: 11px;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 16px;

        @media (max-width: $md) {
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 10px;
        }
    }

    &__time {
        font-size: 12px;
        line-height: 14px;
        margin-top: -8px;
        padding-top: 10px;
        min-height: 30px;
        padding-left: 43px;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 27C22.0751 27 27 22.0751 27 16C27 9.92487 22.0751 5 16 5C9.92487 5 5 9.92487 5 16C5 22.0751 9.92487 27 16 27ZM16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z' fill='%23101010'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5471 7.94507C15.8233 7.94507 16.0471 8.16893 16.0471 8.44507V16.1037L23.2907 18.9346C23.5479 19.0351 23.6749 19.3251 23.5744 19.5823C23.4739 19.8395 23.1839 19.9665 22.9267 19.866L15.3651 16.9108C15.1733 16.8358 15.0471 16.651 15.0471 16.4451V8.44507C15.0471 8.16893 15.271 7.94507 15.5471 7.94507Z' fill='%23101010'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 2px 0px;
        background-size: 32px auto;

        @media (max-width: $md) {
            font-size: 12px;
            line-height: 17px;
            margin-top: 4px;
            background-position: 0 0;
        }

        & b {
            margin-right: 4px;

            @media (max-width: $md) {
                font-size: 10px;
                line-height: 14px;
            }
        }

        &-item {
            margin-bottom: 9px;

            @media (max-width: $md) {
                margin-bottom: 5px;
            }
        }

        // &--only-one-item {
        //     min-height: 32px;
        //     background-position: 0 0;
        //     display: flex;
        //     align-items: center;

        //     & .map__time-item {
        //         margin-bottom: 0;
        //     }
        // }
    }

    &__btn {
        margin-top: 24px;
        padding: 0 4px;

        @media (max-width: $md) {
            margin-top: 17px;
            padding: 0;
        }
    }

    & .ymaps-shadows-pane {
        display: none;
    }

    & .ymaps-layers-pane {
        filter: grayscale(100%);
    }

    & .ymaps-b-balloon {
        & .ymaps-b-balloon__tr,
        & .ymaps-b-balloon__tl,
        & .ymaps-b-balloon__bl,
        & .ymaps-b-balloon__br,
        & .ymaps-b-balloon__close {
            display: none;
        }

        & .ymaps-b-balloon__close {
            @media (max-width: $md) {
                display: block;
                background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12' r='11.5' fill='white' stroke='%23101010'/%3E%3Cpath d='M7.1478 17.1386C6.95073 17.3356 6.95073 17.6551 7.1478 17.8522C7.34486 18.0493 7.66436 18.0493 7.86142 17.8522L12.5 13.2136L17.1386 17.8522C17.3356 18.0493 17.6552 18.0493 17.8523 17.8522C18.0492 17.6551 18.0492 17.3356 17.8523 17.1386L13.2136 12.5L17.8522 7.86143C18.0493 7.66436 18.0493 7.34486 17.8522 7.1478C17.6552 6.95073 17.3357 6.95073 17.1386 7.1478L12.5 11.7864L7.86143 7.1478C7.66436 6.95073 7.34485 6.95073 7.14779 7.1478C6.95074 7.34487 6.95074 7.66436 7.14779 7.86143L11.7864 12.5L7.1478 17.1386Z' fill='%23101010'/%3E%3C/svg%3E%0A");
                height: 24px;
                width: 24px;
                background-position: 0 0;
                right: -7px;
                top: -9px;
            }
        }

        & .ymaps-b-balloon__content {
            background: $color-white;
            border: 0.8px solid #C6C6C6;
            border-radius: 4px;
            position: relative;

            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 12px 6px 0 6px;
                border-color: $color-gray transparent transparent transparent;
                position: absolute;
                bottom: -12px;
                left: 50%;
                margin-left: -6px;
            }
        }

        & .ymaps-b-balloon__content-holster {
            padding: 15px 15px;
        }
    }
}
