.scroll-row {
    &-container {
        overflow-x: auto;
        
        // &[data-scroll-container] {
        //     ::-webkit-scrollbar { 
        //         display: none; 
        //     }
        // }

        // &[data-scroll-row] {
        //     ::-webkit-scrollbar { 
        //         display: none; 
        //     }
        // }

        @media (min-width: 1025px) {
            & ::-webkit-scrollbar {
                width: 4px;
            }
             
            & ::-webkit-scrollbar-track {
                border-radius: 4px;
                background: $color-smoke;
            }
             
            & ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background: $color-gray-light;
            }
        }

        
    }

    &-gradient {
        position: absolute;
        top: 0;
        width: 40px;
        height: 100%;
        z-index: 1;
            
        &--left {
            left: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
        
        &--right {
            right: 0;
            background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
}