.club-card {
    position: relative;
    &__group {
        position: relative;
        
        &:nth-child(3) {
            margin: 20px 0;
        }
        
        &--slider {
            margin: 20px 0;

            @media (min-width: $md) {
                margin: 0;
            }
        }

        @media (min-width: $md) {
            margin-bottom: 20px;
        }
    }

    &__image {
        @media (max-width: $md) {
            & img {
                width: 100%;
            }
        }
    }

    &__btn {
        position: static;
        margin-top: 20px;
        margin-bottom: 40px;

        @media(max-width: $md) {
            margin-bottom: 20px;
        }
        
        button {
            width: 20%;
        }
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;       

        &-item {
            position: absolute;
            
            &--bold {
                font-weight: 800;
            }

            &--uppercase {
                text-transform: uppercase;
            }

            &--name {
                top: 5.313vw; // 17px;
                left: 25.625vw; // 82px;
                width: 31.250vw; // 100px;
                font-size: 3.125vw; // 10px;
                line-height: 4.375vw; // 14px;
                color: $color-orange;

                @media (min-width: $md) {
                    top: 1.042vw; // 8px;
                    left: 6.510vw; // 50px;
                    width: 21.745vw; // 167px;
                    font-size: 1.693vw; // 13px;
                    line-height: 2.083vw; // 16px;
                }

                @media (min-width: $lg) {
                    top: 8px;
                    left: 80px;
                    width: 250px;
                    font-size: 24px;
                    line-height: 29px;
                }


            }

            &--balance {
                top: 40.625vw; // 130px;
                right: 6.250vw; // 20px;
                width: 28.750vw; // 92px;
                font-size: 5vw; // 16px;
                line-height: 6.250vw; // 20px;
                color: $color-turquoise;
                text-align: center;

                @media (min-width: $md) {
                    top: 27.083vw; // 208px;
                    left: 42.448vw; // 326px;
                    width: 13.021vw; // 100px;
                    font-size: 1.693vw; // 13px;
                    line-height: 2.083vw; // 16px;
                }

                
                @media (min-width: 1024px) {
                    top: 27.930vw; // 286px;
                    left: 44.238vw; // 453px; 
                }


                @media (min-width: $lg) {
                    top: 348px;
                    left: 558px;
                    width: 160px;
                    font-size: 24px;
                    line-height: 29px;
                }

                @media (min-width: $xl) {
                    top: 360px;
                    left: 578px;
                }
            }

            &--info {
                @media (min-width: $md) {
                    top: 12.109vw; // 93px;
                    left: 18.750vw; // 144px;
                    width: 17.448vw; // 134px;
                    font-size: 1.172vw; // 9px;
                    line-height: 1.432vw; // 11px;
                    color: $color-turquoise;
                }

                @media (min-width: 1024px) {
                    top: 13.184vw; // 135px;
                    left: 19.531vw; // 200px;
                }

                @media (min-width: $lg) {
                    top: 170px;
                    left: 245px;
                    width: 215px;
                    font-size: 14px;
                    line-height: 16px;
                }

                @media (min-width: $xl) {
                    top: 180px;
                    left: 256px;
                }
            }

            &--current-status {
                top: 29.688vw; // 95px;
                left: 10.625vw; // 34px;
                width: 34.375vw; // 110px;
                font-size: 3.125vw; // 10px;
                line-height: 4.375vw; // 14px;
                color: $color-orange;
                text-align: center;

                @media (min-width: $md) {
                    top: 6.250vw; // 48px;
                    left: auto;
                    right: 33.203vw; // 255px;
                    width: 13.021vw; // 100px;
                    font-size: 1.302vw; // 10px;
                    line-height: 1.823vw; // 14px;
                }

                @media (min-width: 1024px) {
                    right: 34.570vw; // 354px;
                }

                @media (min-width: $lg) {
                    top: 80px;
                    right: 442px;
                    width: 150px;
                    font-size: 14px;
                    line-height: 20px;
                }

                @media (min-width: $xl) {
                    top: 90px;
                    right: 462px;
                }

                & .icon-status-basic {
                    // width: 100%;

                    display: block;
                    margin: 0 auto;

                    height: 25vw; // 80px;

                    @media (min-width: $md) {
                        height: 10.677vw; // 82px;
                    }

                    @media (min-width: $lg) {
                        height: 130px;
                    }
                }
            }

            &--next-status {
                top: 7.813vw; // 25px;
                left: 6.875vw; // 22px;
                width: 45.625vw; // 146px;
                font-size: 3.125vw; // 10px;
                line-height: 3.750vw; // 12px;
                color: $color-orange;

                @media (min-width: $md) {
                    top: -25vw; // -192px;
                    left: 67.448vw; // 518px;
                    width: 9.115vw; // 70px;
                    font-size: 1.172vw; // 9px;
                    line-height: 1.432vw; // 11px;
                    text-align: center;
                }

                @media (min-width: 1024px) {
                    left: 69.727vw; // 714px;
                }

                @media (min-width: $lg) {
                    width: 120px;
                    top: -308px;
                    left: 876px;
                    font-size: 14px;
                    line-height: 16px;
                }

                @media (min-width: $xl) {
                    left: 908px;
                }
            }

            &--purchases {
                top: 8.125vw; // 26px;
                right: 14.375vw; // 46px;
                width: 18.750vw; // 60px;
                font-size: 3.125vw; // 10px;
                line-height: 6.250vw; // 20px;
                color: $color-orange;
                text-align: center;

                
                @media (min-width: $md) {
                    top: -13.672vw; // -105px;
                    left: 67.448vw; // 518px;
                    width: 9.115vw; // 70px;
                    font-size: 1.823vw; // 14px;
                    line-height: 2.865vw; // 22px;
                    text-align: center;
                }

                @media (min-width: 1024px) {
                    left: 69.727vw; // 714px;
                }

                @media (min-width: $lg) {
                    width: 120px;
                    top: -158px;
                    left: 876px;
                    font-size: 24px;
                    line-height: 29px;
                }

                @media (min-width: $xl) {
                    left: 908px;
                }

                & span {
                    font-size: 5vw; // 16px;

                    @media (min-width: $md) {
                        font-size: 2.604vw; // 20px;
                    }

                    @media (min-width: $md) {
                        font-size: 30px;
                    }
                }
            }

            &--levels {
                @media (min-width: $md) {
                    top: 3.776vw; // 29px;
                    left: 44.792vw; // 344px;
                    width: 20.182vw; // 155px;
                    font-size: 1.172vw; // 9px;
                    line-height: 1.432vw; // 11px;
                    color: $color-turquoise;
                }

                @media (min-width: 1024px) {
                    left: 46.094vw; // 472px;
                }

                @media (min-width: $lg) {
                    top: 61px;
                    left: 576px;
                    width: 254px;
                    font-size: 14px;
                    line-height: 16px;
                }

                @media (min-width: $xl) {
                    left: 600px;
                }
            }

            &--status-medium,
            &--status-all {
                width: 37.500vw; // 120px;
                top: 24.375vw; // 78px;

                @media (min-width: $md) {
                    width: 20.573vw; // 158px;
                    top: 16.146vw; // 124px;
                }

                @media (min-width: $lg) {
                    width: 158px;
                    top: 218px;
                }

                & .icon-status-medium,
                & .icon-status-all {
                    // width: 100%;
                    display: block;
                    margin: 0 auto;

                    height: 25vw;  // 80px;

                    @media (min-width: $md) {
                        height: 10.677vw; // 82px;
                    }

                    @media (min-width: $lg) {
                        height: 130px;
                    }
                }
            }

            &--status-medium {
                left: 3.125vw; // 10px;

                @media (min-width: $lg) {
                    left: 94px;
                }

                @media (min-width: $xl) {
                    left: 104px;
                }
            }

            &--status-all {
                right: 3.125vw; // 10px;

                @media (min-width: $md) {
                    left: 25.130vw; // 193px;
                }

                @media (min-width: $lg) {
                    left: 378px;
                }

                @media (min-width: $xl) {
                   left: 398px;
                }
            }

            &--cashback-medium,
            &--cashback-all {
                top: 53.750vw; // 172px;
                width: 25vw; // 80px;
                font-size: 2.813vw; // 9px;
                line-height: 3.438vw; // 11px;
                color: $color-orange;

                @media (min-width: $md) {
                    top: 30.990vw; // 238px;
                    width: 10.026vw; // 77px;
                    font-size: 1.172vw; // 9px;
                    line-height: 1.432vw; // 11px;
                }

                @media (min-width: 1024px) {
                    top: 32.031vw; // 328px;
                }

                @media (min-width: $lg) {
                    top: 404px;
                    width: 124px;
                    font-size: 14px;
                    line-height: 16px;
                }

                @media (min-width: $xl) {
                    top: 418px;
                }
            }

            &--cashback-medium {
                left: 15.625vw; // 50px;

                @media (min-width: $md) {
                    left: 10.417vw; // 80px;
                }

                @media (min-width: 1024px) {
                    left: 11.328vw; // 116px;
                }

                @media (min-width: $lg) {
                    left: 150px;
                }

                @media (min-width: $xl) {
                    left: 156px;
                }
            }

            &--cashback-all {
                right: 3.750vw; // 12px;

                @media (min-width: $md) {
                    right: 45.573vw; // 350px;
                }

                @media (min-width: 1024px) {
                    right: 47.070vw; // 482px;
                }

                @media (min-width: $lg) {
                    right: 584px;
                }

                @media (min-width: $xl) {
                    right: 610px;
                }
            }

            &--cashback-base {
                @media (min-width: $md) {
                    right: 17.188vw; // 132px;
                    top: 8.073vw; // 62px;
                    width: 10.417vw; // 80px;
                    font-size: 1.172vw; // 9px;
                    line-height: 1.432vw; // 11px;
                    color: $color-orange;
                }

                @media (min-width: 1024px) {
                    right: 17.773vw; // 182px;
                }

                @media (min-width: $lg) {
                    top: 105px;
                    right: 224px;
                    width: 130px;
                    font-size: 14px;
                    line-height: 16px;
                }

                @media (min-width: $xl) {
                    top: 110px;
                    right: 235px;
                }
            }

            &--cashback-value {
                position: absolute;
                left: -10.313vw; // -33px;
                top: 2.500vw; // 8px;
                font-size: 5vw; // 16px;
                line-height: 6.250vw; // 20px;

                @media (min-width: $md) {
                    left: -4.688vw; // -36px;
                    top: 0.911vw; // 7px;
                    font-size: 2.344vw; // 18px;
                    line-height: 2.865vw; // 22px;
                }

                @media (min-width: $lg) {
                    left: -66px;
                    top: 8px;
                    font-size: 32px;
                    line-height: 39px;
                }
            }

            &--present-medium,
            &--present-all {
                top: 71.250vw; // 228px;
                width: 20.938vw; // 67px;
                font-size: 2.813vw; // 9px;
                line-height: 3.438vw; // 11px;
                color: $color-orange;

                @media (min-width: $md) {
                    top: 37.500vw; // 288px;
                    width: 8.854vw; // 68px;
                    font-size: 1.172vw; // 9px;
                    line-height: 1.432vw; // 11px;
                }

                @media (min-width: 1024px) {
                    top: 38.672vw; // 396px;
                }

                @media (min-width: $lg) {
                    top: 488px;
                    width: 104px;
                    font-size: 14px;
                    line-height: 16px;
                }

                @media (min-width: $xl) {
                    top: 504px;
                }
            }

            &--present-medium {
                left: 20vw; // 64px;

                @media (min-width: $md) {
                    left: 12.370vw; // 95px;
                }

                @media (min-width: 1024px) {
                    left: 13.086vw; // 134px;
                }

                @media (min-width: $lg) {
                    left: 166px;
                }

                @media (min-width: $xl) {
                    left: 172px;
                }
            }

            &--present-all {
                right: 3.125vw; // 10px;
                
                @media (min-width: $md) {
                    right: 45.052vw; // 346px;
                }

                @media (min-width: 1024px) {
                    right: 46.680vw; // 478px;
                }

                @media (min-width: $lg) {
                    right: 588px;
                }

                @media (min-width: $xl) {
                    right: 612px;
                }
            }

            &--present-base {
                @media (min-width: $md) {
                    right: 17.188vw; // 132px;
                    top: 14.583vw; // 112px;
                    width: 8.594vw; // 66px;
                    font-size: 1.172vw; // 9px;
                    line-height: 1.432vw; // 11px;
                    color: $color-orange;
                }

                @media (min-width: 1024px) {
                    top: 15.137vw; // 155px;
                    right: 18.164vw; // 186px;
                }

                @media (min-width: $lg) {
                    top: 190px;
                    right: 230px;
                    width: 108px;
                    font-size: 14px;
                    line-height: 16px;
                }

                @media (min-width: $xl) {
                    top: 196px;
                    right: 235px;
                }
            }

            &--present-value {
                position: absolute;
                left: -13.750vw; // -44px;
                top: 1.563vw; // 5px;
                font-size: 3.750vw; // 12px;
                line-height: 4.688vw; // 15px;

                @media (min-width: $md) {
                    left: -5.990vw; // -46px;
                    top: 0.521vw; // 4px;
                    font-size: 1.693vw; // 13px;
                    line-height: 2.083vw; // 16px;
                }

                @media (min-width: $lg) {
                    left: -80px;
                    top: 4px;
                    font-size: 24px;
                    line-height: 29px;
                }
            }

            &--bonuses-deadline {
                top: 91.250vw; // 292px;
                right: 6.250vw; // 20px;
                width: 31.250vw; // 100px;
                font-size: 2.813vw; // 9px;
                line-height: 3.438vw; // 11px;
                color: $color-orange;
                text-align: center;

                @media (min-width: $md) {
                    top: 46.875vw; // 360px;
                    left: 28.906vw; // 222px;
                    width: 13.021vw; // 100px;
                    font-size: 1.172vw; // 9px;
                    line-height: 1.432vw; // 11px;
                }

                @media (min-width: 1024px) {
                    top: 47.852vw; // 490px;
                    left: 30.078vw; // 308px;
                }

                @media (min-width: $lg) {
                    top: 606px;
                    left: 372px;
                    width: 170px;
                    font-size: 14px;
                    line-height: 16px;
                }

                @media (min-width: $xl) {
                    top: 630px;
                    left: 394px;
                }
            }

            &--about {
                top: 21.875vw; // 70px;
                right: 5.625vw; // 18px;
                width: 56.250vw; // 180px;
                font-size: 2.813vw; // 9px;
                line-height: 3.438vw; // 11px;
                color: $color-turquoise;

                @media (min-width: $md) {
                    top: 9.635vw; // 74px;
                    right: 16.406vw; // 126px;
                    width: 30.599vw; // 235px;
                    font-size: 1.172vw; // 9px;
                    line-height: 1.432vw; // 11px;
                }

                @media (min-width: 1024px) {
                    right: 19.531vw; // 200px;
                }

                @media (min-width: $lg) {
                    top: 140px;
                    right: 246px;
                    width: 382px;
                    font-size: 14px;
                    line-height: 16px;
                }

                @media (min-width: $xl) {
                    top: 145px;
                    right: 258px;
                }
            }

        }
    }

    p {

        @media(max-width: $md) {
            font-size: 10px;
            line-height: 12px;
        }
    }

    &__box {
        display: flex;

        @media(max-width: $md) {
            flex-direction: column;
        }

        &-left {
            margin-right: 35px;

            width: calc(45%);

            @media(max-width: $lgx) {
                width: calc(62%);
            }

            &--size-40 {
                @media(max-width: $lgx) {
                    max-width: 457px;
                    width: 100%;
                    margin-right: 10px;
                }

                .club-card__status-wrap {
                    margin-right: 25px;
                }

                @media(max-width: $md) {
                    max-width: 100%;

                    .club-card__status-wrap {
                        width: 100%;
                        max-width: 100px;
                        margin: 0 15px 0 0;
                    }
                }
            }
        }

        &-right {
            flex-grow: 1;
        }

        &--md-size-50 {
            @media(max-width: $lg) {
                .club-card__box-left {
                    width: 40.5%;
                    margin-right: 15px;
                }

                .club-card__box-right {
                    width: 50%;
                }

                .club-card__status-wrap {
                    margin: 0 auto 15px;
                }
            }

            @media(max-width: $md) {
                .club-card__box-left,
                .club-card__box-right {
                    width: 100%;
                    margin: 0;
                }

                .club-card__box-right {
                    margin-top: 65px;
                }

                .club-card__status-wrap {
                    width: 100%;
                    max-width: 100px;
                    margin: 0 15px 0 0;
                }
            }

        }
    }
    

    &__status {
        display: flex;

        &-wrap {
            max-width: 155px;
            width: 100%;
            margin-right: 45px;
        }

        &-text {
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 10px;

            @media(max-width: $md) {
                display: none;
            }
        }

        &--padding-left {
            padding-left: 145px;

            @media(max-width: $lgx) {
                padding-left: 125px;
            }

            @media(max-width: $lg) {
                padding-left: 160px;
            }

            @media(max-width: $md) {
                padding-left: 0;
            }
        }

        &--arrow {
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: url('assets/images/required/club-card/icon-arrow.svg') center / contain no-repeat;
                height: 30px;
                width: 95px;
            }

            @media(max-width: $lg) {
                &::before {
                    width: 145px;
                    top: 16%;
                    transform: translateY(-16%);
                }
            }

            @media(max-width: $md) {
                &::before {
                    width: 20px;
                    height: 42px;

                    top: -52px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: url('assets/images/required/club-card/icon-arrow-down.svg') center / contain no-repeat;
                    
                }
            }
        }

        &--flex-wrap {
            flex-wrap: wrap;
        }

        &--block {
            @media (min-width: $md + 1) and (max-width: $lg) {
                display: block;
            }
        }
    }

    &__bonus {
        width: 100%;

        &-inner {
            display: flex;
            align-items: center;

            border-radius: 16px; 
            border: 1px solid #F6F6F6;

            height: 90px;

            padding-left: 10px;
            padding-right: 35px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            @media(max-width: $lg) {
                margin-bottom: 15px;
                padding-right: 0;
            }

            @media(max-width: $md) {
                height: 44px;
                margin-bottom: 8px;
            }
        }

        &-title {
            font-weight: 800;
            font-size: 32px;
            line-height: 39px;
            color: #F61D2A;

            margin-right: 10px;

            @media(max-width: $md) {
                font-size: 24px;
            }
        }

        &-subtitle {
            letter-spacing: -0.2px;
            font-size: 16px;
            line-height: 24px;

            @media(max-width: $lg) {
                font-size: 13px;
                line-height: 19px;
            }

            @media(max-width: $md) {
                font-size: 10px;
                line-height: 12px;
            }
        }

        &-unlimited {
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 40px;

            @media(max-width: $md) {
                margin-top: 20px;
                margin-bottom: 25px;
                font-size: 10px;
            }

            img {
                margin-right: 15px;

                @media(max-width: $lg) {
                    width: 30px;
                    height: 30px;
                }

                @media(max-width: $md) {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &--width-60 {
            width: 69%;

            @media(max-width: $lgx) {
                width: 60%;
            }

            @media(max-width: $lg) {
                width: 100%;
            }

            @media(max-width: $md) {
                width: calc(100% - 115px);
            }
        }
    }

    &__balance {
        background: url('assets/images/required/club-card/balance-bg.svg') center / cover no-repeat;

        padding-top: 55px;
        padding-bottom: 40px;
        padding-left: 40px;

        border: 1px solid #F6F6F6;
        border-radius: 16px;

        @media(max-width: $lg) {
            padding-left: 25px;
            padding-top: 62px;

            height: 195px;
        }

        @media(max-width: $md) {
            margin-top: 20px;
            padding-top: 8px;
            padding-bottom: 0;
            padding-left: 15px;

            height: 65px;
        }

        &-title {
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 10px;

            @media(max-width: $lg) {
                font-size: 18px;
                line-height: 22px;
            }

            @media(max-width: $md) {
                font-size: 10px;
                line-height: 14px;
                margin-bottom: 5px;
            }
        }

        &-sum {
            font-weight: 800;
            font-size: 52px;
            line-height: 64px;
            color: #F61D2A;

            @media(max-width: $lg) {
                font-size: 44px;
                line-height: 54px;
            }

            @media(max-width: $md) {
                font-size: 24px;
                line-height: 29px;
            }
        }
    }

    &__task {
        padding: 35px 0;
        margin-top: 25px;
        margin-bottom: 40px;

        border: 1px solid #F6F6F6;
        border-radius: 16px;

        text-align: center;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;

        @media(max-width: $lg) {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        @media(max-width: $md) {
            margin-top: 10px;
            margin-bottom: 15px;
            text-align: left;

            padding: 7px 15px 0;
        }

        &-target {
            color: #F61D2A;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            margin-left: 15px;

            @media(max-width: $md) {
                display: block;
                text-align: left;
                margin-left: 0;
            }
        }
    }

    & .card__slider .slick-slide {
        @media (max-width: $lg) {
            margin: 0 3px;
        }

        @media (max-width: $md) {
            width: 234px;
            margin: 0 4px;
        }
    }

    & .card__slider {
        @media (max-width: $md) {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 100%;
                background: linear-gradient(to left, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255,0) 100%);
            }
        }

        & .card {
            &--inline {
                .card__status {
                    position: absolute;
                    top: 15px;
                    left: 15px;

                    @media (max-width: $lg) {
                        top: 12px;
                        left: 12px;
                    }

                }
            }
        }
    }
}