.counter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;

    @media (max-width: $md) {
        width: 84px;
    }

    &__btn {
        height: 27px;
        width: 27px;
        border: 1px solid $color-base;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        background: transparent;
        outline: none;
        position: relative;
        cursor: pointer;

        &:before,
        &:after {
            height: 1px;
            width: 12px;
            content: '';
            background: $color-base;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -6px;
        }

        &:after {
            -webkit-transform: rotate(90deg);
               -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                 -o-transform: rotate(90deg);
                    transform: rotate(90deg);
        }

        &--minus {
            &:after {
                display: none;
            }
        }

        &:disabled {
            border-color: $color-gray-light;

            &:before,
            &:after {
                background: $color-gray-light;
            }
        }
    }

    &__input {
        font-size: 16px;
        line-height: 24px;
        font-weight: 800;
        border: 0;
        background: transparent;
        width: -webkit-calc(100% - 54px);
        width: -moz-calc(100% - 54px);
        width: calc(100% - 54px);
        outline: none;
        text-align: center;
    }

    &--inner {
        -webkit-border-radius: 28px;
           -moz-border-radius: 28px;
                border-radius: 28px;
        border: 1px solid $color-gray-light;
        height: 52px;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 22px;
        width: 155px;
        margin-left: 16px;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;

        @media (max-width: $lg) {
            height: 44px;
            width: 126px;
            padding: 0 13px;
            margin-left: 16px;
        }

        @media (max-width: $md) {
            margin-left: 0;
            -webkit-box-ordinal-group: 0;
            -webkit-order: -1;
               -moz-box-ordinal-group: 0;
                -ms-flex-order: -1;
                    order: -1;
            margin-right: 10px;
            width: -webkit-calc(50% - 5px);
            width: -moz-calc(50% - 5px);
            width: calc(50% - 5px);
            padding: 0 21px;
        }
    }

    &--inner &__btn {
        border: 0;

        &:before,
        &:after {
            width: 15px;
            margin-left: -8px;
        }
    }
}
input:disabled {
    color: #e6e6e6;
}
