.elem-link {
    position: relative;
    display: flex;
    align-items: center;

    &.swiper-slide {
        display: inline-flex;
        width: auto;
    }

    & .icon {
        margin-right: 8px;
        flex-shrink: 0;
    }

    &--margin-right {

        &:not(:last-child) {
            margin-right: 16px;

            @media (min-width: $md + 1) {
                margin-right: 28px;
            }

            @media (min-width: $lg + 1) {
                margin-right: 36px;
            }
        }
    }

    &.active,
    &--red {
        color: $color-red;
    }

    &--nowrap {
        white-space: nowrap;
    }
}
