.elem-hint {
    position: absolute;
    right: 8px;
    bottom: 10px;

    @media (max-width: $lg) {
        right: 6px;
        bottom: 6px;
    }

    &--small {
        right: -5px;
        bottom: 2px;
    }

    &__mob {
        @media (max-width: $md) {
            font-size: 10px;
            line-height: 12px;
            padding-top: 17px;
            padding-left: 17px;
            letter-spacing: 0.1px;
        }

        & a {
            color: $color-red;
        }
    }

    &__text {
        display: none;
        position: absolute;
        bottom: 100%;
        width: 172px;
        right: -8px;
        padding-bottom: 30px;

        @media (max-width: $lg) {
            width: 154px;
            right: -6px;
            padding-bottom: 22px;
        }

        &-in {
            background: $color-white;
            border: 1px solid $color-gray;
            border-radius: 4px;
            font-size: 12px;
            line-height: 14px;
            position: relative;
            padding: 7px 3px;
            text-align: center;

            @media (max-width: $lg) {
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.1px;
                border-radius: 3px;
                padding: 4px 3px;
            }

            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 12px 6px 0 6px;
                border-color: $color-gray transparent transparent transparent;
                position: absolute;
                bottom: -12px;
                right: 20px;

                @media (max-width: $lg) {
                    right: 15px;
                }
            }

            & a {
                color: $color-red;
            }
        }
    }

    &:hover &__text {
        display: block;
    }

    &__icon {
        display: flex;
        cursor: pointer;

        & .icon {
            fill: $color-gray;
        }

        &:hover {
            & .icon {
                fill: #949494;
            }
            
        }
    }

    &--small &__icon {
        & .icon {
            height: 24px;
            width: 24px;
        }
    }
}
