.elem-item {
    position: relative;
    margin-bottom: 20px;

    @media (max-width: $lg) {
        margin-bottom: 16px;
    }

    &--radio {
        //margin-top: -8px;
    }

    &--md {
        margin-bottom: 29px;

        @media (max-width: $lg) {
            margin-bottom: 14px;
        }

        @media (max-width: $md) {
            margin-bottom: 11px;
        }
    }

    &--last {
        margin-bottom: 0;
    }

    &__row {
        margin-bottom: 10px;

        @media (max-width: $lg) {
            margin-bottom: 13px;
        }
    }

    &--no-margin-bottom {
        margin-bottom: 0;
    }
}
