.elem-price {
    font-size: 27px;
    line-height: 32px;
    font-family: $fons-lato;
    white-space: nowrap;

    @media (max-width: $lg) {
        font-size: 24px;
        line-height: 29px;
    }

    @media (max-width: $md) {
        font-size: 22px;
        line-height: 26px;
    }

    &--lg {
        font-size: 36px;
        line-height: 43px;

        @media (max-width: $lg) {
            line-height: 1;
        }
    }

    &-old {
        font-size: 16px;
        line-height: 19px;
        font-family: $fons-lato;
        color: $color-base;
        // text-decoration: line-through;
        position: relative;
        display: inline-block;
        white-space: nowrap;

        &:before {
            content: '';
            position: absolute;
            background: $color-red;
            top: 55%;
            width: 100%;
            height: 1px;

            @media (max-width: $md) {
                top: 55%;
            }
        }

        @media (max-width: $lg) {
            font-size: 14px;
            line-height: 17px;
            margin-left: 6px;
            position: relative;
            top: -2px;
        }

        @media (max-width: $md) {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0px;
            margin-left: 0px;
        }

        &--lg {
            font-size: 20px;
            line-height: 31px;

            @media (max-width: $lg) {
                font-size: 16px;
                line-height: 19px;
            }

            * + & {
                margin-left: 15px;

                @media (max-width: $lg) {
                    margin-left: 4px;
                }
            }
        }
    }

    &-old + & {
        color: $color-red;
    }
}
