.elem-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;

    @media (max-width: $lg) {
        height: 12px;
        width: 12px;
    }

    &--red {
        background: $color-red;
    }

    &--blue {
        background: $color-blue;
    }
}
