.elem-link {
    position: relative;
    display: flex;
    align-items: center;

    & .icon {
        margin-right: 8px;
        flex-shrink: 0;
    }

    &--margin-right {
        margin-right: 10px;
    }

    &.active,
    &--red {
        color: $color-red;
    }
}
