.elem-input {
    border: 1px solid $color-gray-light;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 16px;
    height: 52px;
    outline: none;
    transition: all 0.3s ease-in-out;
    width: 100%;

    &--xs {
        font-size: 11px;
        line-height: 14px;
        height: 28px;
        padding: 7px 8px;
        border-radius: 8px;

        @media (max-width: $lg) {
            font-size: 13px;
            line-height: 19px;
            height: 44px;
            border-radius: 10px;
            padding: 7px 9px;
        }
    }

    &::placeholder {
        color: $color-gray;
    }

    &:focus {
        border-color: $color-base;
    }

    &__icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
        display: flex;
        z-index: 11;
    }

    &__icon + & {
        padding-left: 44px;
    }

    &--sm {
        font-size: 12px;
        line-height: 14px;
        border-radius: 16px;
        padding: 4px 16px;
        height: 32px;
    }
}
