.elem-title {
    border-bottom: 1px solid $color-gray-light;
    padding: 17px 0 18px;
    margin-bottom: 32px;

    @media (max-width: $lg) {
        padding-bottom: 13px;
        margin-bottom: 20px;
    }

    @media (max-width: $md) {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.2px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 16px;
        padding-bottom: 8px;
        padding-top: 10px;
    }

    .teaser + & {
        padding-top: 0;
    }

    &--inner {
        @media (max-width: $lg) {
            margin-left: 0;
        }
    }

    .elem-back + & {
        @media (max-width: $lg) {
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }

    &--row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 3px;
    }

    &__count {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        margin-bottom: 4px;

        @media (max-width: $lg) {
            font-size: 13px;
            line-height: 19px;
            color: $color-gray;
            margin-bottom: 2px;
        }

        @media (max-width: $md) {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.1px;
            margin-bottom: 0;
        }
    }
}
