.why {
	&__item {
        display: flex;

        @media (max-width: $md) {
            display: block;
        }

        & + & {
            margin-top: 52px;

            @media (max-width: $lg) {
                margin-top: 28px;
            }

            @media (max-width: $md) {
                margin-top: 16px;
            }
        }
    }

    &__img {
        width: 100px;
        margin-right: 24px;
        flex-shrink: 0;

        @media (max-width: $md) {
            width: 100%;
            text-align: center;
        }

        & img {
            width: 100%;

            @media (max-width: $md) {
                width: 100px;
                margin: 0 auto;
            }
        }
    }

    &__info {
        @media (max-width: $md) {
            margin-top: 16px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 24px;

        @media (max-width: $lg) {
            font-size: 13px;
            line-height: 19px;
        }

        @media (max-width: $md) {
            font-size: 12px;
            line-height: 17px;
        }
    }

    &__head {
        margin-bottom: 19px;

        @media (max-width: $lg) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 15px;
        }

        @media (max-width: $md) {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 13px;
        }
    }

    & .elem-title {
        padding-top: 0;
    }
}
