table {
    table-layout: auto;
    width: 100%;

    & th {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        background: $color-base;
        color: $color-white;
        height: 48px;
        text-align: center;

        &:first-child {
            -webkit-border-top-left-radius: 24px;
               -moz-border-radius-topleft: 24px;
                    border-top-left-radius: 24px;
            -webkit-border-bottom-left-radius: 24px;
               -moz-border-radius-bottomleft: 24px;
                    border-bottom-left-radius: 24px;

            border-right: 1px solid $color-base;
        }

        &:last-child {
            -webkit-border-top-right-radius: 24px;
               -moz-border-radius-topright: 24px;
                    border-top-right-radius: 24px;
            -webkit-border-bottom-right-radius: 24px;
               -moz-border-radius-bottomright: 24px;
                    border-bottom-right-radius: 24px;

            border-left: 1px solid $color-base;
        }
    }


    & td:not(.more-info__col) {
        padding: 28px 15px 12px;
        border-bottom: 1px solid $color-gray-light;
        &.td {

            @media (max-width: $lg) {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                padding: 6px 8px 7px;
                border-bottom: 0;
                font-size: 12px;
                line-height: 17px;
            }

            @media (max-width: $md) {
                padding: 0;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.1px;
            }

            &--null {
                color: $color-gray-light;
            }

            &--img {
                width: 158px;
                max-width: 158px;

                @media (max-width: $lg) {
                    -webkit-flex-shrink: 0;
                        -ms-flex-negative: 0;
                            flex-shrink: 0;
                    width: 140px;
                    position: absolute;
                    left: 0;
                    top: 2px;
                    padding: 2px 8px;
                }

                @media (max-width: $md) {
                    padding: 0;
                    width: 91px;
                    top: 0;
                }

                & img {
                    -webkit-border-radius: 4px;
                       -moz-border-radius: 4px;
                            border-radius: 4px;
                }
            }

            &--img.td--null {
                opacity: 0.5;
            }

            &--favs {
                width: 128px;
                text-align: center;
                opacity: 1;

                @media (max-width: $lg) {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    width: 47px;
                    padding: 0;
                }

                @media (max-width: $md) {
                    top: 39px;
                    width: 28px;
                }

                & .icon {
                    @media (max-width: $md) {
                        height: 24px;
                        width: 24px;
                    }
                }
            }

            &--remove {
                width: 154px;
                text-align: center;
                opacity: 1;

                @media (max-width: $lg) {
                    position: absolute;
                    top: 2px;
                    right: 0;
                    width: 47px;
                    padding: 0;
                }

                @media (max-width: $md) {
                    top: 0;
                    width: 28px;

                    .elem-change {
                        position: absolute;
                        right: 0;
                    }
                }

                & .icon {
                    @media (max-width: $md) {
                        height: 24px;
                        width: 24px;
                    }
                }
            }

            &--articul {
                width: 181px;
                text-align: center;

                & .table__row {
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                       -moz-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                }
            }

            &--count {
                width: 157px;
                text-align: center;
                font-weight: 800;

                @media (max-width: $md) {
                    width: 100%;
                    margin-bottom: 10px;
                }

                @media (min-width: $lg + 1) {
                    &.td--null {
                        .table__row {
                            -webkit-box-pack: center;
                            -webkit-justify-content: center;
                               -moz-box-pack: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                        }
                    }
                }
            }
            // &--disable {
            //     button {
            //         border: 1px solid #f6f6f6;
            //         &:before {
            //             background: #f6f6f6;
            //         }
            //         &:after {
            //             background: #f6f6f6;
            //         }
            //     }
            // }

            &--price {
                width: 172px;
                text-align: center;

                @media (max-width: $md) {
                    width: 100%;
                }
            }
        }
    }
}

.table {
    &__footer {
        margin-top: 33px;

        @media (max-width: $lg) {
            margin-top: 24px;
        }

        & .price-list {
            padding-top: 6px;
            padding-right: 0;
            margin-left: auto;
            margin-bottom: 0;

            @media (max-width: $lg) {
                margin-bottom: 0;
            }
        }

        & .elem-item {
            margin-bottom: 0;

            @media (max-width: $lg) {
                margin-bottom: 13px;
            }
        }

        & .elem-btn {
            margin-top: auto;
            vertical-align: bottom;

            @media (max-width: $lg) {
                height: 44px;
                font-size: 13px;
                line-height: 34px;
            }

            @media (max-width: $md) {
                font-size: 12px;
            }
        }
    }

    &__btn {
        margin-top: 42px;

        @media (max-width: $lg) {
            margin-top: 26px;
        }

        @media (max-width: $md) {
            margin-top: 19px;
        }

        & > * {
            &:not(:last-child) {
                @media (max-width: $lg) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__col {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        &+& {
            @media (max-width: $md) {
                margin-top: 16px;
            }
        }
    }

    &__row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 12px;

        @media (max-width: $lg) {
            width: 100%;
        }

        @media (max-width: $md) {
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &+& {
            margin-top: auto;
        }

        & .row,
        &.row {
            width: -webkit-calc(100% + 24px);
            width: -moz-calc(100% + 24px);
            width: calc(100% + 24px);
        }
    }
    .td--add__card {
        padding: 28px 0 12px;
        border: 0;
    }
    &__item {
        margin-right: 43px;

        @media (max-width: $lg) {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-right: 20px;
        }

        @media (max-width: $md) {
            margin-right: 12px;
            margin-bottom: 12px;
        }

        &:last-child {
            @media (max-width: $md) {
                margin-right: 0;
            }
        }

        &-articul {
            @media (max-width: $md) {
                width: 100%;
                margin-right: 0;
            }
        }

        &-title {
            margin-bottom: 8px;

            @media (max-width: $lg) {
                margin-bottom: 0;
                margin-right: 4px;
            }
        }

        &-text {
            line-height: 20px;

            @media (max-width: $md) {
                line-height: 12px;
            }
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 800;

        &:hover {
            & .icon {
                stroke: $color-red;
            }
        }
    }

    &__name {
        @media (max-width: $lg) {
            margin-bottom: 12px;
            font-size: 13px;
        }

        @media (max-width: $md) {
            -webkit-box-ordinal-group: inherit;
            -webkit-order: inherit;
               -moz-box-ordinal-group: inherit;
                -ms-flex-order: inherit;
                    order: inherit;
            margin-top: 0;
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 12px;
        }
    }

    &__text {
        color: $color-gray;
        font-size: 14px;
        line-height: 20px;
        font-weight: 800;
        margin-left: 24px;

        @media (max-width: $lg) {
            font-size: 12px;
            line-height: 17px;
        }

        @media (max-width: $md) {}
    }

    &__price {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;

        @media (max-width: $lg) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: row-reverse;
               -moz-box-orient: horizontal;
               -moz-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
               -moz-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            padding-top: 3px;
        }
    }

    &--cart {

        & .table__price {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            @media (max-width: $lg) {
                -webkit-box-align: start;
                -webkit-align-items: flex-start;
                   -moz-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
                padding-top: 6px;
            }

            &-items {
                line-height: 0;

                @media (max-width: $lg) {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: reverse;
                    -webkit-flex-direction: row-reverse;
                       -moz-box-orient: horizontal;
                       -moz-box-direction: reverse;
                        -ms-flex-direction: row-reverse;
                            flex-direction: row-reverse;
                    -webkit-box-align: end;
                    -webkit-align-items: flex-end;
                       -moz-box-align: end;
                        -ms-flex-align: end;
                            align-items: flex-end;
                }

                .elem-price-old + .elem-price {
                    margin-top: -8px;
                }

                .elem-price-old {
                    @media (max-width: $lg) {
                        margin-left: 10px;
                    }
                }

                .elem-price-old+.elem-price {
                    color: $color-base;
                }

                .elem-price-old {
                    color: $color-red;
                }

                .elem-price {
                    @media (max-width: $lg) {
                        line-height: 26px;
                    }
                }
            }
        }

        .counter {
            margin: 0 auto;

            @media (max-width: $lg) {
                margin: 0;
                margin-right: auto;
            }
        }

        @media (max-width: $lg) {
            display: block;
        }

        & thead {
            @media (max-width: $lg) {
                display: none;
            }
        }

        & tbody {
            @media (max-width: $lg) {
                display: block;
            }

            & td {
                &.td {
                    @media (max-width: $lg) {
                        // display: block;
                    }
                }
            }

            & tr {
                @media (max-width: $lg) {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                       -moz-box-orient: vertical;
                       -moz-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    position: relative;
                    padding-left: 135px;
                    padding-right: 52px;
                    border-bottom: 1px solid $color-gray-light;
                    padding-bottom: 7px;
                    min-height: 151px;
                    &.tr--add__card {
                        padding-left: 0;
                        padding-right: 0;
                        border-bottom: 0;
                    }

                }

                @media (max-width: $md) {
                    padding-left: 103px;
                    padding-right: 32px;
                    min-height: 104px;
                    padding-bottom: 13px;
                }

                &+tr {
                    @media (max-width: $lg) {
                        margin-top: 20px;
                    }

                    @media (max-width: $md) {
                        margin-top: 16px;
                    }
                }
            }
        }
    }

    // Стили для таблицы со списком заказов в личном кабинете
    &--order {
        @media (max-width: $md) {
            display: block;
        }

        & tr {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
        }

        & td,
        & th {
            display: block;
        }

        & thead {
            @media (max-width: $md) {
                display: none;
            }

            @media (min-width: $md) {
                & th {
                    width: 16%;
                    padding: 15px 0;
                }

                & th:nth-child(2) {
                    width: 20%;
                }
            }
        }

        & tbody {
            border-bottom: 1px solid $color-gray-light;

            @media (max-width: $md) {
                display: block;
            }

            @media (min-width: $md) {
                & tr:not(:first-child) {
                    & td:not(.more-info__col) {
                        border-top: 1px solid $color-gray-light;
                    }
                }
            }


            & tr:not(.more-info) {

                @media (max-width: $md) {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                       -moz-box-orient: vertical;
                       -moz-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    position: relative;
                    padding-right: 92px;
                    padding-bottom: 7px;
                    min-height: 151px;

                    &:not(:first-child) {
                        border-top: 1px solid $color-gray-light;
                    }
                }

                @media (max-width: $md) {
                    padding-right: 72px;
                    min-height: 104px;
                    padding-bottom: 13px;
                    padding-top: 15px;

                    &:first-child {
                        padding-top: 0;

                        & td:not(.more-info__col) {
                            &.td {
                                &--order {
                                    &-status {
                                        top: 0;
                                    }

                                    &-more {
                                        top: 35px;
                                    }
                                }
                            }
                        }
                    }
                }
            }


            & td:not(.more-info__col) {
                padding: 28px 15px 12px;
                border-bottom: 0;

                @media (min-width: $md) {
                    width: 16%;
                    padding-top: 18px;

                    &:nth-child(2) {
                        width: 20%;
                    }
                }

                @media (min-width: $lg) {
                    padding-top: 28px;
                }

                &.td {

                    @media (min-width: $md) {
                        text-align: center;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                           -moz-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;

                        span {
                            margin: 0 auto;
                        }

                        .table__price {
                            padding: 0;
                            -webkit-box-align: center;
                            -webkit-align-items: center;
                               -moz-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                        }
                    }

                    @media (max-width: $md) {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-wrap: wrap;
                            -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                        padding: 6px 8px 7px;
                        border-bottom: 0;
                        font-size: 12px;
                        line-height: 17px;
                    }

                    @media (max-width: $md) {
                        padding: 0;
                        font-size: 10px;
                        line-height: 12px;
                        letter-spacing: 0.1px;
                    }


                    &--order {
                        &-number {
                            @media (max-width: $md) {
                                font-weight: bold;
                            }
                        }

                        &-date {
                            @media (max-width: $md) {
                                margin: 6px 0;
                            }
                        }

                        &-payment {
                            @media (max-width: $md) {
                                margin-top: 6px;
                                -webkit-box-ordinal-group: 2;
                                -webkit-order: 1;
                                   -moz-box-ordinal-group: 2;
                                    -ms-flex-order: 1;
                                        order: 1;
                            }
                        }

                        &-status {
                            @media (max-width: $md) {
                                font-weight: bold;
                                color: $color-red;
                                position: absolute;
                                top: 15px;
                                right: 0;
                            }
                        }

                        &-price {
                            @media (min-width: $md) {
                                .elem-price {
                                    font-size: 16px;
                                    line-height: 22px;
                                }
                            }
                        }

                        &-more {
                            @media (min-width: $lg) {
                                padding-top: 20px;
                            }

                            @media (max-width: $md) {
                                position: absolute;
                                top: 50px;
                                right: 0;
                            }

                            & .icon {
                                height: 32px;
                                width: 32px;

                                &.active {
                                    -webkit-transform: rotateZ(180deg);
                                       -moz-transform: rotateZ(180deg);
                                        -ms-transform: rotate(180deg);
                                         -o-transform: rotateZ(180deg);
                                            transform: rotateZ(180deg);
                                }

                                @media (min-width: $lg) {
                                    width: 41px;
                                    height: 41px;
                                }
                            }
                        }
                    }
                }
            }

            // Раскрывающаяся карточка с подробной информацией о заказе
            & .more-info {
                // display: none;
                background-color: $color-smoke;
                -webkit-border-radius: 8px;
                   -moz-border-radius: 8px;
                        border-radius: 8px;

                height: 0;
                visibility: hidden;
                padding: 0;
                -webkit-transform: scaleY(0);
                   -moz-transform: scaleY(0);
                    -ms-transform: scaleY(0);
                     -o-transform: scaleY(0);
                        transform: scaleY(0);

                &.active {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                       -moz-box-orient: vertical;
                       -moz-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    margin-bottom: 10px;
                    padding: 16px;

                    height: auto;
                    visibility: visible;
                    -webkit-transform: scaleY(1);
                       -moz-transform: scaleY(1);
                        -ms-transform: scaleY(1);
                         -o-transform: scaleY(1);
                            transform: scaleY(1);
                    -webkit-transform-origin: top;
                       -moz-transform-origin: top;
                        -ms-transform-origin: top;
                         -o-transform-origin: top;
                            transform-origin: top;
                    -webkit-transition: -webkit-transform .5s ease-in-out;
                    transition: -webkit-transform .5s ease-in-out;
                    -o-transition: -o-transform .5s ease-in-out;
                    -moz-transition: transform .5s ease-in-out, -moz-transform .5s ease-in-out;
                    transition: transform .5s ease-in-out;
                    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out, -moz-transform .5s ease-in-out, -o-transform .5s ease-in-out;

                    @media (min-width: $md) {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -webkit-flex-direction: row;
                           -moz-box-orient: horizontal;
                           -moz-box-direction: normal;
                            -ms-flex-direction: row;
                                flex-direction: row;
                        -webkit-flex-wrap: wrap;
                            -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                        -webkit-box-pack: justify;
                        -webkit-justify-content: space-between;
                           -moz-box-pack: justify;
                            -ms-flex-pack: justify;
                                justify-content: space-between;
                        margin-bottom: 20px;
                        padding: 28px;
                    }
                }

                &__col {
                    display: block;

                    &:not(:first-child) {
                        margin-top: 20px;

                        @media (min-width: $md) {
                            margin-top: 0;
                        }
                    }

                    @media (min-width: $md) {
                        width: 45%;
                    }

                    @media (min-width: $lg) {
                        width: 27%;
                    }

                    &:nth-child(2) {
                        @media (min-width: $md) {
                            -webkit-box-ordinal-group: 2;
                            -webkit-order: 1;
                               -moz-box-ordinal-group: 2;
                                -ms-flex-order: 1;
                                    order: 1;
                        }

                        @media (min-width: $lg) {
                            -webkit-box-ordinal-group: unset;
                            -webkit-order: unset;
                               -moz-box-ordinal-group: unset;
                                -ms-flex-order: unset;
                                    order: unset;
                        }
                    }
                }

                &__head {
                    font-size: 15px;

                    @media (min-width: $md) {
                        font-size: 20px;
                        line-height: 28px;
                    }

                    @media (min-width: $lg) {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }

                &__list {
                    margin-top: 16px;
                    counter-reset: item2;

                    &--bordered {
                        border-bottom: 1px solid $color-gray-light;
                        padding-bottom: 10px;
                    }
                }

                &__result {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                       -moz-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    font-size: 16px;
                    font-weight: 800;
                    margin-top: 10px;

                    @media (min-width: $md) {
                        font-size: 24px;
                    }
                }

                &__item {
                    font-weight: bold;
                    color: $color-gray;
                    line-height: 2;

                    @media (min-width: $md) {
                        line-height: 2.25;
                    }

                    &-value {
                        font-weight: normal;
                        color: $color-base;

                        &--red {
                            color: $color-red;
                        }
                    }
                }

                &__product {
                    padding-top: 3px;

                    &:not(:first-child) {
                        margin-top: 15px;
                    }

                    &-name {
                        margin-left: 30px;
                    }

                    &:before {
                        content: counter(item2);
                        counter-increment: item2;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        left: 0;
                        top: 1px;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                           -moz-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                           -moz-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        -webkit-border-radius: 50%;
                           -moz-border-radius: 50%;
                                border-radius: 50%;
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: 800;
                        color: $color-white;
                        background: $color-gray;
                    }
                }
            }
        }
    }
}
.add__card {
    background: #f6f6f6;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    padding: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    @media (max-width: 1280px) {
        width: 100%;
    }
    @media (max-width: $md) {
        padding: 22px 9px;
    }
    &--dropdown {
        display: none;
        width: 32px;
        height: 32px;
        position: absolute;
        right: 10px;
        top: 20px;
        @media (max-width: $md) {
            display: block;
            &.active {
                -webkit-transform: rotate(180deg);
                   -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                     -o-transform: rotate(180deg);
                        transform: rotate(180deg);
            }
        }
    }
    &-desctop__block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        @media (max-width: $md) {
            display: none;
            &.active {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
            }
            &.disable {
                display: none;
            }
        }
    }
    &-mobile {
        &__block {
            display: none;
            @media (max-width: $md) {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: space-evenly;
                -webkit-justify-content: space-evenly;
                -moz-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                        justify-content: space-evenly;
                        margin-top: 15px;
                    &.active {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                    }
                    &.disable {
                        display: none;
                    }
            }
            @media (max-width: 560px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                   -moz-box-orient: vertical;
                   -moz-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
        }
        &__images {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            .add__card-block--plus {
                margin: 10px 0;
                margin: 0 15px;
            }
            @media (max-width: 560px) {
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                margin-bottom: 20px;
            }
        }
    }
    &-title {
        margin-bottom: 9px;
        @media (max-width: 1280px) {
            font-size: 24px;
        }
        @media (max-width: $md) {
            font-size: 16px;
            width: 55%;
        }
    }
    &-desc {
        letter-spacing: 0.05em;
        margin-bottom: 31px;
        display: block;
        @media (max-width: 1280px) {
            letter-spacing: 0em;
            font-size: 18px;
        }
        @media (max-width: $md) {
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
    &-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                margin-bottom: 40px;


        &--plus {
            margin: 0 30px;
            @media (max-width: 1280px) {
                margin: 0 5px;
                width: 40px;
            }
            @media (max-width: $md) {
                margin: 10px 0;
            }
        }
        @media (max-width: $md) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
                    margin-bottom: 20px;
        }
    }
    &-block__card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        &--img {
            width: 385px;
            @media (max-width: 1440px) {
                width: 243px;
            }
            @media (max-width: 1280px) {
                width: 193px;
            }
            @media (max-width: $md) {
                width: 255px;
            }
            img {
                width: 100%;
            }
        }
        span {
            font-size: 18px;
            @media (max-width: 1280px) {
                position: absolute;
                bottom: 150px;
                left: 20px;
                span.elem-rub {
                    position: static;
                }
            }
            @media (max-width: $md) {
                position: static;
                font-size: 12px;
                margin: 10px 0;
            }
        }
    }
    &-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        @media (max-width: $md) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        &__item {
            width: 170px;
            text-align: center;
            height: 288px;
            background: #fff;
            padding: 170px 5px 0;
            position: relative;
            -webkit-border-radius: 8px;
               -moz-border-radius: 8px;
                    border-radius: 8px;
            overflow: hidden;
            cursor: pointer;
            border: 1px solid transparent;
            @media (max-width: $md) {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                   -moz-box-orient: vertical;
                   -moz-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                   -moz-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
            @media (max-width: 1280px) {
                width: 120px;
                height: 243px;
                padding: 125px 5px 0;
                .card__price {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                       -moz-box-orient: vertical;
                       -moz-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                       -moz-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    @media (max-width: $md) {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: reverse;
                        -webkit-flex-direction: row-reverse;
                           -moz-box-orient: horizontal;
                           -moz-box-direction: reverse;
                            -ms-flex-direction: row-reverse;
                                flex-direction: row-reverse;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                           -moz-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                                -webkit-box-pack: end;
                                -webkit-justify-content: flex-end;
                                   -moz-box-pack: end;
                                    -ms-flex-pack: end;
                                        justify-content: flex-end;
                                        .elem-price-old {
                                            margin-left: 10px;
                                        }
                    }
                }
            }
            @media (max-width: $md) {
                margin-right: 0;
                padding: 0;
                width: 100%;
                height: 103px;
                margin-bottom: 10px;
                padding-left: 130px;
                padding-right: 5px;
                text-align: left;
            }
            &:not(:last-child) {
                margin-right: 18px;
                @media (max-width: 1280px) {
                    margin-right: 7px;
                }
                @media (max-width: $md) {
                    margin-right: 0;
                }
            }
            &:hover {
                border: 1px solid #F61D2A;
            }
            &:visited {
                border: 1px solid #F61D2A;
                .add__card-list__item--checked {
                    background: #F61D2A;
                }
            }
            &:active {
                border: 1px solid #F61D2A;
                .add__card-list__item--checked {
                    background: #F61D2A;
                }
            }
            &:focus {
                border: 1px solid #F61D2A;
                .add__card-list__item--checked {
                    background: #F61D2A;
                }
            }
            .elem-price-old+.elem-price {
                font-size: 28px;
                line-height: 1em;
                margin-top: -7px;
            }
            p {
                font-size: 14px;
            }
            &.active {
                border: 1px solid #F61D2A;
            }
            &--img {
                position: absolute;
                width: 100%;
                height: 163px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-bottom: 1px solid #f6f6f6;
                @media (max-width: 1280px) {
                    height: 118px;
                }
                @media (max-width: $md) {
                    height: auto;
                    left: 0;
                    width: 120px;
                }
            }
            &--checked {
                width: 32px;
                height: 32px;
                border: 2px solid #F61D2A;
                -webkit-border-radius: 50%;
                   -moz-border-radius: 50%;
                        border-radius: 50%;
                position: absolute;
                top: 8px;
                left: 8px;
                background: #ffffff;
                padding: 2px 0;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                   -moz-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                &.active {
                    background: #F61D2A;
                }
                @media (max-width: 1280px) {
                    padding: 5px 0;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                       -moz-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                       -moz-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                }
                @media (max-width: $md) {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    &-bonus {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        @media (max-width: 1280px) {
            position: absolute;
            bottom: 25px;
            left: 25px;
        }
        @media (max-width: $md) {
            position: static;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }
    &--bonus {
        background: #ffffff;
        border: 1px solid #F61D2A;
        -webkit-border-radius: 12px;
           -moz-border-radius: 12px;
                border-radius: 12px;
        width: 135px;
        height: 122px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
                font-size: 18px;
                span {
                    color: #F61D2A;
                    font-size: 38px;
                    font-weight: 900;
                    @media (max-width: 1280px) {
                        font-size: 28px;
                        font-weight: 900;
                        margin-bottom: 5px;
                    }
                }
                @media (max-width: 1280px) {
                    width: 138px;
                    height: 103px;
                }
                @media (max-width: $md) {
                    height: 68px;
                }
    }
    &--btn {
        margin-left: auto;
        color: #101010;
        font-weight: 900;
        background: transparent;
        border: 1px solid;
        width: 260px;
        @media (max-width: $md) {
            margin: 0 auto;
        }
    }
}
