table {
    table-layout: auto;
    width: 100%;

    & th {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        background: $color-base;
        color: $color-white;
        height: 48px;
        text-align: center;

        &:first-child {
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
        }

        &:last-child {
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }
    }


    & td:not(.more-info__col) {
        padding: 28px 15px 12px;
        border-bottom: 1px solid $color-gray-light;

        &.td {

            @media (max-width: $lg) {
                display: flex;
                flex-wrap: wrap;
                padding: 6px 8px 7px;
                border-bottom: 0;
                font-size: 12px;
                line-height: 17px;
            }

            @media (max-width: $md) {
                padding: 0;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.1px;
            }

            &--null {
                color: $color-gray-light;
            }

            &--img {
                width: 158px;
                max-width: 158px;

                @media (max-width: $lg) {
                    flex-shrink: 0;
                    width: 140px;
                    position: absolute;
                    left: 0;
                    top: 2px;
                    padding: 2px 8px;
                }

                @media (max-width: $md) {
                    padding: 0;
                    width: 91px;
                    top: 0;
                }
            }

            &--img.td--null {
                opacity: 0.5;
            }

            &--favs {
                width: 128px;
                text-align: center;
                opacity: 1;

                @media (max-width: $lg) {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    width: 47px;
                    padding: 0;
                }

                @media (max-width: $md) {
                    top: 39px;
                    width: 28px;
                }

                & .icon {
                    @media (max-width: $md) {
                        height: 24px;
                        width: 24px;
                    }
                }
            }

            &--remove {
                width: 154px;
                text-align: center;
                opacity: 1;

                @media (max-width: $lg) {
                    position: absolute;
                    top: 2px;
                    right: 0;
                    width: 47px;
                    padding: 0;
                }

                @media (max-width: $md) {
                    top: 0;
                    width: 28px;
                }

                & .icon {
                    @media (max-width: $md) {
                        height: 24px;
                        width: 24px;
                    }
                }
            }

            &--articul {
                width: 181px;
                text-align: center;

                & .table__row {
                    justify-content: center;
                }
            }

            &--count {
                width: 157px;
                text-align: center;
                font-weight: 800;

                @media (max-width: $md) {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            &--price {
                width: 172px;
                text-align: center;

                @media (max-width: $md) {
                    width: 100%;
                }
            }
        }
    }
}

.table {
    &__footer {
        margin-top: 33px;

        @media (max-width: $lg) {
            margin-top: 24px;
        }

        & .price-list {
            padding-top: 6px;
            padding-right: 0;
            margin-left: auto;
            margin-bottom: 0;

            @media (max-width: $lg) {
                margin-bottom: 0;
            }
        }

        & .elem-item {
            margin-bottom: 0;

            @media (max-width: $lg) {
                margin-bottom: 13px;
            }
        }

        & .elem-btn {
            margin-top: auto;

            @media (max-width: $lg) {
                height: 44px;
                font-size: 13px;
            }

            @media (max-width: $md) {
                font-size: 12px;
            }
        }
    }

    &__btn {
        margin-top: 42px;

        @media (max-width: $lg) {
            margin-top: 26px;
        }

        @media (max-width: $md) {
            margin-top: 19px;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;

        &+& {
            @media (max-width: $md) {
                margin-top: 16px;
            }
        }
    }

    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        @media (max-width: $lg) {
            width: 100%;
        }

        @media (max-width: $md) {
            flex-wrap: wrap;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &+& {
            margin-top: auto;
        }

        & .row {
            width: calc(100% + 24px);
        }
    }

    &__item {
        margin-right: 43px;

        @media (max-width: $lg) {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }

        @media (max-width: $md) {
            margin-right: 12px;
            margin-bottom: 12px;
        }

        &:last-child {
            @media (max-width: $md) {
                margin-right: 0;
            }
        }

        &-articul {
            @media (max-width: $md) {
                width: 100%;
                margin-right: 0;
            }
        }

        &-title {
            margin-bottom: 8px;

            @media (max-width: $lg) {
                margin-bottom: 0;
                margin-right: 4px;
            }
        }

        &-text {
            line-height: 20px;

            @media (max-width: $md) {
                line-height: 12px;
            }
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 800;
    }

    &__name {
        @media (max-width: $lg) {
            order: 1;
            margin-bottom: 0;
            margin-top: 8px;
        }

        @media (max-width: $md) {
            order: inherit;
            margin-top: 0;
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 12px;
        }
    }

    &__text {
        color: $color-gray;
        font-size: 14px;
        line-height: 20px;
        font-weight: 800;
        margin-left: 24px;

        @media (max-width: $lg) {
            font-size: 12px;
            line-height: 17px;
        }

        @media (max-width: $md) {}
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: $lg) {
            flex-direction: row-reverse;
            align-items: flex-end;
            padding-top: 3px;
        }
    }

    &--cart {

        & .table__price {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            @media (max-width: $lg) {
                align-items: flex-start;
            }
        }

        .counter {
            margin: 0 auto;

            @media (max-width: $lg) {
                margin: 0;
                margin-right: auto;
            }
        }

        @media (max-width: $lg) {
            display: block;
        }

        & thead {
            @media (max-width: $lg) {
                display: none;
            }
        }

        & tbody {
            @media (max-width: $lg) {
                display: block;
            }

            & td {
                &.td {
                    @media (max-width: $lg) {
                        display: block;
                    }
                }
            }

            & tr {
                @media (max-width: $lg) {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    padding-left: 135px;
                    padding-right: 52px;
                    border-bottom: 1px solid $color-gray-light;
                    padding-bottom: 7px;
                    min-height: 151px;


                }

                @media (max-width: $md) {
                    padding-left: 103px;
                    padding-right: 32px;
                    min-height: 104px;
                    padding-bottom: 13px;
                }

                &+tr {
                    @media (max-width: $lg) {
                        margin-top: 20px;
                    }

                    @media (max-width: $md) {
                        margin-top: 16px;
                    }
                }
            }
        }
    }

    // Стили для таблицы со списком заказов в личном кабинете
    &--order {
        @media (max-width: $md) {
            display: block;
        }

        & tr {
            display: flex;
            width: 100%;
        }

        & td,
        & th {
            display: block;
        }

        & thead {
            @media (max-width: $md) {
                display: none;
            }

            @media (min-width: $md) {
                & th {
                    width: 16%;
                    padding: 15px 0;
                }

                & th:nth-child(2) {
                    width: 20%;
                }
            }
        }

        & tbody {
            border-bottom: 1px solid $color-gray-light;
            
            @media (max-width: $md) {
                display: block;
            }

            @media (min-width: $md) {
                & tr:not(:first-child) {
                    & td:not(.more-info__col) {
                        border-top: 1px solid $color-gray-light;
                    }
                }
            }


            & tr:not(.more-info) {
                
                @media (max-width: $md) {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    padding-right: 92px;
                    padding-bottom: 7px;
                    min-height: 151px;

                    &:not(:first-child) {
                        border-top: 1px solid $color-gray-light;
                    }
                }

                @media (max-width: $md) {
                    padding-right: 72px;
                    min-height: 104px;
                    padding-bottom: 13px;
                    padding-top: 15px;

                    &:first-child {
                        padding-top: 0;

                        & td:not(.more-info__col) {
                            &.td {
                                &--order {
                                    &-status {
                                        top: 0;
                                    }

                                    &-more {
                                        top: 35px;
                                    }
                                }
                            }
                        }
                    }
                }               
            }


            & td:not(.more-info__col) {
                padding: 28px 15px 12px;
                border-bottom: 0;

                @media (min-width: $md) {
                    width: 16%;
                    padding-top: 18px;

                    &:nth-child(2) {
                        width: 20%;
                    }
                }

                @media (min-width: $lg) {
                    padding-top: 28px;
                }

                &.td {

                    @media (min-width: $md) {
                        text-align: center;
                        justify-content: center;

                        span {
                            margin: 0 auto;
                        }

                        .table__price {
                            padding: 0;
                            align-items: center;
                        }
                    }

                    @media (max-width: $md) {
                        display: flex;
                        flex-wrap: wrap;
                        padding: 6px 8px 7px;
                        border-bottom: 0;
                        font-size: 12px;
                        line-height: 17px;
                    }

                    @media (max-width: $md) {
                        padding: 0;
                        font-size: 10px;
                        line-height: 12px;
                        letter-spacing: 0.1px;
                    }


                    &--order {
                        &-number {
                            @media (max-width: $md) {
                                font-weight: bold;
                            }
                        }

                        &-date {
                            @media (max-width: $md) {
                                margin: 6px 0;
                            }
                        }

                        &-payment {
                            @media (max-width: $md) {
                                margin-top: 6px;
                                order: 1;
                            }
                        }

                        &-status {
                            @media (max-width: $md) {
                                font-weight: bold;
                                color: $color-red;
                                position: absolute;
                                top: 15px;
                                right: 0;
                            }
                        }

                        &-price {
                            @media (min-width: $md) {
                                .elem-price {
                                    font-size: 16px;
                                    line-height: 22px;
                                }
                            }
                        }

                        &-more {
                            @media (min-width: $lg) {
                                padding-top: 20px;
                            }

                            @media (max-width: $md) {
                                position: absolute;
                                top: 50px;
                                right: 0;
                            }

                            & .icon {
                                height: 32px;
                                width: 32px;

                                &.active {
                                    transform: rotateZ(180deg);
                                }

                                @media (min-width: $lg) {
                                    width: 41px;
                                    height: 41px;
                                }
                            }
                        }
                    }
                }
            }

            // Раскрывающаяся карточка с подробной информацией о заказе
            & .more-info {
                // display: none;
                background-color: $color-smoke;
                border-radius: 8px;
                
                height: 0;
                visibility: hidden;
                padding: 0;
                transform: scaleY(0);
                
                &.active {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    padding: 16px;

                    height: auto;
                    visibility: visible;
                    transform: scaleY(1);
                    transform-origin: top;
                    transition: transform .5s ease-in-out;

                    @media (min-width: $md) {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        padding: 28px;
                    }
                }

                &__col {
                    display: block;
                    
                    &:not(:first-child) {
                        margin-top: 20px;

                        @media (min-width: $md) {
                            margin-top: 0;
                        }
                    }

                    @media (min-width: $md) {
                        width: 45%;
                    }

                    @media (min-width: $lg) {
                        width: 27%;
                    }

                    &:nth-child(2) {
                        @media (min-width: $md) {
                            order: 1;
                        }

                        @media (min-width: $lg) {
                            order: unset;
                        }
                    }
                }

                &__head {
                    font-size: 15px;

                    @media (min-width: $md) {
                        font-size: 20px;
                        line-height: 28px;
                    }

                    @media (min-width: $lg) {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }

                &__list {
                    margin-top: 16px;
                    counter-reset: item2;

                    &--bordered {
                        border-bottom: 1px solid $color-gray-light;
                        padding-bottom: 10px;
                    }
                }

                &__result {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    font-weight: 800;
                    margin-top: 10px;

                    @media (min-width: $md) {
                        font-size: 24px;
                    }
                }

                &__item {
                    font-weight: bold;
                    color: $color-gray;
                    line-height: 2;

                    @media (min-width: $md) {
                        line-height: 2.25;
                    }

                    &-value {
                        font-weight: normal;
                        color: $color-base;

                        &--red {
                            color: $color-red;
                        }
                    }
                }

                &__product {
                    padding-top: 3px;

                    &:not(:first-child) {
                        margin-top: 15px;
                    }

                    &-name {
                        margin-left: 30px;
                    }

                    &:before {
                        content: counter(item2);
                        counter-increment: item2;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        left: 0;
                        top: 1px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: 800;
                        color: $color-white;
                        background: $color-gray;                        
                    }
                }
            }
        }
    }
}