.hamburger {
    transition:.25s ease-in-out;
    width:44px;
    height:44px;
    position:relative;
    position:relative;
    cursor:pointer;
    z-index: 1001;
    right: -8px;
    margin-left: 21px;

    &:hover {
        background:rgba($color-white, 0.4);
    }

    &__menu {
        position:absolute;
        transition:.25s ease-in-out;
        height:100%;
        width:100%;
    }

    &__line {
        display:block;
        background: $color-base;
        width:26px;
        height:1px;
        position: absolute;;
        top: 50%;
        left: 50%;
        margin-left: -13px;
        margin-top: -1px;
        transition:.25s ease-in-out;

        .open & {
            width:0%;
        }

        &:nth-child(2){
            transition-delay:.625s;
            margin-top: -10px;

            .open & {
                transition-delay:.125s;
                width:0%;
            }
        }

        &:nth-child(3){
            transition-delay:.75s;
            margin-top: 8px;

            .open & {
                transition-delay:.25s;
                width:0%;
            }
        }
    }

    &__cross {
        position:absolute;
        height:100%;
        width:100%;
        transform:rotate(45deg);
        transition:.25s ease-in-out;

        &-line {
            display:block;
            background:$color-base;
            transition:.25s ease-in-out;

            &:nth-child(1){
                height:0%;
                width:1px;
                position:absolute;
                top:50%;
                left:50%;
                transition-delay:0s;
                margin-left: -1px;
                margin-top: -13px;

                .open & {
                    height: 26px;
                    transition-delay:.625s;
                }
              }

              &:nth-child(2){
                width:0%;
                height:1px;
                position:absolute;
                left:50%;
                top: 50%;
                transition-delay:.25s;
                margin-top: -1px;
                margin-left: -13px;

                .open & {
                    width: 26px;
                    transition-delay:.375s;
                }
              }
        }
    }
}
