{% macro hamburger() %}
    <div class="hamburger" data-hamburger>
        <div class="hamburger__menu">
            <span class="hamburger__line"></span>
            <span class="hamburger__line"></span>
            <span class="hamburger__line"></span>
        </div>
        <div class="hamburger__cross">
            <span class="hamburger__cross-line"></span>
            <span class="hamburger__cross-line"></span>
        </div>
    </div>
{% endmacro %}
