.popup {
    background: $color-white;
    border-radius: 10px;
    padding: 26px 24px;
    position: relative;
    margin: 40px auto;

    @media (max-width: $lg) {
        padding-left: 29px;
        padding-right: 29px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media (max-width: $sm) {
        margin: 0 auto;
        min-height: 100vh;
        border-radius: 0;
        padding: 18px 16px;
    }

    &--small {
        max-width: 384px;

        @media (max-width: $lg) {
            max-width: 392px;
        }
    }

    &--lg {
        max-width: 824px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;

        @media (max-width: $lg) {
            max-width: 656px;
            padding-left: 28px;
            padding-right: 28px;
            padding-bottom: 28px;
        }

        @media (max-width: $md) {
            padding: 16px;
        }
    }

    &--xl {
        max-width: 1048px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;

        @media (max-width: $lg) {
            max-width: 656px;
            padding-left: 28px;
            padding-right: 28px;
            padding-bottom: 28px;
        }

        @media (max-width: $md) {
            padding: 16px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 31px;

        @media (max-width: $lg) {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 20px;
        }

        @media (max-width: $sm) {
            text-align: left;
            border-bottom: 1px solid $color-gray;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

        &--xs {
            @media (max-width: $sm) {
                padding-bottom: 10px;
                margin-bottom: 12px;
            }
        }

        &--map {
            margin-top: 17px;
            margin-bottom: 27px;

            @media (max-width: $md) {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 15px;
                margin-top: 0;
            }
        }
    }

    & p {
        @media (max-width: $lg) {
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0;
            margin-bottom: 24px;
        }

        @media (max-width: $sm) {
            font-size: 12px;
            line-height: 17px;
            letter-spacing: -0.2px;
            margin-bottom: 16px;
        }
    }

    &__btn {
        margin-top: 16px;
        margin-bottom: 31px;

        @media (max-width: $lg) {
            margin-bottom: 16px;
        }

        @media (max-width: $sm) {
            margin-top: 12px;
            margin-bottom: 15px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
    }

    &__link {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
    }

    &__search {
        position: relative;
    }

    &__in {
        @media (max-width: $lg) {
            margin-bottom: 28px;
        }

        @media (max-width: $md) {
            margin-bottom: 4px;
        }
    }

    & .mfp-close {
        height: 32px;
        width: 32px;
        background: $color-base;
        border-radius: 50%;
        text-indent: -9999px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.71152 7.99497L15.8515 0.844975C15.8975 0.799012 15.9339 0.744447 15.9588 0.684393C15.9837 0.62434 15.9965 0.559976 15.9965 0.494975C15.9965 0.429974 15.9837 0.365609 15.9588 0.305556C15.9339 0.245503 15.8975 0.190937 15.8515 0.144975C15.8056 0.099012 15.751 0.0625526 15.6909 0.0376778C15.6309 0.012803 15.5665 -1.28133e-09 15.5015 0C15.4365 1.28133e-09 15.3722 0.012803 15.3121 0.0376778C15.252 0.0625526 15.1975 0.099012 15.1515 0.144975L8.00152 7.28497L0.851519 0.144975C0.758693 0.0521489 0.632794 0 0.501519 0C0.370243 0 0.244345 0.0521489 0.151519 0.144975C0.0586931 0.2378 0.00654411 0.363699 0.00654411 0.494975C0.00654411 0.62625 0.0586931 0.752149 0.151519 0.844975L7.29152 7.99497L0.151519 15.145C0.103688 15.1899 0.0655657 15.2441 0.0395055 15.3043C0.0134452 15.3645 0 15.4294 0 15.495C0 15.5606 0.0134452 15.6255 0.0395055 15.6857C0.0655657 15.7459 0.103688 15.8001 0.151519 15.845C0.196409 15.8928 0.250626 15.9309 0.310824 15.957C0.371022 15.983 0.435922 15.9965 0.501519 15.9965C0.567115 15.9965 0.632016 15.983 0.692214 15.957C0.752411 15.9309 0.806629 15.8928 0.851519 15.845L8.00152 8.70498L15.1515 15.845C15.1964 15.8928 15.2506 15.9309 15.3108 15.957C15.371 15.983 15.4359 15.9965 15.5015 15.9965C15.5671 15.9965 15.632 15.983 15.6922 15.957C15.7524 15.9309 15.8066 15.8928 15.8515 15.845C15.8993 15.8001 15.9375 15.7459 15.9635 15.6857C15.9896 15.6255 16.003 15.5606 16.003 15.495C16.003 15.4294 15.9896 15.3645 15.9635 15.3043C15.9375 15.2441 15.8993 15.1899 15.8515 15.145L8.71152 7.99497Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 17px auto;
        position: absolute;
        right: -14px;
        top: -14px;
        opacity: 1;

        @media (max-width: $sm) {
            background-color: transparent;
            top: 12px;
            right: 11px;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17L17 1M17 17L1 1' stroke='%23101010' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-size: 18px auto;
        }
    }

    & .row {
        @media (max-width: $md) {
            margin-left: -5px;
            margin-right: -5px;
        }

        & > * {
            @media (max-width: $md) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    & .elem-item {
        @media (max-width: $sm) {
            margin-bottom: 12px;
        }

        &--last {
            margin-bottom: 0;
        }
    }

    & .elem-btn {
        @media (max-width: $lg) {
            height: 44px;
            font-size: 13px;
            line-height: 16px;
            width: 272px;
            margin-left: auto;
            margin-right: auto;
            max-width: 272px;
            min-width: 272px;
        }

        @media (max-width: $md) {
            min-width: 100%;
            max-width: 100%;
            padding: 0 10px;
        }

        @media (max-width: $sm) {
            height: 44px;
            width: 100%;
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__map {
        margin-top: 14px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.mfp-container {
    @media (max-width: $sm) {
        padding-left: 0;
        padding-right: 0;
    }
}
