<div id="login" class="popup popup--small mfp-hide">
    <h2 class="popup__title">Авторизация</h2>

    <form action="">
        <div class="elem-item">
            <label class="elem-label" required>Ваш номер телефона</label>
            <input type="tel" class="elem-input" placeholder="+ 7 (___) ___-__-__" data-phone tabindex="0">
        </div>
        <div class="elem-btn__wrap popup__btn">
            <button class="elem-btn">Получить код </button>
        </div>

        {% include '../sms/sms.twig' %}

        <div class="popup__links hidden-xs hidden-sm hidden-md">
            <a href="#reg" class="popup__link" data-popup-modal>У вас нет учетной записи? <br>Зарегистрироваться.</a>
        </div>

        <h2 class="popup__title popup__title--xs  hidden-lg hidden-xl">Нет учетной записи?</h2>
        <p class=" hidden-lg hidden-xl">Зарегистрируйтесь и получите все преимущества зарегистрированого клиента!</p>
        <div class="elem-btn__wrap hidden-lg hidden-xl">
            <a href="#reg" class="elem-btn" data-popup-modal>Зарегистрироваться</a>
        </div>
    </form>
</div>

<div id="reg" class="popup popup--small mfp-hide">
    <h2 class="popup__title">Регистрация</h2>

    <form action="">
        <div class="elem-item">
            <label class="elem-label" required>Ваше имя</label>
            <input type="text" class="elem-input" placeholder="Имя" tabindex="0">
        </div>
        <div class="elem-item">
            <label class="elem-label" required>Ваш e-mail</label>
            <input type="email" class="elem-input" placeholder="Введите эл. почту" tabindex="1">
        </div>

        <div class="elem-item elem-item--radio">
            <label class="elem-radio">
                <input type="radio" class="elem-radio__input">
                <div class="elem-radio__span">Я хочу получать новостную рассылку</div>
            </label>
        </div>

        <div class="elem-item">
            <label class="elem-label" required>Ваш номер телефона</label>
            <input type="tel" class="elem-input" placeholder="+ 7 (___) ___-__-__" data-phone tabindex="0">
        </div>
        <div class="elem-btn__wrap popup__btn">
            <button class="elem-btn">Получить код </button>
        </div>

        {% include '../sms/sms.twig' %}
    </form>
</div>

<div id="pvz" class="popup popup--lg mfp-hide">
    <h2 class="popup__title popup__title--map text-center">Выберите пункт выдачи заказа</h2>
    <div class="popup__search">
        <input type="text" class="elem-input elem-input--city" placeholder="Поиск города" data-autocomplete-city>
        <div class="ui-autocomplete__wrap"></div>
    </div>

    <div class="popup__map">
        <div class="map map--popup" id="map10" data-map="city"></div>
    </div>
</div>

<div id="courier" class="popup popup--xl mfp-hide">
    <h2 class="popup__title popup__title--map text-center">Укажите адрес доставки</h2>

    <div class="row">
        <div class="col-12 col-xl-4 col-lg-4 popup__in">
            <div class="row">
                <div class="elem-item elem-item--md col-12 col-md-6 col-lg-12">
                    <label class="elem-label">Город</label>
                    <input type="text" class="elem-input">
                </div>
                <div class="elem-item elem-item--md col-12 col-md-6 col-lg-12">
                    <label class="elem-label">Улица</label>
                    <input type="text" class="elem-input">
                </div>
                <div class="elem-item elem-item--md col-12 col-md-6 col-lg-12">
                    <label class="elem-label">Дом</label>
                    <input type="text" class="elem-input">
                </div>
                <div class="elem-item elem-item--md col-12 col-md-6 col-lg-12">
                    <label class="elem-label">Квартира</label>
                    <input type="text" class="elem-input">
                </div>
            </div>
            <div class="elem-item  elem-item--last text-center">
                <a href="#" class="elem-btn elem-btn--full" data-courier-adress>Привезти сюда</a>
            </div>
        </div>
        <div class="col-12 col-xl-8 col-lg-8">
            <div class="popup__map">
                <div class="map map--popup map--popup-sm" id="map11" data-map></div>
            </div>
        </div>
    </div>
</div>
